In [1]:
import pandas as pd 
import matplotlib.pyplot as plt
import numpy as np

In [2]:
tenants = "Tenant_History.csv"
tenants_df = pd.read_csv(tenants, header=1)
#tenants_df.columns
tenants_df["DateMoveOut"]

0              NaN
1              NaN
2              NaN
3              NaN
4              NaN
5              NaN
6              NaN
7              NaN
8              NaN
9              NaN
10             NaN
11             NaN
12             NaN
13       12/3/2016
14             NaN
15             NaN
16             NaN
17             NaN
18             NaN
19             NaN
20             NaN
21             NaN
22             NaN
23             NaN
24             NaN
25             NaN
26             NaN
27             NaN
28             NaN
29             NaN
           ...
88312     1/4/2019
88313          NaN
88314          NaN
88315          NaN
88316          NaN
88317          NaN
88318          NaN
88319          NaN
88320          NaN
88321          NaN
88322          NaN
88323          NaN
88324          NaN
88325          NaN
88326          NaN
88327          NaN
88328          NaN
88329          NaN
88330          NaN
88331          NaN
88332          NaN
88333    3/31/2019
88334    3/31/2019
88335    3/31/2019
88336          NaN
88337          NaN
88338    2/28/2019
88339    2/28/2019
88340    2/28/2019
88341          NaN
Name: DateMoveOut, Length: 88342, dtype: object

In [3]:
tenants_df = tenants_df.dropna(subset = ["DateMoveOut"])
tenants_df = tenants_df.drop(columns = ["Ref_Property_ID", "Ext_Ref_Tenant_Id", "Ref_Unit_Id"])

In [4]:
rent_change = tenants_df.loc[tenants_df["Event"] == "Rent Change"]
rent_change = rent_change.groupby("Property_Code")
rent_change.head(25)

,Property_Code,Date,Tenant_Code,Event,DateOccurred,Unit_Code,DateApply,DateApprove,DateSign,DateMoveIn,...,DateNotice,RentedEvent,UnRentedEvent,Status,Rent,Deposit,Sqft,Notes,Reason,MTM
2046,sh,5/31/2017,t0029064,Rent Change,5/31/2017,FT5833,4/6/2016,4/7/2016,4/15/2016,4/15/2016,...,5/30/2017,0,0,4,1020.0,99.0,0.0,NaN,NaN,0.0
2063,sh,5/31/2017,t0029596,Rent Change,5/31/2017,TT1179,5/26/2016,5/26/2016,5/27/2016,5/28/2016,...,5/30/2017,0,0,4,1008.0,99.0,0.0,NaN,NaN,0.0
2898,fh,6/30/2018,t0033705,Rent Change,6/30/2018,1031C,6/12/2015,NaN,6/12/2015,6/12/2015,...,5/13/2018,0,0,4,1000.0,0.0,0.0,NaN,NaN,0.0
2903,fh,6/30/2018,t0034092,Rent Change,6/30/2018,1071D,7/27/2017,NaN,7/27/2017,8/5/2017,...,6/11/2018,0,0,4,974.0,99.0,0.0,NaN,NaN,0.0
3054,ce,3/31/2018,t0024509,Rent Change,3/31/2018,M0032C,1/20/2015,1/21/2015,1/21/2015,4/23/2015,...,3/23/2018,0,0,4,748.0,99.0,0.0,NaN,NaN,-1.0
5862,ce,4/20/2015,t0019995,Rent Change,4/20/2015,S1458H,4/9/2014,4/10/2014,5/5/2014,5/11/2014,...,5/28/2014,0,0,2,619.0,0.0,0.0,NaN,NaN,0.0
6341,ce,5/11/2015,t0019995,Rent Change,5/11/2015,S1452J,4/9/2014,4/10/2014,5/5/2014,5/11/2015,...,5/28/2014,0,0,2,629.0,0.0,0.0,NaN,NaN,0.0
6902,ce,5/31/2015,t0014043,Rent Change,5/31/2015,S1500-5E,1/31/2013,NaN,1/31/2013,1/31/2013,...,5/15/2015,0,0,4,713.0,170.0,0.0,NaN,NaN,0.0
11760,sh,9/30/2015,t0017586,Rent Change,9/30/2015,AC1064,8/9/2013,NaN,8/9/2013,8/9/2013,...,6/30/2015,0,0,4,990.0,99.0,0.0,NaN,NaN,0.0
12350,sh,2/28/2014,t0017762,Rent Change,2/28/2014,FT5892E,3/8/2013,NaN,3/8/2013,3/8/2013,...,2/26/2014,0,0,4,1099.0,99.0,0.0,NaN,NaN,0.0
12357,sh,2/28/2014,t0017387,Rent Change,2/28/2014,SH5936,12/1/2013,NaN,12/1/2013,10/5/2012,...,3/31/2014,0,0,0,646.0,99.0,0.0,NaN,NaN,0.0
20015,ce,5/31/2014,t0019995,Rent Change,5/31/2014,C5303L,4/9/2014,4/10/2014,5/5/2014,5/1/2014,...,5/28/2014,0,0,4,609.0,99.0,0.0,NaN,NaN,0.0
20021,ce,5/31/2014,t0014161,Rent Change,5/31/2014,M0016E,10/1/2012,NaN,10/1/2012,9/9/2011,...,3/1/2014,0,0,4,680.0,660.0,0.0,NaN,NaN,0.0
21922,ce,6/30/2016,t0014350,Rent Change,6/30/2016,C5324M,5/9/2013,5/9/2013,6/13/2013,6/13/2013,...,5/31/2016,0,0,4,685.0,99.0,0.0,NaN,NaN,-1.0
21981,sh,6/30/2016,t0025716,Rent Change,6/30/2016,WC5933C,7/16/2015,7/16/2015,7/17/2015,7/31/2015,...,6/28/2016,0,0,4,0.0,628.0,0.0,NaN,NaN,0.0
22780,ce,7/31/2014,t0013802,Rent Change,7/31/2014,C5252A,8/1/2012,NaN,8/1/2012,8/1/2010,...,7/29/2014,0,0,4,628.0,190.0,0.0,NaN,NaN,-1.0
22856,sh,8/1/2014,t0017403,Rent Change,8/1/2014,TH5979,8/1/2013,NaN,8/1/2013,7/31/2012,...,7/31/2014,0,0,4,700.0,99.0,0.0,NaN,NaN,-1.0
23178,sh,7/14/2016,t0025716,Rent Change,7/14/2016,WC5933C,7/16/2015,7/16/2015,7/17/2015,7/31/2015,...,6/28/2016,0,0,4,628.0,628.0,0.0,NaN,NaN,0.0
25885,sh,8/23/2016,t0025813,Rent Change,8/23/2016,WC5970J,7/30/2015,7/30/2015,8/6/2015,8/7/2015,...,8/22/2016,0,0,4,607.0,99.0,0.0,NaN,NaN,-1.0
27182,sh,9/30/2016,t0019808,Rent Change,9/30/2016,WC5960L,3/21/2014,3/21/2014,4/10/2014,4/25/2014,...,9/26/2016,0,0,4,641.0,99.0,0.0,NaN,NaN,0.0
31018,ce,4/30/2013,t0013869,Rent Change,4/30/2013,C5303J,6/1/2011,NaN,6/1/2011,6/1/2010,...,4/30/2013,0,0,4,570.0,170.0,0.0,NaN,NaN,-1.0
31206,ce,4/30/2013,t0014066,Rent Change,4/30/2013,S1500-7E,9/1/2012,NaN,9/1/2012,8/29/2008,...,4/18/2013,0,0,4,880.0,300.0,0.0,NaN,NaN,0.0
33822,ce,3/1/2015,t0014200,Rent Change,3/1/2015,M0030B,12/1/2012,NaN,12/1/2012,11/29/2010,...,12/23/2014,0,0,4,657.0,170.0,0.0,NaN,NaN,0.0
33830,ce,3/1/2015,t0016146,Rent Change,3/1/2015,S1500-7E,11/15/2013,11/18/2013,11/26/2013,11/30/2013,...,2/25/2015,0,0,4,899.0,99.0,0.0,NaN,NaN,0.0
43442,fh,4/30/2018,t0033785,Rent Change,4/30/2018,1088A,5/8/2017,NaN,5/8/2017,5/9/2017,...,4/6/2018,0,0,4,901.0,250.0,0.0,NaN,NaN,0.0
46865,ce,1/31/2018,t0013949,Rent Change,1/31/2018,S1452F,11/1/2012,NaN,11/1/2012,10/30/2003,...,1/10/2018,0,0,4,665.0,100.0,0.0,NaN,NaN,0.0
46897,mpg,1/31/2018,t0034377,Rent Change,1/31/2018,2034-05B,1/27/2017,NaN,1/27/2017,1/28/2017,...,1/18/2018,0,0,4,1499.0,99.0,0.0,NaN,NaN,0.0
48715,sh,7/31/2018,t0040340,Rent Change,7/31/2018,SH5842,7/28/2017,7/28/2017,7/31/2017,7/31/2017,...,7/1/2018,0,0,4,759.0,709.0,0.0,NaN,NaN,0.0
48841,fh,7/31/2018,t0034689,Rent Change,7/31/2018,1133D,9/6/2017,9/6/2017,9/6/2017,9/10/2017,...,7/2/2018,0,0,4,1090.0,99.0,0.0,NaN,NaN,0.0
51572,fh,5/31/2018,t0033740,Rent Change,5/31/2018,1062D,2/4/2015,NaN,2/4/2015,2/1/2014,...,5/23/2018,0,0,4,970.0,200.0,0.0,NaN,NaN,0.0
51575,fh,5/31/2018,t0033757,Rent Change,5/31/2018,1071A,6/10/2017,NaN,6/10/2017,6/10/2017,...,5/8/2018,0,0,4,900.0,850.0,0.0,NaN,NaN,-1.0
52765,sh,12/31/2016,t0026752,Rent Change,12/31/2016,FT5789,10/10/2015,1/7/2016,1/15/2016,1/15/2016,...,12/13/2016,0,0,4,1007.0,99.0,0.0,NaN,NaN,NaN
53061,sh,3/31/2017,t0024564,Rent Change,3/31/2017,WC5950H,1/28/2015,1/28/2015,1/31/2015,1/31/2015,...,1/19/2017,0,0,4,0.0,99.0,0.0,NaN,NaN,0.0
57227,ce,9/30/2017,t0029820,Rent Change,9/30/2017,M0038B,6/15/2016,6/15/2016,6/16/2016,9/23/2016,...,8/4/2017,0,0,4,728.0,728.0,0.0,NaN,NaN,0.0
61064,sh,4/30/2017,t0024658,Rent Change,4/30/2017,TT1178,2/13/2015,2/13/2015,2/23/2015,2/28/2015,...,4/19/2017,0,0,4,1023.0,99.0,0.0,NaN,NaN,0.0
61076,ce,4/30/2017,t0028429,Rent Change,4/30/2017,C5250F,2/10/2016,2/10/2016,2/10/2016,4/16/2016,...,4/5/2017,0,0,4,709.0,99.0,0.0,NaN,NaN,0.0
61273,ce,2/28/2017,t0026879,Rent Change,2/28/2017,M0006D,11/3/2015,11/3/2015,11/3/2015,11/7/2015,...,2/25/2017,0,0,4,913.0,99.0,0.0,NaN,NaN,0.0
61323,sh,2/28/2017,t0024564,Rent Change,2/28/2017,WC5950H,1/28/2015,1/28/2015,1/31/2015,1/31/2015,...,1/19/2017,0,0,4,665.0,99.0,0.0,NaN,NaN,0.0
63571,ce,6/30/2017,t0031432,Rent Change,6/30/2017,S1458C,11/28/2016,11/28/2016,11/28/2016,1/7/2017,...,6/7/2017,0,0,4,679.0,657.0,0.0,NaN,NaN,0.0
63574,ce,6/30/2017,t0025285,Rent Change,6/30/2017,S1500-1G,5/14/2015,5/15/2015,5/15/2015,7/24/2015,...,6/5/2017,0,0,4,779.0,99.0,0.0,NaN,NaN,0.0
63773,sh,8/31/2017,t0030319,Rent Change,8/31/2017,SH5900,7/29/2016,7/30/2016,8/4/2016,9/15/2016,...,8/18/2017,0,0,4,719.0,99.0,0.0,NaN,NaN,0.0
63798,ce,8/31/2017,t0030807,Rent Change,8/31/2017,C0007M,9/7/2016,9/7/2016,9/7/2016,9/17/2016,...,8/1/2017,0,0,4,700.0,677.0,0.0,NaN,NaN,0.0
63801,ce,8/31/2017,t0030058,Rent Change,8/31/2017,C5250H,7/7/2016,7/14/2016,7/14/2016,9/30/2016,...,8/24/2017,0,0,4,773.0,99.0,0.0,NaN,NaN,0.0
63803,ce,8/31/2017,t0030688,Rent Change,8/31/2017,C5252G,8/25/2016,8/26/2016,8/26/2016,9/13/2016,...,8/2/2017,0,0,4,746.0,99.0,0.0,NaN,NaN,0.0
63831,ce,8/31/2017,t0029820,Rent Change,8/31/2017,M0038B,6/15/2016,6/15/2016,6/16/2016,9/23/2016,...,8/4/2017,0,0,4,753.0,728.0,0.0,NaN,NaN,0.0
66496,sh,6/12/2018,t0032387,Rent Change,6/12/2018,SH5908,2/20/2017,2/21/2017,3/3/2017,3/17/2017,...,5/6/2018,0,0,3,745.0,99.0,0.0,NaN,NaN,0.0
67125,ce,12/1/2017,t0030058,Rent Change,12/1/2017,C5250H,7/7/2016,7/14/2016,7/14/2016,9/30/2016,...,8/24/2017,0,0,4,724.0,99.0,0.0,NaN,NaN,0.0
67126,ce,12/1/2017,t0027672,Rent Change,12/1/2017,C5252L,12/15/2015,12/15/2015,12/15/2015,12/26/2015,...,11/6/2017,0,0,4,762.0,99.0,0.0,NaN,NaN,0.0
67724,sh,12/31/2017,t0031687,Rent Change,12/31/2017,FT5906K,1/3/2017,1/3/2017,1/6/2017,1/12/2017,...,12/12/2017,0,0,4,619.0,99.0,0.0,NaN,NaN,0.0
67749,ce,12/31/2017,t0031602,Rent Change,12/31/2017,M0006A,12/19/2016,12/19/2016,12/19/2016,1/2/2017,...,12/19/2017,0,0,4,918.0,99.0,0.0,NaN,NaN,0.0
74522,fh,8/31/2018,t0036358,Rent Change,8/31/2018,1141A,9/23/2017,9/25/2017,9/27/2017,9/30/2017,...,7/24/2018,0,0,4,979.0,975.0,0.0,NaN,NaN,0.0

In [7]:
sh = tenants_df.loc[tenants_df["Property_Code"] == "sh"]
sh_rent = sh.loc[sh["Event"] == "Rent Change"]
sh_rent.head(25)
sh_rent["DateMoveOut"]

2046      7/29/2017
2063      7/27/2017
11760    11/30/2015
12350      4/1/2014
12357     5/31/2014
21981     8/31/2016
22856     9/21/2014
23178     8/31/2016
25885     8/31/2016
27182    11/30/2016
48715      9/3/2018
52765     2/13/2017
53061     5/31/2017
61064     6/30/2017
61323     5/31/2017
63773    10/18/2017
66496     7/31/2018
67724     2/11/2018
Name: DateMoveOut, dtype: object

In [6]:
sh_rent = sh_rent.dropna(subset = ["DateMoveOut"])
moveout.head(25)

NameError: name 'moveout' is not defined

In [ ]:
#sh_rent['DateOccurred'] = sh_rent['DateOccured'].astype('datetime64[ns]')
new = sh_rent["DateOccurred"].str.split("/", n = 3, expand = True)
month =[]
day = []
year = []
for x in new[0]:
    if len(x) < 2:
        x = str("0")+str(x)
    month.append(x)
for x in new[1]:
    if len(x) < 2:
        x = str("0")+str(x)
    day.append(x)
for x in new[2]:
    year.append(x)
newdate =[]
for x in range(len(day)):
    newdate.append(year[x]+month[x]+day[x])
sh_rent["Newdate"] = newdate
sh_rent["Newdate"]
sortedsh=sh_rent.sort_values(["Unit_Code","Newdate"])
sortedsh

In [ ]:
r = []
chrent = []
lrent = []
for x in range(len(sortedsh)):
    unitcode = sortedsh["Unit_Code"].iloc[x]
    prevunit = sortedsh["Unit_Code"].iloc[x-1]
    if unitcode==prevunit:
        rent = sortedsh["Rent"].iloc[x]
        prevrent = sortedsh["Rent"].iloc[x-1]
        changerent = rent-prevrent
        chrent.append(changerent)
    else:
        chrent.append(0)
sortedsh["chrent"]=chrent
sortedsh["DateMoveOut"]

In [ ]:
#sortedsh["Rent"].iloc[0]
sortedsh['DateMoveOut']

In [ ]:
df=sortedsh
df['Date'] = pd.to_datetime(df['Date'], format='%m/%d/%Y', utc=False)
df['Date']

In [ ]:
df= df.set_index(df['Date'])

In [ ]:
df

In [ ]:
df['week_start'] = df.index.to_period('W').start_time

In [17]:
df['week_start']

Date
2015-09-30   2015-09-28
2016-12-31   2016-12-26
2017-05-31   2017-05-29
2014-02-28   2014-02-24
2017-12-31   2017-12-25
2018-07-31   2018-07-30
2017-08-31   2017-08-28
2018-06-12   2018-06-11
2014-02-28   2014-02-24
2014-08-01   2014-07-28
2017-04-30   2017-04-24
2017-05-31   2017-05-29
2016-06-30   2016-06-27
2016-07-14   2016-07-11
2017-02-28   2017-02-27
2017-03-31   2017-03-27
2016-09-30   2016-09-26
2016-08-23   2016-08-22
Name: week_start, dtype: datetime64[ns]

In [18]:
df.columns

Index(['Property_Code', 'Date', 'Tenant_Code', 'Event', 'DateOccurred',
       'Unit_Code', 'DateApply', 'DateApprove', 'DateSign', 'DateMoveIn',
       'DateMoveOut', 'DateLeaseFrom', 'DateLeaseTo', 'DateNotice',
       'RentedEvent', 'UnRentedEvent', 'Status', 'Rent', 'Deposit', 'Sqft',
       'Notes', 'Reason', 'MTM', 'Newdate', 'chrent', 'week_start'],
      dtype='object')

In [19]:
df['DateMoveOut'] = pd.to_datetime(df['DateMoveOut'], format='%m/%d/%Y', utc=False)

In [20]:
df['DaysOccupied'] = df['DateMoveOut'] - df["Date"]

In [21]:
df['DateMoveOut']

Date
2015-09-30   2015-11-30
2016-12-31   2017-02-13
2017-05-31   2017-07-29
2014-02-28   2014-04-01
2017-12-31   2018-02-11
2018-07-31   2018-09-03
2017-08-31   2017-10-18
2018-06-12   2018-07-31
2014-02-28   2014-05-31
2014-08-01   2014-09-21
2017-04-30   2017-06-30
2017-05-31   2017-07-27
2016-06-30   2016-08-31
2016-07-14   2016-08-31
2017-02-28   2017-05-31
2017-03-31   2017-05-31
2016-09-30   2016-11-30
2016-08-23   2016-08-31
Name: DateMoveOut, dtype: datetime64[ns]

In [22]:
df.columns

Index(['Property_Code', 'Date', 'Tenant_Code', 'Event', 'DateOccurred',
       'Unit_Code', 'DateApply', 'DateApprove', 'DateSign', 'DateMoveIn',
       'DateMoveOut', 'DateLeaseFrom', 'DateLeaseTo', 'DateNotice',
       'RentedEvent', 'UnRentedEvent', 'Status', 'Rent', 'Deposit', 'Sqft',
       'Notes', 'Reason', 'MTM', 'Newdate', 'chrent', 'week_start',
       'DaysOccupied'],
      dtype='object')