In [2]:
import pandas as pd 
import matplotlib.pyplot as plt
import numpy as np

In [9]:
units = "common units.csv"
units_df = pd.read_csv(units, header=1)
units_df = units_df.drop(columns = ["Rental_Type","Date_Ready","Address_1","Zip_Code","Exclude","Unit_Type","Notes","Bldg_Code", "Available_Date", "Floor_Code", "Country", "Ref_Property_Id", "Ext_Ref_Unit_Id", "Ref_Building_Id", "Ref_Floor_Id", "Address_2","Address_3", "Address_4", "Location", 'Attributes_2', 'Attributes_3', 'Attributes_4', 'Attributes_5',
       'Attributes_6', 'Attributes_7', 'Attributes_8', 'Attributes_9',
       'Attributes_10', 'MLA', 'Lease_Type', 'Userdefined_1', 'Userdefined_2',
       'Userdefined_3', 'Userdefined_4', 'Userdefined_5', 'Userdefined_6',
       'Userdefined_7', 'Userdefined_8', 'Userdefined_9', 'Userdefined_10'])
units_df = units_df.rename(columns={"BedRooms": "Bedrooms","Attributes_1": "Bathrooms"})
units_df.head()

,Property_Code,Unit_Code,City,State,Rent,SQFT,Rent_Ready,Bedrooms,Bathrooms
0,ce,C0007A,Fairfield,OH,770,675,1,1,1.0
1,ce,C0007B,Fairfield,OH,770,675,1,1,1.0
2,ce,C0007C,Fairfield,OH,780,675,1,1,1.0
3,ce,C0007D,Fairfield,OH,780,675,1,1,1.0
4,ce,C0007E,Fairfield,OH,770,675,1,1,1.0

In [37]:
units_df.dtypes

Property_Code     object
Unit_Code         object
City              object
State             object
Rent               int64
SQFT               int64
Rent_Ready         int64
Bedrooms           int64
Bathrooms        float64
dtype: object

In [28]:
indexNames = units_df[units_df["Rent"]==0].index
units_df.drop(indexNames, inplace = True)
units_df.head()

,Property_Code,Unit_Code,City,State,Rent,SQFT,Rent_Ready,Bedrooms,Bathrooms
0,ce,C0007A,Fairfield,OH,770,675,1,1,1.0
1,ce,C0007B,Fairfield,OH,770,675,1,1,1.0
2,ce,C0007C,Fairfield,OH,780,675,1,1,1.0
3,ce,C0007D,Fairfield,OH,780,675,1,1,1.0
4,ce,C0007E,Fairfield,OH,770,675,1,1,1.0

In [30]:
max(units_df["SQFT"])

1400

In [31]:
min(units_df["SQFT"])

387

In [41]:
units_count = units_df.groupby("Property_Code").count()
units_count

,Unit_Code,City,State,Rent,SQFT,Rent_Ready,Bedrooms,Bathrooms
Property_Code,,,,,,,,
ce,492,492,492,492,492,492,492,492
fh,408,408,408,408,408,408,408,402
mpg,354,354,354,354,354,354,354,344
sh,516,516,516,516,516,516,516,506

In [42]:
units_min = units_df.groupby("Property_Code").min()
units_min

,Unit_Code,City,State,Rent,SQFT,Rent_Ready,Bedrooms,Bathrooms
Property_Code,,,,,,,,
ce,C0003A,Fairfield,OH,650,635,0,1,1.0
fh,1014A,Columbus,OH,721,387,0,1,1.0
mpg,1960-08A,Mount Prospect,IL,1050,735,0,0,1.0
sh,AC1038,Toledo,OH,599,932,-1,2,1.0

In [46]:
units_max = units_df.groupby("Property_Code").max()
units_max

,Unit_Code,City,State,Rent,SQFT,Rent_Ready,Bedrooms,Bathrooms
Property_Code,,,,,,,,
ce,S1500-7H,Fairfield,OH,1299,1400,1,3,2.5
fh,WAIT2R-2,Columbus,OH,1210,912,1,2,1.0
mpg,WAIT-2DR,Mt. Prospect,IL,1699,1240,1,3,3.0
sh,WC5970L,Toledo,OH,1500,1350,1,3,2.0

In [48]:
units_df.mean()

Rent          976.566102
SQFT          923.381356
Rent_Ready      0.618644
Bedrooms        1.799435
Bathrooms       1.348050
dtype: float64

In [45]:
units_df

,Property_Code,Unit_Code,City,State,Rent,SQFT,Rent_Ready,Bedrooms,Bathrooms
0,ce,C0007A,Fairfield,OH,770,675,1,1,1.0
1,ce,C0007B,Fairfield,OH,770,675,1,1,1.0
2,ce,C0007C,Fairfield,OH,780,675,1,1,1.0
3,ce,C0007D,Fairfield,OH,780,675,1,1,1.0
4,ce,C0007E,Fairfield,OH,770,675,1,1,1.0
5,ce,C0007F,Fairfield,OH,685,675,1,1,1.0
6,ce,C0007G,Fairfield,OH,780,675,1,1,1.0
7,ce,C0007H,Fairfield,OH,780,675,1,1,1.0
8,ce,C0007J,Fairfield,OH,790,675,0,1,1.0
9,ce,C0007K,Fairfield,OH,720,675,1,1,1.0
10,ce,C0007L,Fairfield,OH,790,675,1,1,1.0
11,ce,C0007M,Fairfield,OH,790,675,1,1,1.0
12,ce,C5269A,Fairfield,OH,675,675,1,1,1.0
13,ce,C5269B,Fairfield,OH,675,675,1,1,1.0
14,ce,C5269C,Fairfield,OH,675,675,1,1,1.0
15,ce,C5269D,Fairfield,OH,675,675,1,1,1.0
16,ce,C5269E,Fairfield,OH,685,675,1,1,1.0
17,ce,C5269F,Fairfield,OH,685,675,1,1,1.0
18,ce,C5269G,Fairfield,OH,685,675,0,1,1.0
19,ce,C5269H,Fairfield,OH,780,675,1,1,1.0
20,ce,C5269J,Fairfield,OH,695,675,1,1,1.0
21,ce,C5269K,Fairfield,OH,695,675,1,1,1.0
22,ce,C5269L,Fairfield,OH,695,675,1,1,1.0
23,ce,C5269M,Fairfield,OH,695,675,1,1,1.0
24,ce,C5271A,Fairfield,OH,675,675,1,1,1.0
25,ce,C5271B,Fairfield,OH,675,675,1,1,1.0
26,ce,C5271C,Fairfield,OH,675,675,0,1,1.0
27,ce,C5271D,Fairfield,OH,770,675,1,1,1.0
28,ce,C5271E,Fairfield,OH,685,675,1,1,1.0
29,ce,C5271F,Fairfield,OH,685,675,1,1,1.0
...,...,...,...,...,...,...,...,...,...
1742,sh,FT5892E,Toledo,OH,685,984,1,2,1.0
1743,sh,FT5892F,Toledo,OH,685,984,1,2,1.0
1744,sh,FT5892G,Toledo,OH,685,984,1,2,1.0
1745,sh,FT5892H,Toledo,OH,685,984,1,2,1.0
1746,sh,FT5892I,Toledo,OH,685,984,0,2,1.0
1747,sh,FT5892J,Toledo,OH,685,984,1,2,1.0
1748,sh,FT5892K,Toledo,OH,685,984,1,2,1.0
1749,sh,FT5892L,Toledo,OH,685,984,0,2,1.0
1750,sh,FT5906A,Toledo,OH,650,932,0,2,1.0
1751,sh,FT5906B,Toledo,OH,650,932,1,2,1.0
1752,sh,FT5906C,Toledo,OH,650,932,0,2,1.0
1753,sh,FT5906D,Toledo,OH,650,932,1,2,1.0
1754,sh,FT5906E,Toledo,OH,650,932,1,2,1.0
1755,sh,FT5906F,Toledo,OH,650,932,1,2,1.0
1756,sh,FT5906G,Toledo,OH,650,932,1,2,1.0
1757,sh,FT5906H,Toledo,OH,650,932,1,2,1.0
1758,sh,FT5906I,Toledo,OH,650,932,1,2,1.0
1759,sh,FT5906J,Toledo,OH,650,932,0,2,1.0
1760,sh,FT5906K,Toledo,OH,650,932,0,2,1.0
1761,sh,FT5906L,Toledo,OH,650,932,1,2,1.0
1763,sh,WAIT-2A,Toledo,OH,599,932,0,2,NaN
1764,sh,WAIT-2B,Toledo,OH,609,950,0,2,NaN
1765,sh,WAIT-2C,Toledo,OH,620,984,0,2,NaN
1766,sh,WAIT-2D,Toledo,OH,641,963,0,2,NaN
1767,sh,WAIT-2E,Toledo,OH,652,950,0,2,NaN
1768,sh,WAIT-2TH,Toledo,OH,709,1006,0,2,NaN
1769,sh,WAIT-2V,Toledo,OH,995,1350,0,2,NaN
1770,sh,WAIT-3TA,Toledo,OH,735,1006,0,3,NaN
1771,sh,WAIT-3TB,Toledo,OH,840,1156,0,3,NaN
1772,sh,WAIT-3V,Toledo,OH,1010,1350,0,3,NaN

In [34]:
units_df.to_csv("units_final.csv")