In [1]:
%matplotlib inline
from sklearn.neighbors import KNeighborsClassifier
import matplotlib.pyplot as plt
import pandas as pd
import os
import warnings
warnings.simplefilter('ignore')
import numpy as np
import pickle

In [2]:
rent = "final.csv"
rent_df = pd.read_csv(rent)
rent_df = rent_df.drop(["Unnamed: 0"], axis = 1)
rent_df.head()

,Property_Code,Tenant_Code,Event,DateOccurred,Unit_Code,DateMoveIn,DateMoveOut,Rent,Vacancy,SQFT,BedRooms,Bathroom,chrent,LengthStay
0,ce,t0013745,Rent Change,2013-04-30,C05266,2006-11-09,NaN,870.0,0,1400,3,2.5,870.0,NaN
1,ce,t0013745,Rent Change,2014-05-31,C05266,2006-11-09,2015-01-31,896.0,1,1400,3,2.5,26.0,245 days 00:00:00.000000000
2,ce,t0013747,Rent Change,2013-04-30,C05270,2012-07-16,2013-08-11,770.0,1,1088,2,1.5,770.0,103 days 00:00:00.000000000
3,ce,t0013748,Rent Change,2013-04-30,C05272,2012-09-28,NaN,770.0,0,1088,2,1.5,770.0,NaN
4,ce,t0013748,Rent Change,2013-09-30,C05272,2012-09-28,NaN,800.0,0,1088,2,1.5,30.0,NaN

In [3]:
sqft_bins = [0, 600, 1000, 2000]
bin_names = ["small", "medium", "large"]
rent_df["Apt Size"] = pd.cut(rent_df["SQFT"], sqft_bins, labels = bin_names)
indexNames = rent_df[rent_df["Rent"] == rent_df ["chrent"]].index
rent_df.drop(indexNames, inplace = True)
outliers = rent_df[rent_df["chrent"] >= 500].index
rent_df.drop(outliers, inplace = True)
outliers2 = rent_df[rent_df["chrent"] <= -500].index
rent_df.drop(outliers2, inplace = True)
rent_df

,Property_Code,Tenant_Code,Event,DateOccurred,Unit_Code,DateMoveIn,DateMoveOut,Rent,Vacancy,SQFT,BedRooms,Bathroom,chrent,LengthStay,Apt Size
1,ce,t0013745,Rent Change,2014-05-31,C05266,2006-11-09,2015-01-31,896.0,1,1400,3,2.5,26.0,245 days 00:00:00.000000000,large
4,ce,t0013748,Rent Change,2013-09-30,C05272,2012-09-28,NaN,800.0,0,1088,2,1.5,30.0,NaN,large
5,ce,t0013748,Rent Change,2014-11-01,C05272,2012-09-28,2015-10-31,824.0,1,1088,2,1.5,24.0,364 days 00:00:00.000000000,large
9,ce,t0013749,Rent Change,2013-12-31,C05274,2008-11-26,NaN,915.0,0,1400,3,2.5,35.0,NaN,large
10,ce,t0013749,Rent Change,2015-03-01,C05274,2008-11-26,NaN,924.0,0,1400,3,2.5,9.0,NaN,large
11,ce,t0013749,Rent Change,2016-02-29,C05274,2008-11-26,NaN,970.0,0,1400,3,2.5,46.0,NaN,large
12,ce,t0013749,Rent Change,2018-02-28,C05274,2008-11-26,NaN,1044.0,0,1400,3,2.5,74.0,NaN,large
14,ce,t0013750,Rent Change,2013-06-30,C05276,2001-07-21,NaN,890.0,0,1400,3,2.5,10.0,NaN,large
15,ce,t0013750,Rent Change,2014-06-30,C05276,2001-07-21,NaN,917.0,0,1400,3,2.5,27.0,NaN,large
16,ce,t0013750,Rent Change,2015-06-30,C05276,2001-07-21,NaN,945.0,0,1400,3,2.5,28.0,NaN,large
17,ce,t0013750,Rent Change,2016-06-30,C05276,2001-07-21,2017-06-30,999.0,1,1400,3,2.5,54.0,365 days 00:00:00.000000000,large
19,ce,t0013751,Rent Change,2013-09-30,C05278,2011-09-16,NaN,803.0,0,1088,2,1.5,23.0,NaN,large
22,ce,t0013751,Rent Change,2015-01-01,C05278,2011-09-16,NaN,810.0,0,1088,2,1.5,7.0,NaN,large
23,ce,t0013751,Rent Change,2015-06-30,C05278,2011-09-16,2015-10-18,834.0,1,1088,2,1.5,24.0,110 days 00:00:00.000000000,large
25,ce,t0013752,Rent Change,2014-05-31,C05280,2010-04-23,NaN,803.0,0,1088,2,1.5,23.0,NaN,large
26,ce,t0013752,Rent Change,2015-05-31,C05280,2010-04-23,NaN,827.0,0,1088,2,1.5,24.0,NaN,large
27,ce,t0013752,Rent Change,2016-05-31,C05280,2010-04-23,2017-05-31,859.0,1,1088,2,1.5,32.0,365 days 00:00:00.000000000,large
31,ce,t0013755,Rent Change,2013-06-30,C0003A,2010-07-29,2013-07-31,640.0,1,905,2,1.0,10.0,31 days 00:00:00.000000000,medium
33,ce,t0013756,Rent Change,2013-09-01,C0003B,2008-09-01,NaN,660.0,0,905,2,1.0,30.0,NaN,medium
34,ce,t0013756,Rent Change,2014-09-30,C0003B,2008-09-01,2015-08-15,680.0,1,905,2,1.0,20.0,319 days 00:00:00.000000000,medium
36,ce,t0013757,Rent Change,2013-09-01,C0003C,2012-08-03,2014-08-31,670.0,1,905,2,1.0,30.0,364 days 00:00:00.000000000,medium
39,ce,t0013759,Rent Change,2013-06-30,C0003E,2008-06-26,2014-06-01,650.0,1,905,2,1.0,10.0,336 days 00:00:00.000000000,medium
41,ce,t0013760,Rent Change,2013-12-01,C0003F,2003-09-19,2014-08-25,665.0,1,905,2,1.0,25.0,267 days 00:00:00.000000000,medium
44,ce,t0013762,Rent Change,2014-05-31,C0003H,2009-12-02,NaN,659.0,0,905,2,1.0,19.0,NaN,medium
45,ce,t0013762,Rent Change,2015-05-31,C0003H,2009-12-02,2016-04-21,679.0,1,905,2,1.0,20.0,326 days 00:00:00.000000000,medium
48,ce,t0013764,Rent Change,2013-10-31,C0003K,2011-08-19,2014-01-13,676.0,1,905,2,1.0,26.0,74 days 00:00:00.000000000,medium
50,ce,t0013765,Rent Change,2013-08-01,C0003L,2012-08-01,NaN,680.0,0,905,2,1.0,30.0,NaN,medium
51,ce,t0013765,Rent Change,2014-07-31,C0003L,2012-08-01,NaN,700.0,0,905,2,1.0,20.0,NaN,medium
52,ce,t0013765,Rent Change,2014-09-01,C0003L,2012-08-01,NaN,710.0,0,905,2,1.0,10.0,NaN,medium
53,ce,t0013765,Rent Change,2015-07-31,C0003L,2012-08-01,2016-07-31,720.0,1,905,2,1.0,10.0,366 days 00:00:00.000000000,medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6624,mpg,t0050622,Rent Change,2018-11-12,2010-04B,2018-11-17,NaN,1100.0,0,1040,2,2.0,0.0,NaN,large
6625,mpg,t0050773,Rent Change,2018-11-19,2036-06B,2019-01-31,NaN,1449.0,0,1040,2,2.0,0.0,NaN,large
6626,mpg,t0050791,Rent Change,2018-11-16,2024-09B,2018-12-07,NaN,1195.0,0,835,1,1.0,0.0,NaN,medium
6627,mpg,t0050791,Rent Change,2018-11-20,1980-07B,2018-11-30,NaN,1449.0,0,1040,2,2.0,254.0,NaN,large
6628,fh,t0050919,Rent Change,2018-11-21,1064A,2018-11-23,NaN,1099.0,0,912,2,1.0,0.0,NaN,medium
6629,fh,t0050919,Rent Change,2018-11-25,1064A,2018-11-23,NaN,1209.0,0,912,2,1.0,110.0,NaN,medium
6630,sh,t0051110,Rent Change,2018-11-23,SH5946,2018-11-21,NaN,800.0,0,1006,2,1.5,0.0,NaN,large
6631,sh,t0051110,Rent Change,2018-11-26,SH5901,2018-11-28,NaN,775.0,0,1006,2,1.5,-25.0,NaN,large
6632,ce,t0051473,Rent Change,2018-11-30,M0002A,2019-01-07,NaN,760.0,0,635,1,1.0,0.0,NaN,medium
6633,ce,t0051473,Rent Change,2018-11-30,M0005E,2018-12-08,NaN,790.0,0,635,1,1.0,30.0,NaN,medium
6634,ce,t0051586,Rent Change,2018-12-03,C5322J,2019-01-14,NaN,695.0,0,675,1,1.0,0.0,NaN,medium
6635,sh,t0052825,Rent Change,2018-12-31,WAIT-3TA,2018-12-28,NaN,735.0,0,1006,3,NaN,0.0,NaN,large
6636,sh,t0052825,Rent Change,2019-01-07,TH5979,2019-02-01,NaN,800.0,0,1006,3,1.5,65.0,NaN,large
6637,mpg,t0052899,Rent Change,2018-12-31,1978-10B,2019-01-04,NaN,1176.0,0,895,2,2.0,0.0,NaN,medium
6638,mpg,t0052899,Rent Change,2019-01-09,1978-10B,2019-01-10,NaN,1294.0,0,895,2,2.0,118.0,NaN,medium
6639,mpg,tl108376,Rent Change,2018-04-05,1986-05B,2018-04-07,NaN,1050.0,0,835,1,1.0,0.0,NaN,medium
6640,mpg,tl110367,Rent Change,2017-11-15,2006-06C,2017-11-27,NaN,1050.0,0,835,1,1.0,0.0,NaN,medium
6641,mpg,tl110367,Rent Change,2017-11-15,1968-07C,2017-11-27,NaN,1099.0,0,835,1,1.0,49.0,NaN,medium
6642,mpg,tl110367,Rent Change,2017-11-27,1968-09B,2017-11-27,2018-05-26,1099.0,1,835,1,1.0,0.0,180 days 00:00:00.000000000,medium
6643,fh,tl115488,Rent Change,2018-02-06,1112A,2018-02-23,NaN,974.0,0,700,1,1.0,0.0,NaN,medium
6644,mpg,tl115688,Rent Change,2018-01-30,1968-09C,2018-02-15,NaN,1099.0,0,835,1,1.0,0.0,NaN,medium
6645,mpg,tl116411,Rent Change,2018-04-21,2030-07A,2018-06-05,NaN,1299.0,0,895,2,2.0,0.0,NaN,medium
6646,fh,tl117521,Rent Change,2018-02-23,4731A,2018-06-02,NaN,985.0,0,912,2,1.0,0.0,NaN,medium
6647,fh,tl117521,Rent Change,2018-03-15,1041B,2018-06-02,NaN,1000.0,0,912,2,1.0,15.0,NaN,medium
6648,fh,tl117521,Rent Change,2018-04-19,1081B,2018-06-02,NaN,1135.0,0,912,2,1.0,135.0,NaN,medium
6649,fh,tl117521,Rent Change,2018-04-19,1081B,2018-06-02,NaN,985.0,0,912,2,1.0,-150.0,NaN,medium
6650,mpg,tl122318,Rent Change,2018-04-16,1968-07B,2018-05-12,NaN,1119.0,0,835,1,1.0,0.0,NaN,medium
6651,mpg,tl122655,Rent Change,2018-04-17,1966-03B,2018-05-10,NaN,1119.0,0,1040,2,2.0,0.0,NaN,large
6652,mpg,tl122981,Rent Change,2018-04-20,1968-07B,2018-06-04,NaN,1119.0,0,835,1,1.0,0.0,NaN,medium
6653,fh,tl127278,Rent Change,2018-06-16,1122AB,2018-06-15,NaN,1135.0,0,912,2,1.0,0.0,NaN,medium

In [4]:
X = rent_df[["Apt Size", "BedRooms", "Bathroom", "chrent", "Property_Code"]]
y = rent_df["Vacancy"]
print(X.shape, y.shape)

(6215, 5) (6215,)

In [5]:
data = X.copy()

data_binary_encoded = pd.get_dummies(data, columns = ["Apt Size", "Property_Code"])
data_binary_encoded

,BedRooms,Bathroom,chrent,Apt Size_small,Apt Size_medium,Apt Size_large,Property_Code_ce,Property_Code_fh,Property_Code_mpg,Property_Code_sh
1,3,2.5,26.0,0,0,1,1,0,0,0
4,2,1.5,30.0,0,0,1,1,0,0,0
5,2,1.5,24.0,0,0,1,1,0,0,0
9,3,2.5,35.0,0,0,1,1,0,0,0
10,3,2.5,9.0,0,0,1,1,0,0,0
11,3,2.5,46.0,0,0,1,1,0,0,0
12,3,2.5,74.0,0,0,1,1,0,0,0
14,3,2.5,10.0,0,0,1,1,0,0,0
15,3,2.5,27.0,0,0,1,1,0,0,0
16,3,2.5,28.0,0,0,1,1,0,0,0
17,3,2.5,54.0,0,0,1,1,0,0,0
19,2,1.5,23.0,0,0,1,1,0,0,0
22,2,1.5,7.0,0,0,1,1,0,0,0
23,2,1.5,24.0,0,0,1,1,0,0,0
25,2,1.5,23.0,0,0,1,1,0,0,0
26,2,1.5,24.0,0,0,1,1,0,0,0
27,2,1.5,32.0,0,0,1,1,0,0,0
31,2,1.0,10.0,0,1,0,1,0,0,0
33,2,1.0,30.0,0,1,0,1,0,0,0
34,2,1.0,20.0,0,1,0,1,0,0,0
36,2,1.0,30.0,0,1,0,1,0,0,0
39,2,1.0,10.0,0,1,0,1,0,0,0
41,2,1.0,25.0,0,1,0,1,0,0,0
44,2,1.0,19.0,0,1,0,1,0,0,0
45,2,1.0,20.0,0,1,0,1,0,0,0
48,2,1.0,26.0,0,1,0,1,0,0,0
50,2,1.0,30.0,0,1,0,1,0,0,0
51,2,1.0,20.0,0,1,0,1,0,0,0
52,2,1.0,10.0,0,1,0,1,0,0,0
53,2,1.0,10.0,0,1,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...
6624,2,2.0,0.0,0,0,1,0,0,1,0
6625,2,2.0,0.0,0,0,1,0,0,1,0
6626,1,1.0,0.0,0,1,0,0,0,1,0
6627,2,2.0,254.0,0,0,1,0,0,1,0
6628,2,1.0,0.0,0,1,0,0,1,0,0
6629,2,1.0,110.0,0,1,0,0,1,0,0
6630,2,1.5,0.0,0,0,1,0,0,0,1
6631,2,1.5,-25.0,0,0,1,0,0,0,1
6632,1,1.0,0.0,0,1,0,1,0,0,0
6633,1,1.0,30.0,0,1,0,1,0,0,0
6634,1,1.0,0.0,0,1,0,1,0,0,0
6635,3,NaN,0.0,0,0,1,0,0,0,1
6636,3,1.5,65.0,0,0,1,0,0,0,1
6637,2,2.0,0.0,0,1,0,0,0,1,0
6638,2,2.0,118.0,0,1,0,0,0,1,0
6639,1,1.0,0.0,0,1,0,0,0,1,0
6640,1,1.0,0.0,0,1,0,0,0,1,0
6641,1,1.0,49.0,0,1,0,0,0,1,0
6642,1,1.0,0.0,0,1,0,0,0,1,0
6643,1,1.0,0.0,0,1,0,0,1,0,0
6644,1,1.0,0.0,0,1,0,0,0,1,0
6645,2,2.0,0.0,0,1,0,0,0,1,0
6646,2,1.0,0.0,0,1,0,0,1,0,0
6647,2,1.0,15.0,0,1,0,0,1,0,0
6648,2,1.0,135.0,0,1,0,0,1,0,0
6649,2,1.0,-150.0,0,1,0,0,1,0,0
6650,1,1.0,0.0,0,1,0,0,0,1,0
6651,2,2.0,0.0,0,0,1,0,0,1,0
6652,1,1.0,0.0,0,1,0,0,0,1,0
6653,2,1.0,0.0,0,1,0,0,1,0,0

In [6]:
data_binary_encoded = data_binary_encoded.fillna(0)

In [7]:
data_binary_encoded.dtypes

BedRooms               int64
Bathroom             float64
chrent               float64
Apt Size_small         uint8
Apt Size_medium        uint8
Apt Size_large         uint8
Property_Code_ce       uint8
Property_Code_fh       uint8
Property_Code_mpg      uint8
Property_Code_sh       uint8
dtype: object

In [8]:
data_binary_encoded ["BedRooms"]= data_binary_encoded["BedRooms"].astype(float)
data_binary_encoded ["Apt Size_small"]= data_binary_encoded["Apt Size_small"].astype(float)
data_binary_encoded ["Apt Size_medium"]= data_binary_encoded["Apt Size_medium"].astype(float)
data_binary_encoded ["Apt Size_large"]= data_binary_encoded["Apt Size_large"].astype(float)
data_binary_encoded ["Property_Code_ce"]= data_binary_encoded["Property_Code_ce"].astype(float)
data_binary_encoded ["Property_Code_fh"]= data_binary_encoded["Property_Code_fh"].astype(float)
data_binary_encoded ["Property_Code_mpg"]= data_binary_encoded["Property_Code_mpg"].astype(float)
data_binary_encoded ["Property_Code_sh"]= data_binary_encoded["Property_Code_sh"].astype(float)

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from keras.utils import to_categorical

X_train, X_test, y_train, y_test = train_test_split(data_binary_encoded, y, stratify=y, random_state=42)

label_encoder = LabelEncoder()
label_encoder.fit(y_train)
encoded_y_train = label_encoder.transform(y_train)
encoded_y_test = label_encoder.transform(y_test)

y_train_categorical = to_categorical(encoded_y_train)
y_test_categorical = to_categorical(encoded_y_test)

Using TensorFlow backend.

In [ ]:
X_test.shape

In [ ]:
from keras.models import Sequential
from keras.layers import Dense
deep_model = Sequential()

deep_model.add(Dense(units=100, activation='relu', input_dim=10))
deep_model.add(Dense(units=100, activation='relu'))
deep_model.add(Dense(units=2, activation='softmax'))

In [ ]:
deep_model.compile(optimizer='adam',
                   loss='categorical_crossentropy',
                   metrics=['accuracy'])

deep_model.fit(
    X_train,
    y_train_categorical,
    epochs=100,
    shuffle=True,
    verbose=2
)

In [ ]:
model_loss, model_accuracy = deep_model.evaluate(
    X_test, y_test_categorical, verbose=2)
print(f"Deep Neural Network - Loss: {model_loss}, Accuracy: {model_accuracy}")

In [ ]:
deep_predictions = deep_model.predict_classes(X_test)
deep_predictor = pd.DataFrame({"Predictions": deep_predictions, "Actual": y_test})
deep_predictor.loc[deep_predictor["Predictions"] == 1, "Predictions"] = "Vacant"
deep_predictor.loc[deep_predictor["Predictions"] == 0, "Predictions"] = "Occupied"
deep_predictor.loc[deep_predictor["Actual"] == 1, "Actual"] = "Vacant"
deep_predictor.loc[deep_predictor["Actual"] == 0, "Actual"] = "Occupied"
deep_predictor

In [ ]:
deep_model.save("logistics_deep_network.h5")

In [ ]:
filename = "logisitic_depp_network.pkl"
list_pickle = open(filename, "wb")
pickle.dump(deep_model, list_pickle)
list_pickle.close()