In [42]:
%matplotlib inline
from sklearn.neighbors import KNeighborsClassifier
import matplotlib.pyplot as plt
import pandas as pd
import os
import warnings
warnings.simplefilter('ignore')
import numpy as np

In [88]:
rent = "final.csv"
rent_df = pd.read_csv(rent)
rent_df = rent_df.drop(["Unnamed: 0"], axis = 1)
rent_df.head()

,Property_Code,Tenant_Code,Event,DateOccurred,Unit_Code,DateMoveIn,DateMoveOut,Rent,Vacancy,SQFT,BedRooms,Bathroom,chrent,LengthStay
0,ce,t0013745,Rent Change,4/30/2013,C05266,11/9/2006,NaN,870.0,0,1400,3,2.5,870.0,NaN
1,ce,t0013745,Rent Change,5/31/2014,C05266,11/9/2006,1/31/2015,896.0,1,1400,3,2.5,26.0,245 days 00:00:00.000000000
2,ce,t0013747,Rent Change,4/30/2013,C05270,7/16/2012,8/11/2013,770.0,1,1088,2,1.5,770.0,103 days 00:00:00.000000000
3,ce,t0013748,Rent Change,4/30/2013,C05272,9/28/2012,NaN,770.0,0,1088,2,1.5,770.0,NaN
4,ce,t0013748,Rent Change,9/30/2013,C05272,9/28/2012,NaN,800.0,0,1088,2,1.5,30.0,NaN

In [92]:
sqft_bins = [0, 600, 1000, 2000]
bin_names = ["small", "medium", "large"]
rent_df["Apt Size"] = pd.cut(rent_df["SQFT"], sqft_bins, labels = bin_names)
rent_df.loc[rent_df["Vacancy"] == 1, "Vacancy"] = "Vacant"
rent_df.loc[rent_df["Vacancy"] == 0, "Vacancy"] = "Occupied"
rent_df

,Property_Code,Tenant_Code,Event,DateOccurred,Unit_Code,DateMoveIn,DateMoveOut,Rent,Vacancy,SQFT,BedRooms,Bathroom,chrent,LengthStay,Apt Size
0,ce,t0013745,Rent Change,4/30/2013,C05266,11/9/2006,NaN,870.0,Occupied,1400,3,2.5,870.0,NaN,large
1,ce,t0013745,Rent Change,5/31/2014,C05266,11/9/2006,1/31/2015,896.0,Vacant,1400,3,2.5,26.0,245 days 00:00:00.000000000,large
2,ce,t0013747,Rent Change,4/30/2013,C05270,7/16/2012,8/11/2013,770.0,Vacant,1088,2,1.5,770.0,103 days 00:00:00.000000000,large
3,ce,t0013748,Rent Change,4/30/2013,C05272,9/28/2012,NaN,770.0,Occupied,1088,2,1.5,770.0,NaN,large
4,ce,t0013748,Rent Change,9/30/2013,C05272,9/28/2012,NaN,800.0,Occupied,1088,2,1.5,30.0,NaN,large
5,ce,t0013748,Rent Change,11/1/2014,C05272,9/28/2012,10/31/2015,824.0,Vacant,1088,2,1.5,24.0,364 days 00:00:00.000000000,large
6,ce,t0013749,Rent Change,4/30/2013,C05274,11/26/2008,NaN,880.0,Occupied,1400,3,2.5,880.0,NaN,large
7,ce,t0013749,Rent Change,10/31/2013,C05274,11/26/2008,NaN,1795.0,Occupied,1400,3,2.5,915.0,NaN,large
8,ce,t0013749,Rent Change,12/1/2013,C05274,11/26/2008,NaN,880.0,Occupied,1400,3,2.5,-915.0,NaN,large
9,ce,t0013749,Rent Change,12/31/2013,C05274,11/26/2008,NaN,915.0,Occupied,1400,3,2.5,35.0,NaN,large
10,ce,t0013749,Rent Change,3/1/2015,C05274,11/26/2008,NaN,924.0,Occupied,1400,3,2.5,9.0,NaN,large
11,ce,t0013749,Rent Change,2/29/2016,C05274,11/26/2008,NaN,970.0,Occupied,1400,3,2.5,46.0,NaN,large
12,ce,t0013749,Rent Change,2/28/2018,C05274,11/26/2008,NaN,1044.0,Occupied,1400,3,2.5,74.0,NaN,large
13,ce,t0013750,Rent Change,4/30/2013,C05276,7/21/2001,NaN,880.0,Occupied,1400,3,2.5,880.0,NaN,large
14,ce,t0013750,Rent Change,6/30/2013,C05276,7/21/2001,NaN,890.0,Occupied,1400,3,2.5,10.0,NaN,large
15,ce,t0013750,Rent Change,6/30/2014,C05276,7/21/2001,NaN,917.0,Occupied,1400,3,2.5,27.0,NaN,large
16,ce,t0013750,Rent Change,6/30/2015,C05276,7/21/2001,NaN,945.0,Occupied,1400,3,2.5,28.0,NaN,large
17,ce,t0013750,Rent Change,6/30/2016,C05276,7/21/2001,6/30/2017,999.0,Vacant,1400,3,2.5,54.0,365 days 00:00:00.000000000,large
18,ce,t0013751,Rent Change,4/30/2013,C05278,9/16/2011,NaN,780.0,Occupied,1088,2,1.5,780.0,NaN,large
19,ce,t0013751,Rent Change,9/30/2013,C05278,9/16/2011,NaN,803.0,Occupied,1088,2,1.5,23.0,NaN,large
20,ce,t0013751,Rent Change,1/31/2014,C05278,9/16/2011,NaN,1606.0,Occupied,1088,2,1.5,803.0,NaN,large
21,ce,t0013751,Rent Change,2/28/2014,C05278,9/16/2011,NaN,803.0,Occupied,1088,2,1.5,-803.0,NaN,large
22,ce,t0013751,Rent Change,1/1/2015,C05278,9/16/2011,NaN,810.0,Occupied,1088,2,1.5,7.0,NaN,large
23,ce,t0013751,Rent Change,6/30/2015,C05278,9/16/2011,10/18/2015,834.0,Vacant,1088,2,1.5,24.0,110 days 00:00:00.000000000,large
24,ce,t0013752,Rent Change,4/30/2013,C05280,4/23/2010,NaN,780.0,Occupied,1088,2,1.5,780.0,NaN,large
25,ce,t0013752,Rent Change,5/31/2014,C05280,4/23/2010,NaN,803.0,Occupied,1088,2,1.5,23.0,NaN,large
26,ce,t0013752,Rent Change,5/31/2015,C05280,4/23/2010,NaN,827.0,Occupied,1088,2,1.5,24.0,NaN,large
27,ce,t0013752,Rent Change,5/31/2016,C05280,4/23/2010,5/31/2017,859.0,Vacant,1088,2,1.5,32.0,365 days 00:00:00.000000000,large
28,ce,t0013753,Rent Change,4/30/2013,C05282,7/14/2012,7/31/2013,880.0,Vacant,1400,3,2.5,880.0,92 days 00:00:00.000000000,large
29,ce,t0013754,Rent Change,4/30/2013,C05284,11/26/1986,1/29/2014,880.0,Vacant,1400,3,2.5,880.0,274 days 00:00:00.000000000,large
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6624,mpg,t0050622,Rent Change,11/12/2018,2010-04B,11/17/2018,NaN,1100.0,Occupied,1040,2,2.0,0.0,NaN,large
6625,mpg,t0050773,Rent Change,11/19/2018,2036-06B,1/31/2019,NaN,1449.0,Occupied,1040,2,2.0,0.0,NaN,large
6626,mpg,t0050791,Rent Change,11/16/2018,2024-09B,12/7/2018,NaN,1195.0,Occupied,835,1,1.0,0.0,NaN,medium
6627,mpg,t0050791,Rent Change,11/20/2018,1980-07B,11/30/2018,NaN,1449.0,Occupied,1040,2,2.0,254.0,NaN,large
6628,fh,t0050919,Rent Change,11/21/2018,1064A,11/23/2018,NaN,1099.0,Occupied,912,2,1.0,0.0,NaN,medium
6629,fh,t0050919,Rent Change,11/25/2018,1064A,11/23/2018,NaN,1209.0,Occupied,912,2,1.0,110.0,NaN,medium
6630,sh,t0051110,Rent Change,11/23/2018,SH5946,11/21/2018,NaN,800.0,Occupied,1006,2,1.5,0.0,NaN,large
6631,sh,t0051110,Rent Change,11/26/2018,SH5901,11/28/2018,NaN,775.0,Occupied,1006,2,1.5,-25.0,NaN,large
6632,ce,t0051473,Rent Change,11/30/2018,M0002A,1/7/2019,NaN,760.0,Occupied,635,1,1.0,0.0,NaN,medium
6633,ce,t0051473,Rent Change,11/30/2018,M0005E,12/8/2018,NaN,790.0,Occupied,635,1,1.0,30.0,NaN,medium
6634,ce,t0051586,Rent Change,12/3/2018,C5322J,1/14/2019,NaN,695.0,Occupied,675,1,1.0,0.0,NaN,medium
6635,sh,t0052825,Rent Change,12/31/2018,WAIT-3TA,12/28/2018,NaN,735.0,Occupied,1006,3,NaN,0.0,NaN,large
6636,sh,t0052825,Rent Change,1/7/2019,TH5979,2/1/2019,NaN,800.0,Occupied,1006,3,1.5,65.0,NaN,large
6637,mpg,t0052899,Rent Change,12/31/2018,1978-10B,1/4/2019,NaN,1176.0,Occupied,895,2,2.0,0.0,NaN,medium
6638,mpg,t0052899,Rent Change,1/9/2019,1978-10B,1/10/2019,NaN,1294.0,Occupied,895,2,2.0,118.0,NaN,medium
6639,mpg,tl108376,Rent Change,4/5/2018,1986-05B,4/7/2018,NaN,1050.0,Occupied,835,1,1.0,0.0,NaN,medium
6640,mpg,tl110367,Rent Change,11/15/2017,2006-06C,11/27/2017,NaN,1050.0,Occupied,835,1,1.0,0.0,NaN,medium
6641,mpg,tl110367,Rent Change,11/15/2017,1968-07C,11/27/2017,NaN,1099.0,Occupied,835,1,1.0,49.0,NaN,medium
6642,mpg,tl110367,Rent Change,11/27/2017,1968-09B,11/27/2017,5/26/2018,1099.0,Vacant,835,1,1.0,0.0,180 days 00:00:00.000000000,medium
6643,fh,tl115488,Rent Change,2/6/2018,1112A,2/23/2018,NaN,974.0,Occupied,700,1,1.0,0.0,NaN,medium
6644,mpg,tl115688,Rent Change,1/30/2018,1968-09C,2/15/2018,NaN,1099.0,Occupied,835,1,1.0,0.0,NaN,medium
6645,mpg,tl116411,Rent Change,4/21/2018,2030-07A,6/5/2018,NaN,1299.0,Occupied,895,2,2.0,0.0,NaN,medium
6646,fh,tl117521,Rent Change,2/23/2018,4731A,6/2/2018,NaN,985.0,Occupied,912,2,1.0,0.0,NaN,medium
6647,fh,tl117521,Rent Change,3/15/2018,1041B,6/2/2018,NaN,1000.0,Occupied,912,2,1.0,15.0,NaN,medium
6648,fh,tl117521,Rent Change,4/19/2018,1081B,6/2/2018,NaN,1135.0,Occupied,912,2,1.0,135.0,NaN,medium
6649,fh,tl117521,Rent Change,4/19/2018,1081B,6/2/2018,NaN,985.0,Occupied,912,2,1.0,-150.0,NaN,medium
6650,mpg,tl122318,Rent Change,4/16/2018,1968-07B,5/12/2018,NaN,1119.0,Occupied,835,1,1.0,0.0,NaN,medium
6651,mpg,tl122655,Rent Change,4/17/2018,1966-03B,5/10/2018,NaN,1119.0,Occupied,1040,2,2.0,0.0,NaN,large
6652,mpg,tl122981,Rent Change,4/20/2018,1968-07B,6/4/2018,NaN,1119.0,Occupied,835,1,1.0,0.0,NaN,medium
6653,fh,tl127278,Rent Change,6/16/2018,1122AB,6/15/2018,NaN,1135.0,Occupied,912,2,1.0,0.0,NaN,medium

In [93]:
X = rent_df[["Apt Size", "BedRooms", "Bathroom", "chrent", "Property_Code"]]
y = rent_df["Vacancy"]
print(X.shape, y.shape)

(6654, 5) (6654,)

In [94]:
data = X.copy()

data_binary_encoded = pd.get_dummies(data, columns = ["Apt Size", "Property_Code"])
data_binary_encoded.head()

,BedRooms,Bathroom,chrent,Apt Size_small,Apt Size_medium,Apt Size_large,Property_Code_ce,Property_Code_fh,Property_Code_mpg,Property_Code_sh
0,3,2.5,870.0,0,0,1,1,0,0,0
1,3,2.5,26.0,0,0,1,1,0,0,0
2,2,1.5,770.0,0,0,1,1,0,0,0
3,2,1.5,770.0,0,0,1,1,0,0,0
4,2,1.5,30.0,0,0,1,1,0,0,0

In [95]:
data_binary_encoded = data_binary_encoded.fillna(0)

In [96]:
data_binary_encoded.dtypes

BedRooms               int64
Bathroom             float64
chrent               float64
Apt Size_small         uint8
Apt Size_medium        uint8
Apt Size_large         uint8
Property_Code_ce       uint8
Property_Code_fh       uint8
Property_Code_mpg      uint8
Property_Code_sh       uint8
dtype: object

In [97]:
data_binary_encoded ["BedRooms"]= data_binary_encoded["BedRooms"].astype(float)
data_binary_encoded ["Apt Size_small"]= data_binary_encoded["Apt Size_small"].astype(float)
data_binary_encoded ["Apt Size_medium"]= data_binary_encoded["Apt Size_medium"].astype(float)
data_binary_encoded ["Apt Size_large"]= data_binary_encoded["Apt Size_large"].astype(float)
data_binary_encoded ["Property_Code_ce"]= data_binary_encoded["Property_Code_ce"].astype(float)
data_binary_encoded ["Property_Code_fh"]= data_binary_encoded["Property_Code_fh"].astype(float)
data_binary_encoded ["Property_Code_mpg"]= data_binary_encoded["Property_Code_mpg"].astype(float)
data_binary_encoded ["Property_Code_sh"]= data_binary_encoded["Property_Code_sh"].astype(float)

In [98]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data_binary_encoded, y, stratify=y, random_state=42)

In [99]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [100]:
classifier.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [101]:
print(f"Training Data Score: {classifier.score(X_train, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test, y_test)}")

Training Data Score: 0.7472945891783567
Testing Data Score: 0.7469951923076923

In [102]:
predictions = classifier.predict(X_test)
print(f"First 10 Predictions:   {predictions[:10]}")
print(f"First 10 Actual labels: {y_test[:10].tolist()}")

First 10 Predictions:   ['Occupied' 'Occupied' 'Occupied' 'Occupied' 'Occupied' 'Occupied'
 'Occupied' 'Occupied' 'Occupied' 'Occupied']
First 10 Actual labels: ['Occupied', 'Vacant', 'Occupied', 'Vacant', 'Occupied', 'Occupied', 'Vacant', 'Occupied', 'Occupied', 'Vacant']

In [103]:
X_test.head()

,BedRooms,Bathroom,chrent,Apt Size_small,Apt Size_medium,Apt Size_large,Property_Code_ce,Property_Code_fh,Property_Code_mpg,Property_Code_sh
702,2.0,1.0,20.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
2778,2.0,1.5,8.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
3023,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
5294,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
2586,1.0,1.0,7.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0

In [104]:
pd.DataFrame({"Prediction": predictions, "Actual": y_test}).reset_index(drop=True)

     Prediction    Actual
0      Occupied  Occupied
1      Occupied    Vacant
2      Occupied  Occupied
3      Occupied    Vacant
4      Occupied  Occupied
5      Occupied  Occupied
6      Occupied    Vacant
7      Occupied  Occupied
8      Occupied  Occupied
9      Occupied    Vacant
10     Occupied  Occupied
11     Occupied    Vacant
12     Occupied  Occupied
13     Occupied  Occupied
14     Occupied    Vacant
15     Occupied    Vacant
16     Occupied  Occupied
17     Occupied    Vacant
18     Occupied    Vacant
19     Occupied  Occupied
20     Occupied    Vacant
21     Occupied  Occupied
22     Occupied  Occupied
23     Occupied    Vacant
24     Occupied  Occupied
25     Occupied    Vacant
26     Occupied    Vacant
27     Occupied    Vacant
28     Occupied  Occupied
29     Occupied  Occupied
...         ...       ...
1634   Occupied  Occupied
1635   Occupied  Occupied
1636   Occupied    Vacant
1637   Occupied    Vacant
1638   Occupied    Vacant
1639   Occupied  Occupied
1640   Occupied  Occupied
1641   Occupied  Occupied
1642   Occupied  Occupied
1643   Occupied  Occupied
1644   Occupied  Occupied
1645   Occupied    Vacant
1646   Occupied  Occupied
1647   Occupied  Occupied
1648   Occupied  Occupied
1649   Occupied  Occupied
1650   Occupied    Vacant
1651   Occupied  Occupied
1652   Occupied  Occupied
1653   Occupied    Vacant
1654   Occupied  Occupied
1655   Occupied  Occupied
1656   Occupied  Occupied
1657   Occupied  Occupied
1658   Occupied  Occupied
1659   Occupied  Occupied
1660   Occupied  Occupied
1661   Occupied  Occupied
1662   Occupied    Vacant
1663   Occupied  Occupied

[1664 rows x 2 columns]