In [4]:
import pandas as pd 
import matplotlib.pyplot as plt
import numpy as np

In [19]:
tenants = "Tenant_History.csv"
tenants_df = pd.read_csv(tenants, header=1)

In [20]:
for x in tenants_df["Event"].unique():
    print(x)

Deposit Change
Submit Application
Adjust Move In Dates
Application Approved
Lease Signed
Move In
Adjust Moveout Dates
Application Denied
Adjust Lease End Dates
Assign Unit (From WAIT-3V to AC1081)
Application Canceled
Cancel Move In
Cancel Eviction
Notice Given
Move Out
Rent Change
Assign Unit (From SH5823 to TT1211)
Lease Renewal
Assign Unit (From C5326E to C5252H)
Re-Apply
Assign Unit (From S1452E to C0007J)
Deposit Accounting
Early Termination
Reverse Move In
Adjust Deposit Accounting
nan
Assign Unit (From 1978-09B to 2032-03B)
Call
Skip
Assign Unit (From 1962-06A to 1960-08A)
Eviction
Transfer Unit (From 2002-04B to 2002-04A)
Transfer Unit (To 2002-04A from 2002-04B)
Assign Unit (From FT5892C to WC5970G)
Assign Unit (From 2006-15A to 2002-04B)
Month to Month
Transfer Unit (From S1500-4D to S1500-5A)
Transfer Unit (To S1500-5A from S1500-4D)
Lease Renewal Canceled
Assign Unit (From 1972-06B to 1970-09B)
Cancel Move Out
Assign Unit (From M0005D to C0007A)
Assign Unit (From C5271E to M0011A)
Assign Unit (From 1994-06B to 1976-03B)
Assign Unit (From WC5950I to WC5950C)
Assign Unit (From SH5818 to WAIT-3TA)
Assign Unit (From WC5950C to WC5930E)
Assign Unit (From SH5858 to WAIT-2TH)
Assign Unit (From FT5862E to FT5906D)
Assign Unit (From WC5933S to WAIT-2TH)
Assign Unit (From WAIT-2TH to AC1115)
Assign Unit (From FT5892K to WC5933G)
Assign Unit (From WC5930E to WC5950E)
Assign Unit (From 4794A to 1086A)
Assign Unit (From SH5766 to WAIT)
Assign Unit (From FT5862G to WC5970I)
Assign Unit (From TH5823 to SH5817)
Assign Unit (From FT5862E to FT5892F)
Assign Unit (From C5305K to C5305C)
Transfer Unit (From TH5795 to AC1094)
Transfer Unit (To AC1094 from TH5795)
Transfer Unit (From WC5966A to SH5952)
Transfer Unit (To SH5952 from WC5966A)
Cancel Notice
Assign Unit (From FT5815 to FT5823)
Assign Unit (From 1121D to WAIT2R-2)
Assign Unit (From 1968-11A to 1968-03A)
Transfer Unit (From 1978-10A to 1990-05B)
Transfer Unit (To 1990-05B from 1978-10A)
Assign Unit (From FT5862E to FT5880I)
Transfer Unit (From C0007L to C0003K)
Transfer Unit (To C0003K from C0007L)
Follow up
Email
Assign Unit (From TH5969 to TH5814)
Assign Unit (From TH5814 to TH5969)
Assign Unit (From SH5940 to WC5946D)
Assign Unit (From FT5824 to TH5916)
Assign Unit (From WAIT-2D to WC5956G)
Assign Unit (From AC1083 to AC1053)
Transfer Unit (From TH5804 to FT5862K)
Transfer Unit (To FT5862K from TH5804)
Assign Unit (From 1120B to 1122DB)
Assign Unit (From WAIT-3TA to TH5827)
Assign Unit (From FT5840 to AC1140)
Assign Unit (From AC1053 to FT5840)
Assign Unit (From SH5922 to TH5834)
Assign Unit (From WAIT-2B to 2022-03B)
Assign Unit (From WAIT-1BR to 1986-12B)
Assign Unit (From 2022-03B to 2032-03B)
Assign Unit (From WAIT-2D to WC5956H)
Assign Unit (From WAIT-3V to AC1053)
Assign Unit (From 2006-06C to 1968-09B)
Assign Unit (From 1968-09B to 2006-06C)
Assign Unit (From 1986-01B to 2032-03A)
Assign Unit (From SH5932 to SH5861)
Transfer Unit (From WC5960M to SH5932)
Transfer Unit (To SH5932 from WC5960M)
Assign Unit (From 2006-04B to 1998-02B)
Assign Unit (From 1084C to 1071B)
Assign Unit (From TH5983 to SH5764)
Assign Unit (From SH5764 to SH5814)
Assign Unit (From SH5856 to SH5904)
Assign Unit (From TH5813 to TH5981)
Assign Unit (From WAIT-2B to AC1099)
Assign Unit (From WAIT-3TB to TT1199)
Assign Unit (From AC1099 to TT1199)
Assign Unit (From TT1199 to AC1099)
Assign Unit (From WAIT-2D to WC5960A)
Assign Unit (From FT5788 to AC1059)
Assign Unit (From AC1099 to TH5813)
Transfer Unit (From TH5912 to SH5820)
Transfer Unit (To SH5820 from TH5912)
Assign Unit (From TH5825 to WC5946I)
Assign Unit (From WAIT-2D to SH5842)
Assign Unit (From C5252A to C5303L)
Assign Unit (From TT1204 to TT1185)
Assign Unit (From WC5956C to WC5933S)
Transfer Unit (From S1452A to C5326K)
Transfer Unit (To C5326K from S1452A)
Assign Unit (From AC1059 to AC1038)
Assign Unit (From C5307C to M0002E)
Assign Unit (From C5271A to S1450K)
Transfer Unit (From FT5779 to FT5788)
Transfer Unit (To FT5788 from FT5779)
Assign Unit (From 1120A to 1014B)
Assign Unit (From WAIT-2TH to TH5823)
Assign Unit (From TT1203 to TH5824)
Assign Unit (From WAIT-3TA to TH5773)
Assign Unit (From 1086A to 4727B)
Assign Unit (From 1034B to 1065A)
Assign Unit (From 1976-02B to 2034-05A)
Assign Unit (From 2034-05A to 2034-05A)
Assign Unit (From 1994-06B to 1976-02B)
Assign Unit (From WC5933D to WC5933S)
Assign Unit (From TH5839 to WAIT-2TH)
Assign Unit (From C5273C to C5269D)
Assign Unit (From WAIT-3V to TH5969)
Assign Unit (From SH5755 to FT5824)
Assign Unit (From 1132D to 4798C)
Assign Unit (From WC5933Q to WAIT-2D)
Assign Unit (From WC5933D to SH5755)
Assign Unit (From WC5950H to WC5933D)
Assign Unit (From 4784D to 1090AS)
Assign Unit (From 1090AS to 4747B)
Assign Unit (From 1050C to 1081C)
Assign Unit (From FT5880C to FT5880K)
Assign Unit (From 1132D to 1071C)
Assign Unit (From 1034A to 1060C)
Assign Unit (From AC1107 to TT1221)
Transfer Unit (From TH5823 to FT5906E)
Transfer Unit (To FT5906E from TH5823)
Assign Unit (From 1998-02B to 2006-04B)
Assign Unit (From TH5814 to SH5807)
Assign Unit (From SH5807 to WAIT-3TB)
Transfer Unit (To WC5933E from WC5936K)
Assign Unit (From SH5824 to TH5983)
Assign Unit (From TH5983 to SH5824)
Assign Unit (From AC1063 to AC1116)
Assign Unit (From AC1116 to AC1063)
Assign Unit (From SH5824 to SH5804)
Assign Unit (From FT5821 to FT5801)
Assign Unit (From SH5804 to TH5806)
Assign Unit (From WAIT-3TB to AC1096)
Assign Unit (From WAIT-2D to SH5905)
Assign Unit (From WAIT-2D to WC5956C)
Assign Unit (from unit S1500-2D to S1500-1L)
Assign Unit (from unit S1500-1L to S1500-2D)
Assign Unit (from unit C0003A to C0011G)
Assign Unit (from unit C5269H to c5269F)
Adjust Lease End Date
Assign Unit (from unit C5273D to S1458D)
Assign Unit (from unit WC5946J to ac1134)
Assign Unit (from unit AC1134 to wc5946j)
Assign Unit (from unit TH5839 to WC5936B)
Assign Unit (from unit SH5763 to TH5777)
Assign Unit (from unit C5273D to c5273K)
Assign Unit (from unit C5303L to S1458H)
Assign Unit (from unit WC5936B to WC5930C)
Assign Unit (from unit C5271J to C5273D)
Assign Unit (from unit WAIT to WC5933E)
Assign Unit (from unit WAIT to SH5907)
Assign Unit (from unit C5322A to S1450D)
Assign Unit (from unit WAIT to SH5822)
Assign Unit (from unit M0022B to M0018A)
Assign Unit (from unit WAIT to WC5956F)
Assign Unit (from unit S1450G to S1456D)
Assign Unit (from unit S1454C to c5271f)
Assign Unit (from unit M0007F to S1452J)
Assign Unit (from unit S1458H to S1452J)
Assign Unit (from unit M0020A to M0004D)
Assign Unit (from unit S1452J to S1458H)
Assign Unit (from unit S1500-7C to C05278)
Assign Unit (from unit WAIT to FT5880G)
Assign Unit (from unit SH5861 to TT1177)
Assign Unit (from unit S1500-4H to s1500-1M)
Assign Unit (from unit C0011H to C0003D)
Assign Unit (from unit C0003D to C0011H)
Assign Unit (from unit C5322B to c5326F)
Assign Unit (from unit M0038C to S1500-2G)
Assign Unit (from unit C5324L to S1458K)
Assign Unit (from unit WAIT to TT1193)
Assign Unit (from unit SH5763 to TH5810)
Assign Unit (from unit FT5779 to SH5763)
Assign Unit (from unit M0007F to m0013f)
Assign Unit (from unit SH5836 to TH5814)
Assign Unit (from unit FT5862D to FT5906H)
Assign Unit (from unit TT1193 to AC1127)
Assign Unit (from unit WAIT to WC5933H)
Assign Unit (from unit SH5836 to TH5827)
Assign Unit (from unit WC5946I to WAIT)
Assign Unit (from unit S1500-3K to S1500-1J)
Assign Unit (from unit SH5763 to WAIT)
Assign Unit (from unit FT5834 to AC1038)
Assign Unit (from unit C5322C to c5324C)
Assign Unit (from unit M0002A to m0002D)
Assign Unit (from unit WAIT to WC5933T)
Assign Unit (from unit WAIT to SH5823)
Assign Unit (from unit WAIT to SH5926)
Assign Unit (from unit S1500-5M to c5254H)
Assign Unit (from unit SH5861 to SH5763)
Assign Unit (from unit TT1190 to WAIT)
Assign Unit (from unit AC1038 to TT1190)
Assign Unit (from unit WAIT to AC1038)
Assign Unit (from unit TT1190 to SH5861)
Assign Unit (from unit SH5861 to TT1190)
Assign Unit (from unit S1500-6J to s1500-2J)
Assign Unit (from unit M0002D to M0009A)
Assign Unit (from unit WAIT to WC5956C)
Assign Unit (from unit C0003F to C5254E)
Assign Unit (from unit C5252J to C0003F)
Assign Unit (from unit WC5956C to WAIT)
Assign Unit (from unit SH5926 to SH5944)
Assign Unit (from unit WAIT to FT5880B)
Assign Unit (from unit AC1109 to TT1193)
Assign Unit (from unit FT5765 to AC1127)
Assign Unit (from unit WAIT to AC1128)
Assign Unit (from unit C0007B to S1456L)
Assign Unit (from unit S1456L to C0007K)
Assign Unit (from unit AC1089 to ac1076)
Assign Unit (from unit WC5946D to wc5940c)
Assign Unit (from unit S1456K to s1500-5L)
Assign Unit (from unit M0013F to M0002D)
Assign Unit (from unit M0026C to M0014D)
Assign Unit (from unit TH5810 to SH5822)
Assign Unit (from unit S1456K to C5273F)
Assign Unit (from unit S1458M to M0012B)
Assign Unit (from unit AC1061 to AC1038)
Assign Unit (from unit TH5809 to SH5759)
Assign Unit (from unit M0002D to S1458M)
Assign Unit (from unit TH5824 to WAIT)
Assign Unit (from unit TH5805 to TH5824)
Assign Unit (from unit M0012B to C0007M)
Assign Unit (from unit M0010E to M0012B)
Assign Unit (from unit M0012B to c5307H)
Assign Unit (from unit WAIT to TT1217)
Assign Unit (from unit SH5823 to TH5810)
Assign Unit (from unit SH5813 to SH5761)
Assign Unit (from unit WAIT to WC5933K)
Assign Unit (from unit SH5816 to TH5971)
Assign Unit (from unit TH5971 to SH5813)
Assign Unit (from unit SH5813 to TH5971)
Assign Unit (from unit C0003D to s1500-5M)
Assign Unit (from unit C0007D to S1450D)
Assign Unit (from unit M0001A to m0020a)
Assign Unit (from unit WAIT to SH5829)
Assign Unit (from unit S1452J to c5326B)
Assign Unit (from unit FT5906C to WAIT)
Assign Unit (from unit C5307H to c5252h)
Assign Unit (from unit WAIT to FT5892F)
Assign Unit (from unit FT5892F to WAIT)
Assign Unit (from unit WAIT to FT5862F)
Assign Unit (from unit AC1043 to FT5834)
Assign Unit (from unit SH5909 to SH5839)
Assign Unit (from unit FT5834 to AC1069)
Assign Unit (from unit FT5906C to FT5906J)
Assign Unit (from unit TH5808 to SH5802)
Assign Unit (from unit AC1094 to AC1077)
Assign Unit (from unit WC5960E to SH5829)
Assign Unit (from unit TH5811 to SH5827)
Assign Unit (from unit C5254H to M0024E)
Assign Unit (from unit WC5960N to WC5933K)
Assign Unit (from unit M0028B to M0024D)
Assign Unit (from unit C5307C to c0003a)
Assign Unit (from unit C0003A to c5307c)
Assign Unit (from unit FT5833 to AC1096)
Assign Unit (from unit SH5829 to SH5845)
Assign Unit (from unit SH5857 to TH5781)
Assign Unit (from unit C05284 to S1500-2D)
Assign Unit (from unit C5271F to C5269H)
Assign Unit (from unit WAIT to TH5811)
Assign Unit (from unit WAIT to TH5814)
Assign Unit (from unit M0012A to M0016C)
Assign Unit (from unit TH5814 to SH5755)
Assign Unit (from unit WAIT1 to M0012A)
Assign Unit (from unit M0038D to M0036F)
Assign Unit (from unit WC5930D to WC5950A)
Assign Unit (from unit M0012A to M0036B)
Assign Unit (from unit SH5755 to WAIT)
Assign Unit (from unit WAIT to SH5755)
30 Day Letter Sent
60 Day Letter Sent
90 Day Letter Sent
120 Day Letter Sent
Assign Unit (from unit SH5802 to TH5975)
Assign Unit (from unit SH5850 to TH5833)
Assign Unit (from unit AC1133 to AC1071)
Assign Unit (from unit TH5813 to TH5777)
Assign Unit (from unit TH5777 to SH5813)
Assign Unit (from unit AC1071 to TT1166)
Assign Unit (from unit SH5815 to SH5852)
Assign Unit (from unit WC5933W to WC5933J)
Assign Unit (from unit SH5852 to SH5838)
Assign Unit (from unit M0013F to M0013D)
Transfer Unit (From SH5808 to AC1043)
Transfer Unit (To AC1043 from SH5808)
Assign Unit (from unit C0003A to C0003B)
Assign Unit (from unit WAIT to FT5880J)
Assign Unit (from unit C5322L to s1500-4J)
Assign Unit (from unit S1450C to S1500-3F)
Assign Unit (from unit S1500-4J to c5307H)
Assign Unit (from unit C05282 to S1500-3J)
Assign Unit (from unit SH5802 to WC5956A)
Assign Unit (from unit C5254B to M0020D)
Assign Unit (from unit WC5956T to WC5956G)
Assign Unit (from unit TH5781 to TH5837)
Assign Unit (from unit SH5942 to WAIT)
Assign Unit (from unit TH5837 to SH5942)
Assign Unit (from unit WAIT to SH5913)
Assign Unit (from unit WAIT to TH5813)
Assign Unit (from unit C5326J to S1452J)
Assign Unit (from unit M0036C to s1500-2L)
Assign Unit (from unit SH5807 to SH5811)
Assign Unit (from unit AC1047 to TH5777)
Assign Unit (from unit WAIT to SH5850)
Assign Unit (from unit FT5767 to AC1105)
Assign Unit (from unit SH5807 to SH5839)
Assign Unit (from unit AC1145 to FT5765)
Assign Unit (from unit S1500-4K to M0012D)
Assign Unit (from unit WAIT to TH5834)
Assign Unit (from unit AC1105 to AC1145)
Assign Unit (from unit WC5946B to AC1105)
Assign Unit (from unit S1454J to C5271J)
Assign Unit (from unit C5271J to S1454J)
Assign Unit (from unit M0001D to S1500-7D)
Assign Unit (from unit S1452D to S1458A)
Assign Unit (from unit WAIT to FT5880P)
Assign Unit (from unit M0020D to C0007C)
Assign Unit (from unit S1452D to C5303L)
Assign Unit (from unit S1450F to c5322D)
Assign Unit (from unit S1450F to c5326E)
Assign Unit (from unit C5252A to c5252K)
Assign Unit (from unit C5252K to M0013F)
Assign Unit (from unit C0007D to C5271J)
Assign Unit (from unit WC5956B to WC5956N)
Assign Unit (from unit WC5956N to WC5956L)
Assign Unit (from unit WAIT to SH5908)
Assign Unit (from unit SH5908 to WAIT)
Assign Unit (from unit C5305J to m0011A)
Assign Unit (from unit TH5808 to TH5812)
Assign Unit (from unit M0013F to C5305J)
Assign Unit (from unit FT5880J to WAIT)
Assign Unit (from unit WC5956L to WAIT)
Assign Unit (from unit WAIT to WC5956L)
Assign Unit (from unit WC5956L to WC5950K)
Assign Unit (from unit TH5783 to WAIT)
Assign Unit (from unit WC5956Q to WC5956L)
Assign Unit (from unit TH5812 to sh5934)
Assign Unit (from unit SH5934 to th5812)
Assign Unit (from unit C5305J to s1450c)
Assign Unit (from unit C5326C to m0002b)
Transfer Unit (From SH5766 to FT5880E)
Transfer Unit (To FT5880E from SH5766)
Assign Unit (from unit WC5970H to WC5930C)
Assign Unit (from unit WAIT to SH5934)
Assign Unit (from unit SH5934 to WC5960I)
Assign Unit (from unit WC5960I to SH5934)
Assign Unit (from unit SH5934 to WAIT)
Assign Unit (from unit SH5762 to TH5804)
Assign Unit (from unit M0012B to S1500-3J)
Assign Unit (from unit SH5914 to WAIT)
Assign Unit (from unit WC5956L to TH5808)
Assign Unit (from unit WC5966G to WC5956L)
Assign Unit (from unit TH5808 to WAIT)
Assign Unit (from unit TH5804 to TH5808)
Assign Unit (from unit WAIT to TH5804)
Transfer Unit (From FT5906B to SH5766)
Transfer Unit (To SH5766 from FT5906B)
Assign Unit (from unit TH5804 to SH5762)
Assign Unit (from unit WC5930C to WAIT)
Transfer Unit (From WC5930H to WC5930C)
Transfer Unit (To WC5930C from WC5930H)
Assign Unit (from unit SH5847 to SH5849)
Assign Unit (from unit C5252L to M0008f)
Assign Unit (from unit WAIT to FT5906B)
Assign Unit (from unit SH5849 to TH5783)
Assign Unit (from unit SH5908 to SH5847)
Assign Unit (from unit TH5783 to WAIT-2TH)
Assign Unit (from unit C5305J to m0012e)
Assign Unit (from unit WAIT-2TH to TH5783)
Assign Unit (from unit TH5783 to SH5944)
Assign Unit (from unit M0014B to S1500-6A)
Assign Unit (from unit SH5944 to WAIT-2TH)
Assign Unit (from unit TH5920 to TT1185)
Assign Unit (from unit WC5960I to WC5956I)
Assign Unit (from unit WAIT to FT5827)
Assign Unit (from unit M0004A to m0026c)
Assign Unit (from unit FT5827 to FT5789)
Assign Unit (from unit WC5956I to SH5846)
Assign Unit (from unit SH5846 to WC5956Q)
Assign Unit (from unit WC5956Q to SH5846)
Assign Unit (from unit SH5902 to SH5930)
Assign Unit (from unit WC5936F to WC5936G)
Assign Unit (from unit M0032D to m0006c)
Assign Unit (from unit M0009C to M0005A)
Assign Unit (from unit M0009C to S1454G)
Assign Unit (from unit C05272 to m0001f)
Assign Unit (from unit S1500-3B to C05272)
Transfer Unit (From FT5862G to AC1064)
Transfer Unit (To AC1064 from FT5862G)
Transfer Unit (From SH5807 to SH5902)
Transfer Unit (To SH5902 from SH5807)
Assign Unit (from unit AC1109 to FT5767)
Assign Unit (from unit M0001F to m0018d)
Assign Unit (from unit WC5936C to WC5950I)
Assign Unit (from unit FT5767 to WAIT-2V)
Assign Unit (from unit WAIT-2V to FT5767)
Assign Unit (from unit C5254A to m0010f)
Assign Unit (from unit FT5767 to FT5771)
Assign Unit (from unit SH5863 to SH5849)
Assign Unit (from unit SH5830 to SH5828)
Assign Unit (from unit TH5985 to WAIT-3TA)
Transfer Unit (From SH5913 to FT5833)
Transfer Unit (To FT5833 from SH5913)
Assign Unit (from unit WC5960I to FT5862J)
Assign Unit (from unit SH5863 to WC5956I)
Assign Unit (from unit WAIT-3TB to TH5914)
Assign Unit (from unit S1500-1B to s1500-3B)
Assign Unit (from unit S1450L to s1458d)
Assign Unit (from unit SH5846 to SH5863)
Assign Unit (from unit WAIT-2TH to SH5846)
Assign Unit (from unit TH5914 to TH5829)
Assign Unit (from unit S1458F to s1454k)
Assign Unit (from unit SH5846 to WC5956N)
Assign Unit (from unit WAIT-2D to TH5819)
Assign Unit (from unit TH5819 to SH5944)
Assign Unit (from unit WC5960C to TH5819)
Assign Unit (from unit WAIT-3TB to TH5920)
Assign Unit (from unit TT1189 to AC1109)
Transfer Unit (From SH5906 to FT5817)
Transfer Unit (To FT5817 from SH5906)
Assign Unit (from unit WAIT-2A to WC5960C)
Assign Unit (from unit TH5920 to WAIT-3TA)
Assign Unit (from unit WAIT-3TA to WAIT-3TB)
Assign Unit (from unit WAIT-3TA to TH5843)
Assign Unit (from unit TH5920 to TH5914)
Assign Unit (from unit TH5818 to WAIT-3TA)
Assign Unit (from unit WAIT-3TA to WAIT-2TH)
Assign Unit (from unit SH5906 to TH5822)
Transfer Unit (From WC5950G to SH5909)
Transfer Unit (To SH5909 from WC5950G)
Assign Unit (from unit SH5909 to th5765)
Assign Unit (from unit M0009C to c5303G)
Assign Unit (from unit C0011B to M0036B)
Assign Unit (from unit SH5846 to TH5801)
Assign Unit (from unit TH5801 to SH5846)
Assign Unit (from unit SH5841 to TH5801)
Assign Unit (from unit S1500-5H to M0014C)
Assign Unit (from unit WC5960C to WAIT-2D)
Assign Unit (from unit AC1099 to WAIT-2V)
Assign Unit (from unit TH5825 to TH5920)
Assign Unit (from unit C0011B to M0030D)
Assign Unit (from unit TH5920 to TH5831)
Assign Unit (from unit WAIT-2C to WC5933I)
Assign Unit (from unit WAIT-3TA to TH5985)
Assign Unit (from unit WAIT-2TH to TH5828)
Assign Unit (from unit SH5952 to TH5801)
Assign Unit (from unit WAIT-2A to FT5821)
Assign Unit (from unit M0004E to m0024f)
Assign Unit (from unit WAIT-3V to FT5841)
Assign Unit (from unit WC5933P to WC5956L)
Assign Unit (from unit M0024F to M0004E)
Assign Unit (from unit M0022A to M0028a)
Assign Unit (from unit WC5946G to WAIT-2E)
Assign Unit (from unit M0028A to M0022A)
Assign Unit (from unit M0015A to M0020B)
Assign Unit (from unit WC5933P to WC5956N)
Assign Unit (from unit WC5956L to WC5933P)
Assign Unit (from unit TT1206 to WAIT)
Assign Unit (from unit WAIT-3TA to SH5906)
Assign Unit (from unit WAIT-2A to WC5960E)
Assign Unit (from unit WAIT-3V to FT5833)
Assign Unit (from unit WAIT-2TH to TH5818)
Assign Unit (from unit WAIT-3TA to SH5816)
Assign Unit (from unit TH5818 to SH5861)
Assign Unit (from unit SH5861 to TH5785)
Assign Unit (from unit WC5956K to WC5960H)
Assign Unit (from unit WAIT to TH5839)
Assign Unit (from unit WAIT to TH5981)
Assign Unit (from unit S1500-6L to C5252F)
Assign Unit (from unit SH5835 to WC5956K)
Assign Unit (from unit WC5956K to SH5807)
Assign Unit (from unit AC1145 to WAIT)
Assign Unit (from unit S1454C to S1458C)
Assign Unit (from unit AC1115 to AC1145)
Assign Unit (from unit S1458C to S1454C)
Assign Unit (from unit WAIT to TH5912)
Assign Unit (from unit TH5912 to WAIT)
Assign Unit (from unit S1458C to C5271B)
Assign Unit (from unit C5271B to S1454A)
Assign Unit (from unit SH5944 to SH5842)
Assign Unit (from unit FT5906I to FT5906G)
Assign Unit (from unit C5322B to M0007C)
Assign Unit (from unit WAIT to WC5966J)
Assign Unit (from unit FT5906G to FT5862D)
Assign Unit (from unit FT5862D to FT5906G)
Assign Unit (from unit WC5950G to WC5950I)
Assign Unit (from unit M0015D to M0028D)
Assign Unit (from unit M0028D to M0015D)
Assign Unit (from unit WC5950I to WC5950G)

Assign Unit (From 2032-03A to 2010-05A)
Assign Unit (From WAIT-1BR to 1986-07B)
Assign Unit (From 4783C to 1014D)
Assign Unit (From AC1065 to FT5788)
Assign Unit (From 4759D to 1025D)
Assign Unit (From 2024-09A to 2024-09B)
Assign Unit (From WAIT-2B to WC5950D)
Assign Unit (From 1986-10B to 2006-09B)
Assign Unit (From 2006-09B to 1968-03C)
Assign Unit (From SH5804 to AC1065)
Assign Unit (From SH5757 to TH5808)
Assign Unit (From 1070B to 4751A)
Assign Unit (From 1102AB to 1142DB)
Assign Unit (From 1142DB to 1142DB)
Assign Unit (From WC5966A to WC5946H)
Assign Unit (From WC5946H to WC5946H)
Assign Unit (From SH5825 to TH5808)
Assign Unit (From FT5892F to WC5966A)
Assign Unit (From WC5946H to WC5966A)
Assign Unit (From TH5808 to WC5940F)
Assign Unit (From WC5940F to WC5950D)
Assign Unit (From WC5966A to WC5960K)
Assign Unit (From SH5827 to TH5808)
Assign Unit (From TH5808 to SH5827)
Assign Unit (From C0011A to M0010B)
Assign Unit (From S1452G to S1452A)
Transfer Unit (From S1450E to M0020C)
Transfer Unit (To M0020C from S1450E)
Transfer Unit (From S1450B to C5324C)
Transfer Unit (To C5324C from S1450B)
Transfer Unit (From S1450A to S1500-7D)
Transfer Unit (To S1500-7D from S1450A)
Transfer Unit (From S1450C to C5273C)
Transfer Unit (To C5273C from S1450C)
Transfer Unit (From S1450F to C5305C)
Transfer Unit (To C5305C from S1450F)
Transfer Unit (From S1450G to C0011M)
Transfer Unit (To C0011M from S1450G)
Transfer Unit (From S1450K to M0016A)
Transfer Unit (To M0016A from S1450K)
Transfer Unit (From S1450L to C0011A)
Transfer Unit (To C0011A from S1450L)
Transfer Unit (From S1450M to M0012E)
Assign Unit (From 1986-05B to 1986-09A)
Assign Unit (From 1986-09A to 1986-09A)
Transfer Unit (From M0001E to C5324M)
Transfer Unit (To C5324M from M0001E)
Assign Unit (From 1038A to 1103C)
Assign Unit (From WAIT-2TH to TH5801)
Assign Unit (From TH5801 to TH5806)
Assign Unit (From SH5911 to TH5806)
Assign Unit (From WAIT-2V to TT1203)
Assign Unit (From WAIT-2E to WC5970F)
Assign Unit (From TH5791 to SH5804)
Assign Unit (From TH5806 to SH5766)
Assign Unit (From 1142DB to 1101D)
Assign Unit (From AC1105 to FT5791)
Assign Unit (From 1081B to 1100B)
Assign Unit (From FT5791 to AC1145)
Assign Unit (From SH5766 to SH5763)
Assign Unit (From SH5861 to SH5809)
Assign Unit (From WAIT2R-1 to 4739B)
Assign Unit (From WAIT1AR1 to 1072A)
Assign Unit (From 1142A to 1038A)
Assign Unit (From WAIT2R-1 to 1131B)
Assign Unit (From 1986-09A to 1968-09B)
Assign Unit (From 1968-07B to 2006-13B)
Assign Unit (From 2032-02A to 1986-01C)
Assign Unit (From 1040A to 1102C)
Assign Unit (From 4771A to 1040A)
Assign Unit (From 4759B to 1078B)
Assign Unit (From 1094B to 4759B)
Assign Unit (From WAIT-3TB to TH5825)
Transfer Unit (From SH5814 to FT5816)
Transfer Unit (To FT5816 from SH5814)
Transfer Unit (From S1500-4B to M0014A)
Transfer Unit (To M0014A from S1500-4B)
Assign Unit (From 1071B to 1072C)
Assign Unit (From 1102C to 1030DB)
Assign Unit (From WAIT-2TH to WC5956O)
Assign Unit (From WAIT1BR1 to 1014B)
Assign Unit (From WAIT1AR1 to 1121A)
Assign Unit (From WAIT-1B to 2006-06A)
Assign Unit (From C5307C to C5269A)
Assign Unit (From WAIT-2E to WC5970D)
Assign Unit (From WAIT-2TH to SH5849)
Assign Unit (From WAIT-2B to WC5960D)
Assign Unit (From M0012B to M0014A)
Assign Unit (From C0007A to C0011L)
Assign Unit (From WAIT-3TA to TH5787)
Assign Unit (From M0008A to M0001A)
Assign Unit (From WAIT-3TA to SH5818)
Assign Unit (From S1500-5A to S1500-2E)
Assign Unit (From WAIT-3TA to TH5832)
Assign Unit (From WAIT-2TH to WC5933P)
Assign Unit (From WAIT-2TH to SH5910)
Assign Unit (From WAIT-2TH to TH5828)
Assign Unit (From WAIT-2B to SH5863)
Assign Unit (From WAIT-2D to WC5966G)
Assign Unit (From SH5851 to WC5960N)
Assign Unit (From C5252A to M0036D)
Assign Unit (From C5307C to M0024F)
Assign Unit (From M0036D to M0008A)
Assign Unit (From WAIT-2B to FT5862D)
Assign Unit (From WAIT-3TA to TH5812)
Assign Unit (From WAIT-2TH to SH5918)
Assign Unit (From C5324G to C5307J)
Assign Unit (From WC5966A to WC5946A)
Assign Unit (From WAIT-2TH to SH5904)
Assign Unit (From WAIT-2B to WC5966B)
Assign Unit (From WAIT-2B to WC5960L)
Assign Unit (From WAIT-2TH to TH5807)
Assign Unit (From SH5904 to SH5952)
Assign Unit (From SH5904 to SH5918)
Assign Unit (From SH5918 to SH5904)
Assign Unit (From C05266 to S1500-7A)
Assign Unit (From C5273C to M0012E)
Assign Unit (From C0011M to M0009F)
Assign Unit (From WC5936G to WC5930B)
Assign Unit (From TH5808 to SH5804)
Transfer Unit (From C0011G to C5305L)
Transfer Unit (To C5305L from C0011G)
Assign Unit (From WAIT-2A to TH5828)
Assign Unit (From 1103A to 1112C)
Assign Unit (From WAIT-1AR to 2006-04C)
Assign Unit (From WAIT-2B to WC5970I)
Assign Unit (From WAIT-3TB to TH5918)
Assign Unit (From 1120D to 1025B)
Assign Unit (From 1025B to 1066A)
Assign Unit (From AC1038 to AC1059)
Assign Unit (From WC5960A to WC5956R)
Assign Unit (From TT1209 to TT1217)
Assign Unit (From C5303E to S1500-5A)
Assign Unit (From WAIT-2TH to TH5817)
Assign Unit (From WAIT-3TA to FT5833)
Assign Unit (From WAIT-3TB to SH5805)
Assign Unit (From WAIT-3TA to TH5819)
Assign Unit (From SH5805 to AC1041)
Assign Unit (From WAIT-2D to WC5933N)
Assign Unit (From WC5933N to SH5856)
Assign Unit (From TH5817 to TH5819)
Assign Unit (From WAIT-2TH to WC5950J)
Assign Unit (From C5307C to C5322C)
Assign Unit (From FT5823 to AC1114)
Assign Unit (From C5271B to C5252K)
Assign Unit (From FT5789 to FT5791)
Assign Unit (From C5250C to S1458A)
Assign Unit (From 1986-10C to 1986-05B)
Assign Unit (From 1996-04B to 1966-03B)
Assign Unit (From 1986-01C to 1968-01C)
Assign Unit (From 2030-07A to 1960-10A)
Assign Unit (From 2030-07A to 1982-04B)
Assign Unit (From 4747B to 1103A)
Transfer Unit (From FT5880I to TH5807)
Transfer Unit (To TH5807 from FT5880I)
Assign Unit (From WC5936G to SH5911)
Assign Unit (From WC5970F to WC5936G)
Assign Unit (From 4739B to 1041B)
Assign Unit (From WAIT-2C to WC5936G)
Assign Unit (From 2032-02A to 1994-07A)
Assign Unit (From 1968-07B to 1986-10B)
Assign Unit (From WC5936G to WC5950D)
Assign Unit (From 1994-07A to 2018-06A)
Assign Unit (From 1986-05B to 1986-10B)
Assign Unit (From 1968-03C to 2006-13B)
Assign Unit (From 2032-01A to 1968-12A)
Assign Unit (From 1986-07B to 1986-10A)
Assign Unit (From 1120D to 4763D)
Assign Unit (From 2006-13B to 2006-09B)
Transfer Unit (From 1992-03B to 2036-06A)
Transfer Unit (To 2036-06A from 1992-03B)
Assign Unit (From 4731A to 4731C)
Assign Unit (From WC5940A to WC5940B)
Assign Unit (From 1986-05B to 2006-13C)
Assign Unit (From 1968-12A to 1986-10A)
Assign Unit (From 1986-10A to 1968-12A)
Assign Unit (From WC5950D to WC5940A)
Assign Unit (From 4759D to 1038A)
Assign Unit (From 4787C to 4759D)
Transfer Unit (From C0011D to C0007K)
Transfer Unit (To C0007K from C0011D)
Transfer Unit (From FT5841 to TH5785)
Transfer Unit (To TH5785 from FT5841)
Assign Unit (From 4767C to 1040D)
Assign Unit (From 2006-04C to 2024-08A)
Assign Unit (From 2024-08A to 2006-04C)
Assign Unit (From 2024-04B to 2024-08A)
Assign Unit (From 2006-04C to 2024-04B)
Assign Unit (From 2024-04B to 2024-04B)
Assign Unit (From 2024-08A to 1990-05A)
Assign Unit (From FT5880I to WC5933D)
Transfer Unit (From 1142A to 1060D)
Transfer Unit (To 1060D from 1142A)
Assign Unit (From WC5933D to FT5880K)
Assign Unit (From WAIT-2E to WC5933D)
Assign Unit (From WC5933D to WC5933D)
Assign Unit (From FT5862G to WC5966G)
Assign Unit (From WAIT1AR1 to 1142D)
Assign Unit (From WAIT1AR2 to 1113A)
Assign Unit (From WAIT2R-1 to 1112BB)
Assign Unit (From FT5880K to WC5933Q)
Assign Unit (From 2008-03A to 1994-06B)
Assign Unit (From SH5768 to AC1137)
Transfer Unit (From M0012E to S1456K)
Transfer Unit (To S1456K from M0012E)
Assign Unit (From WAIT1BR1 to 1140C)
Assign Unit (From WAIT2R-2 to 4800C)
Assign Unit (From WAIT2R-1 to 1084B)
Assign Unit (From WAIT-2TH to WC5933F)
Assign Unit (From S1500-5A to S1500-1C)
Assign Unit (From 2022-02A to 1984-01A)
Assign Unit (From 1066A to 4731A)
Assign Unit (From WAIT-2E to WC5950F)
Assign Unit (From SH5922 to SH5950)
Assign Unit (From 1050A to 1113B)
Assign Unit (From M0034C to M0022D)
Assign Unit (From WAIT-2TH to TH5835)
Assign Unit (From 1102C to 4792A)
Assign Unit (From 4790D to WAIT1BR1)
Assign Unit (From TH5835 to TH5824)
Assign Unit (From WAIT-3V to TT1204)
Assign Unit (From 1986-13B to 2006-14C)
Assign Unit (From 1092D to 1133B)
Assign Unit (From 1098A to 1055D)
Assign Unit (From 1133B to 1092D)
Assign Unit (From M0018D to M0016E)
Assign Unit (From SH5820 to SH5819)
Assign Unit (From TT1204 to AC1122)
Assign Unit (From C5324L to C5273K)
Assign Unit (From WAIT-2TH to SH5847)
Assign Unit (From 1123B to 1098A)
Assign Unit (From SH5765 to AC1083)
Assign Unit (From 2006-06C to 1986-07A)
Assign Unit (From 1986-07A to 2006-06C)
Assign Unit (From M0032E to M0004F)
Assign Unit (From 1050A to 1141B)
Assign Unit (From WAIT-3TA to SH5832)
Assign Unit (From S1458D to C0007M)
Assign Unit (From WC5950F to WC5940E)
Assign Unit (From WAIT-3TB to SH5765)
Assign Unit (From AC1053 to AC1083)
Assign Unit (From SH5847 to TH5834)
Assign Unit (From WC5966B to WC5970K)
Assign Unit (From WAIT-2D to WC5966B)
Assign Unit (From S1452J to S1456E)
Assign Unit (From AC1114 to FT5823)
Assign Unit (From FT5833 to TT1204)
Assign Unit (From WC5933G to WC5933N)
Assign Unit (From WAIT-3TB to TH5845)
Transfer Unit (From WC5950K to SH5766)
Transfer Unit (To SH5766 from WC5950K)
Assign Unit (From SH5856 to WC5950K)
Transfer Unit (From WC5946B to FT5862H)
Transfer Unit (To FT5862H from WC5946B)
Transfer Unit (From TT1205 to FT5779)
Transfer Unit (To FT5779 from TT1205)
Transfer Unit (From WC5970D to TH5819)
Transfer Unit (To TH5819 from WC5970D)
Assign Unit (From TH5845 to SH5811)
Assign Unit (From WAIT-2TH to SH5856)
Assign Unit (From WAIT-3TA to SH5824)
Assign Unit (From TH5819 to TH5817)
Assign Unit (From WAIT-3TB to TH5819)
Assign Unit (From WAIT-2TH to SH5835)
Assign Unit (From WAIT-2TH to WC5966A)
Assign Unit (From WAIT-3TA to TH5816)
Assign Unit (From FT5880M to WAIT-2A)
Assign Unit (From WC5966A to WC5956I)
Assign Unit (From S1452A to C5303L)
Assign Unit (From AC1116 to AC1047)
Assign Unit (From AC1137 to AC1132)
Assign Unit (From AC1132 to AC1137)
Activity
Assign Unit (From SH5768 to TH5975)
Assign Unit (From 1962-06B to 2036-06B)
Assign Unit (From 2036-06B to 2036-06B)
Assign Unit (From WAIT-3V to FT5824)
Transfer Unit (From S1500-3B to S1500-3K)
Transfer Unit (To S1500-3K from S1500-3B)
Transfer Unit (From S1500-7D to C5269A)
Transfer Unit (To C5269A from S1500-7D)
Assign Unit (From AC1137 to AC1099)
Assign Unit (From WAIT-2TH to TH5834)
Assign Unit (From 1123C to 1074D)
Assign Unit (From 2006-08B to 1968-07B)
Assign Unit (From 1986-07B to 2006-08B)
Assign Unit (From TH5812 to SH5952)
Transfer Unit (From SH5920 to TT1209)
Transfer Unit (To TT1209 from SH5920)
Assign Unit (From SH5904 to WC5930B)
Assign Unit (From SH5918 to TH5920)
Assign Unit (From TH5920 to SH5918)
Assign Unit (From WC5930B to SH5904)
Assign Unit (From WAIT-3TB to TH5920)
Assign Unit (From WAIT-2E to WC5946K)
Assign Unit (From WAIT-3TB to TH5985)
Assign Unit (From WC5946E to WC5933P)
Assign Unit (From WC5933C to WAIT-2D)
Assign Unit (From WAIT-2D to WAIT-2A)
Assign Unit (From WAIT-2A to WAIT-2B)
Assign Unit (From WAIT-2B to WAIT-2D)
Assign Unit (From WAIT-2D to WAIT-2C)
Assign Unit (From TH5763 to TH5817)
Assign Unit (From TH5817 to TH5763)
Assign Unit (From SH5847 to SH5904)
Assign Unit (From C5254G to S1456C)
Assign Unit (From 1076D to WAIT2R-1)
Assign Unit (From C5322L to S1458K)
Assign Unit (From M0005D to C5322L)
Assign Unit (From M0014B to M0005D)
Assign Unit (From 2022-03B to 2018-06A)
Assign Unit (From 1960-10A to 2008-03B)
Assign Unit (From 1050A to 1066B)
Assign Unit (From WAIT-3TA to SH5814)
Assign Unit (From 1066B to 1070AS)
Assign Unit (From WC5940B to WC5946D)
Assign Unit (From M0038B to M0012A)
Assign Unit (From WAIT-2C to TH5820)
Assign Unit (From WAIT-2TH to TH5781)
Assign Unit (From 1986-07A to 1968-07A)
Assign Unit (From WAIT-2E to WC5946G)
Assign Unit (From AC1063 to FT5840)
Assign Unit (From TT1218 to AC1063)
Assign Unit (From WAIT-3V to TT1218)
Assign Unit (From 2024-08A to 2006-09A)
Assign Unit (From C0007C to C5326F)
Transfer Unit (From 1968-03A to 1994-06A)
Transfer Unit (To 1994-06A from 1968-03A)
Assign Unit (From SH5904 to WC5933D)
Assign Unit (From WC5933D to WC5933K)
Assign Unit (From WAIT1BR1 to 1071A)
Assign Unit (From WAIT1BR1 to 1091D)
Assign Unit (From SH5910 to SH5904)
Assign Unit (From SH5904 to SH5910)
Assign Unit (From TH5969 to SH5904)
Assign Unit (From FT5824 to AC1091)
Assign Unit (From M0018C to M0001C)
Assign Unit (From WAIT-2D to SH5856)
Transfer Unit (From WC5933S to TH5803)
Transfer Unit (To TH5803 from WC5933S)
Assign Unit (From 2036-08B to 1978-09A)
Assign Unit (From 4747B to 1102AB)
Assign Unit (From 1986-10B to 2024-08A)
Assign Unit (From 2024-11C to 1986-10B)
Assign Unit (From 1994-07B to 2024-11C)
Assign Unit (From 4747B to 1014C)
Assign Unit (From C0011G to C0007K)
Assign Unit (From SH5763 to SH5944)
Assign Unit (From 1102AB to 4747B)
Assign Unit (From 1123B to 4731A)
Assign Unit (From 1966-03B to 1992-03B)
Assign Unit (From 1021C to 1018D)
Assign Unit (From 1142A to WAIT1BR1)
Assign Unit (From 1968-07B to 1986-07B)
Assign Unit (From WAIT-2V to AC1065)
Assign Unit (From WAIT-2E to WC5950C)
Assign Unit (From WAIT-2E to WC5940C)
Transfer Unit (From TT1212 to WC5940D)
Transfer Unit (To WC5940D from TT1212)
Assign Unit (From S1500-6C to M0012B)
Assign Unit (From WAIT-2V to AC1139)
Assign Unit (From WAIT-2B to FT5862F)
Assign Unit (From WC5933C to AC1116)
Assign Unit (From SH5902 to SH5908)
Assign Unit (From WAIT-2TH to SH5911)
Assign Unit (From WAIT-3TA to SH5804)
Assign Unit (From M0014B to M0036D)
Assign Unit (From S1500-1B to S1500-1H)
Assign Unit (From SH5804 to TH5983)
Transfer Unit (To TH5831 from FT5880J)
Assign Unit (From WAIT-2TH to SH5804)
Assign Unit (From WAIT-3V to FT5821)
Transfer Unit (From FT5880J to TH5831)
Assign Unit (From WC5966E to WC5933C)
Transfer Unit (From AC1120 to AC1047)
Transfer Unit (To AC1047 from AC1120)
Transfer Unit (From WC5936G to AC1120)
Transfer Unit (To AC1120 from WC5936G)
Assign Unit (From S1456L to S1450L)
Assign Unit (From WAIT-2D to WC5960B)
Transfer Unit (From WC5960L to TH5812)
Transfer Unit (To TH5812 from WC5960L)
Assign Unit (From AC1059 to AC1046)
Assign Unit (From WAIT-2C to FT5906I)
Assign Unit (From 1021D to 1120C)
Assign Unit (From 1091A to 1088A)
Assign Unit (From 1120C to 1070DS)
Assign Unit (From S1500-1F to S1500-4M)
Assign Unit (From S1500-5M to S1500-1F)
Assign Unit (From WAIT2R-2 to 1071C)
Assign Unit (From WAIT2R-1 to 1074C)
Assign Unit (From WAIT1AR1 to 4735D)
Assign Unit (From WAIT-0B to 1045B)
Assign Unit (From 2032-02A to 2036-08A)
Assign Unit (From 1065C to 4767C)
Assign Unit (From 1992-02B to 1988-06B)
Assign Unit (From 1996-05A to 1968-03A)
Assign Unit (From 1992-02B to 1996-05A)
Assign Unit (From 1034B to 1070CS)
Assign Unit (From 1986-04B to 1968-04B)
Assign Unit (From WAIT-3TB to TH5813)
Assign Unit (From WAIT-2D to WC5933D)
Assign Unit (From WAIT-3V to AC1055)
Assign Unit (From WAIT-3V to TT1212)
Assign Unit (From TH5981 to TH5985)
Assign Unit (From TH5985 to TH5981)
Assign Unit (From WAIT-2TH to SH5920)
Assign Unit (From WAIT-2C to FT5892B)
Assign Unit (From S1452J to C5303J)
Assign Unit (From WAIT-2TH to SH5853)
Assign Unit (From C5271M to C5322D)
Assign Unit (From S1454B to S1452A)
Assign Unit (From S1452A to C5307E)
Assign Unit (From WAIT-2TH to SH5826)
Transfer Unit (From 2405-117 to SH5761)
Assign Unit (From SH5826 to TH5826)
Transfer Unit (From 2405-118 to TH5815)
Transfer Unit (From 2405-121 to WC5946K)
Assign Unit (From WAIT-3V to FT5788)
Assign Unit (From WAIT-2C to TH5802)
Assign Unit (From TH5981 to SH5824)
Assign Unit (From TH5985 to WC5936J)
Assign Unit (From SH5824 to TH5981)
Assign Unit (From WC5936J to TH5985)
Assign Unit (From S1500-3E to S1452J)
Assign Unit (From TH5985 to TH5813)
Assign Unit (From TH5813 to TH5985)
Assign Unit (From WAIT-3V to TT1178)
Assign Unit (From WAIT-3V to AC1078)
Assign Unit (From WAIT-2TH to SH5848)
Assign Unit (From SH5930 to FT5880M)
Assign Unit (From TH5808 to TH5969)
Assign Unit (From FT5880F to WC5940B)
Assign Unit (From WAIT-2C to FT5880F)
Assign Unit (From TH5828 to SH5930)
Assign Unit (From 4763D to 4763A)
Transfer Unit (From M0009D to M0009F)
Transfer Unit (To M0009F from M0009D)
Transfer Unit (From C5303M to M0013C)
Transfer Unit (To M0013C from C5303M)
Transfer Unit (From M0036B to C05266)
Transfer Unit (To C05266 from M0036B)
Transfer Unit (From S1500-4G to C5269E)
Transfer Unit (To C5269E from S1500-4G)
Transfer Unit (From C5307D to M0022A)
Transfer Unit (To M0022A from C5307D)
Transfer Unit (From M0010B to C05276)
Transfer Unit (To C05276 from M0010B)
Assign Unit (From FT5862O to WC5950K)
Assign Unit (From TH5783 to SH5854)
Assign Unit (From AC1047 to FT5773)
Assign Unit (From TT1203 to AC1125)
Transfer Unit (From SH5954 to FT5786)
Transfer Unit (To FT5786 from SH5954)
Assign Unit (From M0020A to C5252D)
Transfer Unit (From S1454E to C5252B)
Transfer Unit (To C5252B from S1454E)
Assign Unit (From 1968-02A to 1998-03B)
Assign Unit (From 4755B to 4739C)
Assign Unit (From M0005B to M0011A)
Assign Unit (From FT5779 to AC1099)
Transfer Unit (From 2405-126 to AC1116)
Transfer Unit (From 2403-132 to WC5960L)
Transfer Unit (From 2403-140 to WC5936H)
Transfer Unit (From 2401-141 to FT5880J)
Transfer Unit (From 2401-143 to TT1220)
Transfer Unit (From 2401-148 to SH5826)
Transfer Unit (From 2401-150 to AC1097)
Transfer Unit (From 2401-151 to AC1071)
Transfer Unit (From FT5880J to FT5880M)
Transfer Unit (To FT5880M from FT5880J)
Transfer Unit (From 2405-125 to FT5880J)
Transfer Unit (From 2403-134 to WC5956T)
Transfer Unit (From 2403-136 to TH5769)
Transfer Unit (From 2405-120 to SH5851)
Assign Unit (From S1456D to M0024C)
Assign Unit (From M0001F to S1500-5F)
Assign Unit (From M0016E to C5250G)
Assign Unit (From AC1059 to FT5788)
Transfer Unit (From S1500-4C to S1500-2H)
Transfer Unit (To S1500-2H from S1500-4C)
Assign Unit (From WAIT-2D to WC5956A)
Assign Unit (From WAIT-3TA to SH5820)
Assign Unit (From SH5820 to SH5822)
Transfer Unit (From C5305A to S1454M)
Transfer Unit (To S1454M from C5305A)
Transfer Unit (From FT5906L to WC5950B)
Transfer Unit (To WC5950B from FT5906L)
Transfer Unit (From S1458D to C5305G)
Transfer Unit (To C5305G from S1458D)
Assign Unit (From WAIT-2TH to SH5842)
Assign Unit (From WAIT-2C to FT5880P)
Assign Unit (From WAIT-2TH to WC5933G)
Assign Unit (From C5271K to S1500-3E)
Assign Unit (From WAIT-2D to WC5933K)
Assign Unit (From TH5817 to SH5913)
Assign Unit (From AC1047 to SH5824)
Assign Unit (From WAIT-3V to AC1063)
Assign Unit (From TH5787 to SH5808)
Assign Unit (From SH5908 to SH5843)
Assign Unit (From SH5843 to TH5787)
Assign Unit (From WC5966E to SH5908)
Assign Unit (From WAIT-2D to WC5956I)
Assign Unit (From WC5956I to WC5966E)
Assign Unit (From WAIT-2TH to SH5843)
Assign Unit (From WAIT-3V to TT1183)
Transfer Unit (From C0003A to C05280)
Transfer Unit (To C05280 from C0003A)
Assign Unit (From WAIT-2V to AC1153)
Assign Unit (From FT5880P to FT5892L)
Assign Unit (From FT5892L to FT5880P)
Assign Unit (From WAIT-3V to AC1140)
Assign Unit (From AC1140 to TH5775)
Assign Unit (From FT5892L to WC5930H)
Assign Unit (From TH5775 to FT5834)
Assign Unit (From C5307C to S1452A)
Transfer Unit (To WC5946C from SH5922)
Assign Unit (From TH5808 to SH5811)
Assign Unit (From WC5970H to SH5904)
Assign Unit (From SH5904 to SH5922)
Transfer Unit (From S1454E to S1500-5H)
Transfer Unit (To S1500-5H from S1454E)
Assign Unit (From 2002-04B to 1974-04A)
Assign Unit (From 1986-10C to 2024-05B)
Assign Unit (From 2006-06C to 2024-08B)
Assign Unit (From 1968-13B to 1992-02B)
Assign Unit (From 1986-07A to 1968-09B)
Assign Unit (From 4763B to 4751C)
Assign Unit (From 1968-07C to 1968-13B)
Assign Unit (From 1968-13B to 2006-06C)
Assign Unit (From 1066A to 4751C)
Assign Unit (From WC5960L to WC5933K)
Assign Unit (From WAIT-3V to TT1162)

In [21]:
tenants_df.drop(tenants_df[(tenants_df.Event !=  "Move In") & (tenants_df.Event !=  "Move Out") & (tenants_df.Event !=  "Rent Change")].index, inplace=True)

In [22]:
tenants_df["DateOccurred"]= pd.to_datetime(tenants_df['DateOccurred'], format='%m/%d/%Y', utc=False)
sorted_df = tenants_df.sort_values(["Tenant_Code","DateOccurred"])

In [23]:
sorted_df["Occupancy"] = 0

In [24]:
sorted_df

,Property_Code,Ref_Property_ID,Date,Tenant_Code,Ext_Ref_Tenant_Id,Event,DateOccurred,Unit_Code,Ref_Unit_Id,DateApply,...,RentedEvent,UnRentedEvent,Status,Rent,Deposit,Sqft,Notes,Reason,MTM,Occupancy
30585,ce,NaN,4/26/2013,t0013745,NaN,Rent Change,2013-04-26,C05266,NaN,11/9/2006,...,0,0,0,0.0,300.0,0.0,NaN,NaN,-1.0,0
30934,ce,NaN,4/30/2013,t0013745,NaN,Rent Change,2013-04-30,C05266,NaN,11/9/2006,...,0,0,0,870.0,300.0,0.0,NaN,NaN,-1.0,0
20006,ce,NaN,5/31/2014,t0013745,NaN,Rent Change,2014-05-31,C05266,NaN,11/9/2006,...,0,0,0,896.0,300.0,0.0,NaN,NaN,-1.0,0
33073,ce,NaN,1/31/2015,t0013745,NaN,Move Out,2015-02-02,C05266,NaN,11/9/2006,...,0,0,1,896.0,300.0,0.0,Move Out,NaN,-1.0,0
30875,ce,NaN,4/30/2013,t0013746,NaN,Move Out,2013-04-30,C05268,NaN,11/1/2012,...,0,0,1,860.0,850.0,0.0,Move Out,NaN,0.0,0
30586,ce,NaN,4/26/2013,t0013747,NaN,Rent Change,2013-04-26,C05270,NaN,8/1/2012,...,0,0,0,0.0,300.0,0.0,NaN,NaN,0.0,0
30935,ce,NaN,4/30/2013,t0013747,NaN,Rent Change,2013-04-30,C05270,NaN,8/1/2012,...,0,0,0,770.0,300.0,0.0,NaN,NaN,0.0,0
35442,ce,NaN,8/11/2013,t0013747,NaN,Move Out,2013-08-12,C05270,NaN,8/1/2012,...,0,0,1,770.0,300.0,0.0,Move Out,NaN,0.0,0
30587,ce,NaN,4/26/2013,t0013748,NaN,Rent Change,2013-04-26,C05272,NaN,10/1/2012,...,0,0,0,0.0,300.0,0.0,NaN,NaN,0.0,0
30936,ce,NaN,4/30/2013,t0013748,NaN,Rent Change,2013-04-30,C05272,NaN,10/1/2012,...,0,0,0,770.0,300.0,0.0,NaN,NaN,0.0,0
35865,ce,NaN,9/30/2013,t0013748,NaN,Rent Change,2013-09-30,C05272,NaN,10/1/2012,...,0,0,0,800.0,300.0,0.0,NaN,NaN,0.0,0
28044,ce,NaN,11/1/2014,t0013748,NaN,Rent Change,2014-11-01,C05272,NaN,10/1/2012,...,0,0,0,824.0,300.0,0.0,NaN,NaN,0.0,0
13655,ce,NaN,10/31/2015,t0013748,NaN,Move Out,2015-10-31,C05272,NaN,10/1/2012,...,0,0,1,824.0,300.0,0.0,Move Out,NaN,0.0,0
30588,ce,NaN,4/26/2013,t0013749,NaN,Rent Change,2013-04-26,C05274,NaN,1/1/2013,...,0,0,0,0.0,320.0,0.0,NaN,NaN,0.0,0
30937,ce,NaN,4/30/2013,t0013749,NaN,Rent Change,2013-04-30,C05274,NaN,1/1/2013,...,0,0,0,880.0,320.0,0.0,NaN,NaN,0.0,0
36135,ce,NaN,10/31/2013,t0013749,NaN,Rent Change,2013-10-31,C05274,NaN,1/1/2013,...,0,0,0,1795.0,320.0,0.0,NaN,NaN,0.0,0
36483,ce,NaN,12/1/2013,t0013749,NaN,Rent Change,2013-12-01,C05274,NaN,1/1/2013,...,0,0,0,880.0,320.0,0.0,NaN,NaN,0.0,0
5616,ce,NaN,12/31/2013,t0013749,NaN,Rent Change,2013-12-31,C05274,NaN,1/1/2013,...,0,0,0,915.0,320.0,0.0,NaN,NaN,0.0,0
33811,ce,NaN,3/1/2015,t0013749,NaN,Rent Change,2015-03-01,C05274,NaN,1/1/2013,...,0,0,0,924.0,320.0,0.0,NaN,NaN,0.0,0
16267,ce,NaN,2/29/2016,t0013749,NaN,Rent Change,2016-02-29,C05274,NaN,1/1/2013,...,0,0,0,970.0,320.0,0.0,NaN,NaN,0.0,0
36928,ce,NaN,2/28/2018,t0013749,NaN,Rent Change,2018-02-28,C05274,NaN,1/1/2013,...,0,0,0,1044.0,320.0,0.0,NaN,NaN,0.0,0
30589,ce,NaN,4/26/2013,t0013750,NaN,Rent Change,2013-04-26,C05276,NaN,7/1/2012,...,0,0,0,0.0,300.0,0.0,NaN,NaN,0.0,0
30938,ce,NaN,4/30/2013,t0013750,NaN,Rent Change,2013-04-30,C05276,NaN,7/1/2012,...,0,0,0,880.0,300.0,0.0,NaN,NaN,0.0,0
35011,ce,NaN,6/30/2013,t0013750,NaN,Rent Change,2013-06-30,C05276,NaN,7/1/2012,...,0,0,0,890.0,300.0,0.0,NaN,NaN,0.0,0
20828,ce,NaN,6/30/2014,t0013750,NaN,Rent Change,2014-06-30,C05276,NaN,7/1/2012,...,0,0,0,917.0,300.0,0.0,NaN,NaN,0.0,0
7683,ce,NaN,6/30/2015,t0013750,NaN,Rent Change,2015-06-30,C05276,NaN,7/1/2012,...,0,0,0,945.0,300.0,0.0,NaN,NaN,0.0,0
21906,ce,NaN,6/30/2016,t0013750,NaN,Rent Change,2016-06-30,C05276,NaN,7/1/2012,...,0,0,0,999.0,300.0,0.0,NaN,NaN,0.0,0
63381,ce,NaN,6/30/2017,t0013750,NaN,Move Out,2017-06-30,C05276,NaN,7/1/2012,...,0,0,1,999.0,300.0,0.0,Move Out,NaN,0.0,0
30590,ce,NaN,4/26/2013,t0013751,NaN,Rent Change,2013-04-26,C05278,NaN,10/1/2012,...,0,0,0,0.0,300.0,0.0,NaN,NaN,0.0,0
30939,ce,NaN,4/30/2013,t0013751,NaN,Rent Change,2013-04-30,C05278,NaN,10/1/2012,...,0,0,0,780.0,300.0,0.0,NaN,NaN,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84853,ce,NaN,12/3/2018,t0051586,NaN,Rent Change,2018-12-03,C5322J,NaN,12/2/2018,...,0,0,6,695.0,0.0,0.0,NaN,NaN,NaN,0
88162,sh,NaN,12/28/2018,t0052261,NaN,Move In,2018-12-28,SH5770,NaN,12/15/2018,...,0,0,0,0.0,99.0,0.0,Move In,NaN,0.0,0
82569,sh,NaN,12/31/2018,t0052825,NaN,Rent Change,2018-12-31,WAIT-3TA,NaN,12/28/2018,...,0,0,6,735.0,50.0,0.0,NaN,NaN,NaN,0
87934,sh,NaN,1/7/2019,t0052825,NaN,Rent Change,2019-01-07,TH5979,NaN,12/28/2018,...,0,0,6,800.0,50.0,0.0,NaN,NaN,NaN,0
82693,mpg,NaN,12/31/2018,t0052899,NaN,Rent Change,2018-12-31,1978-10B,NaN,12/30/2018,...,0,0,6,1176.0,0.0,0.0,NaN,NaN,NaN,0
88291,mpg,NaN,1/9/2019,t0052899,NaN,Rent Change,2019-01-09,1978-10B,NaN,12/30/2018,...,0,0,2,1294.0,0.0,0.0,NaN,NaN,NaN,0
56725,mpg,NaN,4/5/2018,tl108376,NaN,Rent Change,2018-04-05,1986-05B,NaN,4/5/2018,...,0,0,6,1050.0,0.0,0.0,NaN,NaN,NaN,0
53721,mpg,NaN,4/9/2018,tl108376,NaN,Move In,2018-04-09,2006-13C,NaN,4/5/2018,...,0,0,0,1050.0,100.0,0.0,Move In,NaN,0.0,0
64996,mpg,NaN,11/15/2017,tl110367,NaN,Rent Change,2017-11-15,1968-07C,NaN,11/14/2017,...,0,0,6,1099.0,0.0,0.0,NaN,NaN,NaN,0
65008,mpg,NaN,11/15/2017,tl110367,NaN,Rent Change,2017-11-15,2006-06C,NaN,11/14/2017,...,0,0,6,1050.0,0.0,0.0,NaN,NaN,NaN,0
1639,mpg,NaN,11/27/2017,tl110367,NaN,Rent Change,2017-11-27,1968-09B,NaN,11/14/2017,...,0,0,2,1099.0,99.0,0.0,NaN,NaN,NaN,0
1650,mpg,NaN,11/27/2017,tl110367,NaN,Move In,2017-11-27,1968-09B,NaN,11/14/2017,...,0,0,0,1099.0,99.0,0.0,Move In,NaN,0.0,0
1837,mpg,NaN,5/26/2018,tl110367,NaN,Move Out,2018-05-26,1968-09B,NaN,11/14/2017,...,0,0,1,1099.0,198.0,0.0,Move Out,NaN,0.0,0
51770,fh,NaN,2/6/2018,tl115488,NaN,Rent Change,2018-02-06,1112A,NaN,2/5/2018,...,0,0,6,974.0,50.0,0.0,NaN,NaN,NaN,0
52121,mpg,NaN,1/30/2018,tl115688,NaN,Rent Change,2018-01-30,1968-09C,NaN,1/29/2018,...,0,0,6,1099.0,0.0,0.0,NaN,NaN,NaN,0
63138,mpg,NaN,3/8/2018,tl115688,NaN,Move In,2018-03-08,1968-05B,NaN,1/29/2018,...,0,0,0,1099.0,250.0,0.0,Move In,NaN,0.0,0
56385,mpg,NaN,4/21/2018,tl116411,NaN,Rent Change,2018-04-21,2030-07A,NaN,4/21/2018,...,0,0,6,1299.0,0.0,0.0,NaN,NaN,NaN,0
60157,mpg,NaN,6/4/2018,tl116411,NaN,Move In,2018-06-04,1994-07A,NaN,4/21/2018,...,0,0,0,1299.0,250.0,0.0,Move In,NaN,0.0,0
51203,fh,NaN,2/23/2018,tl117521,NaN,Rent Change,2018-02-23,4731A,NaN,2/19/2018,...,0,0,6,985.0,0.0,0.0,NaN,NaN,NaN,0
50758,fh,NaN,3/15/2018,tl117521,NaN,Rent Change,2018-03-15,1041B,NaN,2/19/2018,...,0,0,6,1000.0,99.0,0.0,NaN,NaN,NaN,0
86590,fh,NaN,4/19/2018,tl117521,NaN,Rent Change,2018-04-19,1081B,NaN,2/19/2018,...,0,0,6,1135.0,99.0,0.0,NaN,NaN,NaN,0
86592,fh,NaN,4/19/2018,tl117521,NaN,Rent Change,2018-04-19,1081B,NaN,2/19/2018,...,0,0,6,985.0,99.0,0.0,NaN,NaN,NaN,0
60024,fh,NaN,6/1/2018,tl117521,NaN,Move In,2018-06-01,1081B,NaN,2/19/2018,...,0,0,0,985.0,99.0,0.0,Move In,NaN,0.0,0
60808,mpg,NaN,4/16/2018,tl122318,NaN,Rent Change,2018-04-16,1968-07B,NaN,4/15/2018,...,0,0,6,1119.0,0.0,0.0,NaN,NaN,NaN,0
60647,mpg,NaN,5/12/2018,tl122318,NaN,Move In,2018-05-14,1986-07B,NaN,4/15/2018,...,0,0,0,1119.0,250.0,0.0,Move In,NaN,0.0,0
54243,mpg,NaN,4/17/2018,tl122655,NaN,Rent Change,2018-04-17,1966-03B,NaN,4/17/2018,...,0,0,6,1119.0,0.0,0.0,NaN,NaN,NaN,0
60621,mpg,NaN,5/11/2018,tl122655,NaN,Move In,2018-05-12,2006-11A,NaN,4/17/2018,...,0,0,0,1119.0,250.0,0.0,Move In,NaN,0.0,0
56357,mpg,NaN,4/20/2018,tl122981,NaN,Rent Change,2018-04-20,1968-07B,NaN,4/20/2018,...,0,0,6,1119.0,0.0,0.0,NaN,NaN,NaN,0
68614,fh,NaN,6/16/2018,tl127278,NaN,Rent Change,2018-06-16,1122AB,NaN,6/15/2018,...,0,0,6,1135.0,99.0,0.0,NaN,NaN,NaN,0
58930,fh,NaN,6/19/2018,tl127278,NaN,Move In,2018-06-22,1102AB,NaN,6/15/2018,...,0,0,0,1135.0,99.0,0.0,Move In,NaN,0.0,0

In [25]:
for x in range(len(sorted_df)):
    event = sorted_df["Event"].iloc[x]
    prevevent = sorted_df["Event"].iloc[x-1]
    tenant = sorted_df["Tenant_Code"].iloc[x]
    prevtenant = sorted_df["Tenant_Code"].iloc[x-1]
    if tenant == prevtenant:
        if event == "Move Out":
            if prevevent =="Rent Change":
                sorted_df["Occupancy"].iloc[x-1] = 1

In [26]:
sorted_df

,Property_Code,Ref_Property_ID,Date,Tenant_Code,Ext_Ref_Tenant_Id,Event,DateOccurred,Unit_Code,Ref_Unit_Id,DateApply,...,RentedEvent,UnRentedEvent,Status,Rent,Deposit,Sqft,Notes,Reason,MTM,Occupancy
30585,ce,NaN,4/26/2013,t0013745,NaN,Rent Change,2013-04-26,C05266,NaN,11/9/2006,...,0,0,0,0.0,300.0,0.0,NaN,NaN,-1.0,0
30934,ce,NaN,4/30/2013,t0013745,NaN,Rent Change,2013-04-30,C05266,NaN,11/9/2006,...,0,0,0,870.0,300.0,0.0,NaN,NaN,-1.0,0
20006,ce,NaN,5/31/2014,t0013745,NaN,Rent Change,2014-05-31,C05266,NaN,11/9/2006,...,0,0,0,896.0,300.0,0.0,NaN,NaN,-1.0,1
33073,ce,NaN,1/31/2015,t0013745,NaN,Move Out,2015-02-02,C05266,NaN,11/9/2006,...,0,0,1,896.0,300.0,0.0,Move Out,NaN,-1.0,0
30875,ce,NaN,4/30/2013,t0013746,NaN,Move Out,2013-04-30,C05268,NaN,11/1/2012,...,0,0,1,860.0,850.0,0.0,Move Out,NaN,0.0,0
30586,ce,NaN,4/26/2013,t0013747,NaN,Rent Change,2013-04-26,C05270,NaN,8/1/2012,...,0,0,0,0.0,300.0,0.0,NaN,NaN,0.0,0
30935,ce,NaN,4/30/2013,t0013747,NaN,Rent Change,2013-04-30,C05270,NaN,8/1/2012,...,0,0,0,770.0,300.0,0.0,NaN,NaN,0.0,1
35442,ce,NaN,8/11/2013,t0013747,NaN,Move Out,2013-08-12,C05270,NaN,8/1/2012,...,0,0,1,770.0,300.0,0.0,Move Out,NaN,0.0,0
30587,ce,NaN,4/26/2013,t0013748,NaN,Rent Change,2013-04-26,C05272,NaN,10/1/2012,...,0,0,0,0.0,300.0,0.0,NaN,NaN,0.0,0
30936,ce,NaN,4/30/2013,t0013748,NaN,Rent Change,2013-04-30,C05272,NaN,10/1/2012,...,0,0,0,770.0,300.0,0.0,NaN,NaN,0.0,0
35865,ce,NaN,9/30/2013,t0013748,NaN,Rent Change,2013-09-30,C05272,NaN,10/1/2012,...,0,0,0,800.0,300.0,0.0,NaN,NaN,0.0,0
28044,ce,NaN,11/1/2014,t0013748,NaN,Rent Change,2014-11-01,C05272,NaN,10/1/2012,...,0,0,0,824.0,300.0,0.0,NaN,NaN,0.0,1
13655,ce,NaN,10/31/2015,t0013748,NaN,Move Out,2015-10-31,C05272,NaN,10/1/2012,...,0,0,1,824.0,300.0,0.0,Move Out,NaN,0.0,0
30588,ce,NaN,4/26/2013,t0013749,NaN,Rent Change,2013-04-26,C05274,NaN,1/1/2013,...,0,0,0,0.0,320.0,0.0,NaN,NaN,0.0,0
30937,ce,NaN,4/30/2013,t0013749,NaN,Rent Change,2013-04-30,C05274,NaN,1/1/2013,...,0,0,0,880.0,320.0,0.0,NaN,NaN,0.0,0
36135,ce,NaN,10/31/2013,t0013749,NaN,Rent Change,2013-10-31,C05274,NaN,1/1/2013,...,0,0,0,1795.0,320.0,0.0,NaN,NaN,0.0,0
36483,ce,NaN,12/1/2013,t0013749,NaN,Rent Change,2013-12-01,C05274,NaN,1/1/2013,...,0,0,0,880.0,320.0,0.0,NaN,NaN,0.0,0
5616,ce,NaN,12/31/2013,t0013749,NaN,Rent Change,2013-12-31,C05274,NaN,1/1/2013,...,0,0,0,915.0,320.0,0.0,NaN,NaN,0.0,0
33811,ce,NaN,3/1/2015,t0013749,NaN,Rent Change,2015-03-01,C05274,NaN,1/1/2013,...,0,0,0,924.0,320.0,0.0,NaN,NaN,0.0,0
16267,ce,NaN,2/29/2016,t0013749,NaN,Rent Change,2016-02-29,C05274,NaN,1/1/2013,...,0,0,0,970.0,320.0,0.0,NaN,NaN,0.0,0
36928,ce,NaN,2/28/2018,t0013749,NaN,Rent Change,2018-02-28,C05274,NaN,1/1/2013,...,0,0,0,1044.0,320.0,0.0,NaN,NaN,0.0,0
30589,ce,NaN,4/26/2013,t0013750,NaN,Rent Change,2013-04-26,C05276,NaN,7/1/2012,...,0,0,0,0.0,300.0,0.0,NaN,NaN,0.0,0
30938,ce,NaN,4/30/2013,t0013750,NaN,Rent Change,2013-04-30,C05276,NaN,7/1/2012,...,0,0,0,880.0,300.0,0.0,NaN,NaN,0.0,0
35011,ce,NaN,6/30/2013,t0013750,NaN,Rent Change,2013-06-30,C05276,NaN,7/1/2012,...,0,0,0,890.0,300.0,0.0,NaN,NaN,0.0,0
20828,ce,NaN,6/30/2014,t0013750,NaN,Rent Change,2014-06-30,C05276,NaN,7/1/2012,...,0,0,0,917.0,300.0,0.0,NaN,NaN,0.0,0
7683,ce,NaN,6/30/2015,t0013750,NaN,Rent Change,2015-06-30,C05276,NaN,7/1/2012,...,0,0,0,945.0,300.0,0.0,NaN,NaN,0.0,0
21906,ce,NaN,6/30/2016,t0013750,NaN,Rent Change,2016-06-30,C05276,NaN,7/1/2012,...,0,0,0,999.0,300.0,0.0,NaN,NaN,0.0,1
63381,ce,NaN,6/30/2017,t0013750,NaN,Move Out,2017-06-30,C05276,NaN,7/1/2012,...,0,0,1,999.0,300.0,0.0,Move Out,NaN,0.0,0
30590,ce,NaN,4/26/2013,t0013751,NaN,Rent Change,2013-04-26,C05278,NaN,10/1/2012,...,0,0,0,0.0,300.0,0.0,NaN,NaN,0.0,0
30939,ce,NaN,4/30/2013,t0013751,NaN,Rent Change,2013-04-30,C05278,NaN,10/1/2012,...,0,0,0,780.0,300.0,0.0,NaN,NaN,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84853,ce,NaN,12/3/2018,t0051586,NaN,Rent Change,2018-12-03,C5322J,NaN,12/2/2018,...,0,0,6,695.0,0.0,0.0,NaN,NaN,NaN,0
88162,sh,NaN,12/28/2018,t0052261,NaN,Move In,2018-12-28,SH5770,NaN,12/15/2018,...,0,0,0,0.0,99.0,0.0,Move In,NaN,0.0,0
82569,sh,NaN,12/31/2018,t0052825,NaN,Rent Change,2018-12-31,WAIT-3TA,NaN,12/28/2018,...,0,0,6,735.0,50.0,0.0,NaN,NaN,NaN,0
87934,sh,NaN,1/7/2019,t0052825,NaN,Rent Change,2019-01-07,TH5979,NaN,12/28/2018,...,0,0,6,800.0,50.0,0.0,NaN,NaN,NaN,0
82693,mpg,NaN,12/31/2018,t0052899,NaN,Rent Change,2018-12-31,1978-10B,NaN,12/30/2018,...,0,0,6,1176.0,0.0,0.0,NaN,NaN,NaN,0
88291,mpg,NaN,1/9/2019,t0052899,NaN,Rent Change,2019-01-09,1978-10B,NaN,12/30/2018,...,0,0,2,1294.0,0.0,0.0,NaN,NaN,NaN,0
56725,mpg,NaN,4/5/2018,tl108376,NaN,Rent Change,2018-04-05,1986-05B,NaN,4/5/2018,...,0,0,6,1050.0,0.0,0.0,NaN,NaN,NaN,0
53721,mpg,NaN,4/9/2018,tl108376,NaN,Move In,2018-04-09,2006-13C,NaN,4/5/2018,...,0,0,0,1050.0,100.0,0.0,Move In,NaN,0.0,0
64996,mpg,NaN,11/15/2017,tl110367,NaN,Rent Change,2017-11-15,1968-07C,NaN,11/14/2017,...,0,0,6,1099.0,0.0,0.0,NaN,NaN,NaN,0
65008,mpg,NaN,11/15/2017,tl110367,NaN,Rent Change,2017-11-15,2006-06C,NaN,11/14/2017,...,0,0,6,1050.0,0.0,0.0,NaN,NaN,NaN,0
1639,mpg,NaN,11/27/2017,tl110367,NaN,Rent Change,2017-11-27,1968-09B,NaN,11/14/2017,...,0,0,2,1099.0,99.0,0.0,NaN,NaN,NaN,0
1650,mpg,NaN,11/27/2017,tl110367,NaN,Move In,2017-11-27,1968-09B,NaN,11/14/2017,...,0,0,0,1099.0,99.0,0.0,Move In,NaN,0.0,0
1837,mpg,NaN,5/26/2018,tl110367,NaN,Move Out,2018-05-26,1968-09B,NaN,11/14/2017,...,0,0,1,1099.0,198.0,0.0,Move Out,NaN,0.0,0
51770,fh,NaN,2/6/2018,tl115488,NaN,Rent Change,2018-02-06,1112A,NaN,2/5/2018,...,0,0,6,974.0,50.0,0.0,NaN,NaN,NaN,0
52121,mpg,NaN,1/30/2018,tl115688,NaN,Rent Change,2018-01-30,1968-09C,NaN,1/29/2018,...,0,0,6,1099.0,0.0,0.0,NaN,NaN,NaN,0
63138,mpg,NaN,3/8/2018,tl115688,NaN,Move In,2018-03-08,1968-05B,NaN,1/29/2018,...,0,0,0,1099.0,250.0,0.0,Move In,NaN,0.0,0
56385,mpg,NaN,4/21/2018,tl116411,NaN,Rent Change,2018-04-21,2030-07A,NaN,4/21/2018,...,0,0,6,1299.0,0.0,0.0,NaN,NaN,NaN,0
60157,mpg,NaN,6/4/2018,tl116411,NaN,Move In,2018-06-04,1994-07A,NaN,4/21/2018,...,0,0,0,1299.0,250.0,0.0,Move In,NaN,0.0,0
51203,fh,NaN,2/23/2018,tl117521,NaN,Rent Change,2018-02-23,4731A,NaN,2/19/2018,...,0,0,6,985.0,0.0,0.0,NaN,NaN,NaN,0
50758,fh,NaN,3/15/2018,tl117521,NaN,Rent Change,2018-03-15,1041B,NaN,2/19/2018,...,0,0,6,1000.0,99.0,0.0,NaN,NaN,NaN,0
86590,fh,NaN,4/19/2018,tl117521,NaN,Rent Change,2018-04-19,1081B,NaN,2/19/2018,...,0,0,6,1135.0,99.0,0.0,NaN,NaN,NaN,0
86592,fh,NaN,4/19/2018,tl117521,NaN,Rent Change,2018-04-19,1081B,NaN,2/19/2018,...,0,0,6,985.0,99.0,0.0,NaN,NaN,NaN,0
60024,fh,NaN,6/1/2018,tl117521,NaN,Move In,2018-06-01,1081B,NaN,2/19/2018,...,0,0,0,985.0,99.0,0.0,Move In,NaN,0.0,0
60808,mpg,NaN,4/16/2018,tl122318,NaN,Rent Change,2018-04-16,1968-07B,NaN,4/15/2018,...,0,0,6,1119.0,0.0,0.0,NaN,NaN,NaN,0
60647,mpg,NaN,5/12/2018,tl122318,NaN,Move In,2018-05-14,1986-07B,NaN,4/15/2018,...,0,0,0,1119.0,250.0,0.0,Move In,NaN,0.0,0
54243,mpg,NaN,4/17/2018,tl122655,NaN,Rent Change,2018-04-17,1966-03B,NaN,4/17/2018,...,0,0,6,1119.0,0.0,0.0,NaN,NaN,NaN,0
60621,mpg,NaN,5/11/2018,tl122655,NaN,Move In,2018-05-12,2006-11A,NaN,4/17/2018,...,0,0,0,1119.0,250.0,0.0,Move In,NaN,0.0,0
56357,mpg,NaN,4/20/2018,tl122981,NaN,Rent Change,2018-04-20,1968-07B,NaN,4/20/2018,...,0,0,6,1119.0,0.0,0.0,NaN,NaN,NaN,0
68614,fh,NaN,6/16/2018,tl127278,NaN,Rent Change,2018-06-16,1122AB,NaN,6/15/2018,...,0,0,6,1135.0,99.0,0.0,NaN,NaN,NaN,0
58930,fh,NaN,6/19/2018,tl127278,NaN,Move In,2018-06-22,1102AB,NaN,6/15/2018,...,0,0,0,1135.0,99.0,0.0,Move In,NaN,0.0,0

In [27]:
#sorted_df.drop(sorted_df[sorted_df.Event == "Move Out"].index, inplace=True)

In [28]:
sorted_df

,Property_Code,Ref_Property_ID,Date,Tenant_Code,Ext_Ref_Tenant_Id,Event,DateOccurred,Unit_Code,Ref_Unit_Id,DateApply,...,RentedEvent,UnRentedEvent,Status,Rent,Deposit,Sqft,Notes,Reason,MTM,Occupancy
30585,ce,NaN,4/26/2013,t0013745,NaN,Rent Change,2013-04-26,C05266,NaN,11/9/2006,...,0,0,0,0.0,300.0,0.0,NaN,NaN,-1.0,0
30934,ce,NaN,4/30/2013,t0013745,NaN,Rent Change,2013-04-30,C05266,NaN,11/9/2006,...,0,0,0,870.0,300.0,0.0,NaN,NaN,-1.0,0
20006,ce,NaN,5/31/2014,t0013745,NaN,Rent Change,2014-05-31,C05266,NaN,11/9/2006,...,0,0,0,896.0,300.0,0.0,NaN,NaN,-1.0,1
33073,ce,NaN,1/31/2015,t0013745,NaN,Move Out,2015-02-02,C05266,NaN,11/9/2006,...,0,0,1,896.0,300.0,0.0,Move Out,NaN,-1.0,0
30875,ce,NaN,4/30/2013,t0013746,NaN,Move Out,2013-04-30,C05268,NaN,11/1/2012,...,0,0,1,860.0,850.0,0.0,Move Out,NaN,0.0,0
30586,ce,NaN,4/26/2013,t0013747,NaN,Rent Change,2013-04-26,C05270,NaN,8/1/2012,...,0,0,0,0.0,300.0,0.0,NaN,NaN,0.0,0
30935,ce,NaN,4/30/2013,t0013747,NaN,Rent Change,2013-04-30,C05270,NaN,8/1/2012,...,0,0,0,770.0,300.0,0.0,NaN,NaN,0.0,1
35442,ce,NaN,8/11/2013,t0013747,NaN,Move Out,2013-08-12,C05270,NaN,8/1/2012,...,0,0,1,770.0,300.0,0.0,Move Out,NaN,0.0,0
30587,ce,NaN,4/26/2013,t0013748,NaN,Rent Change,2013-04-26,C05272,NaN,10/1/2012,...,0,0,0,0.0,300.0,0.0,NaN,NaN,0.0,0
30936,ce,NaN,4/30/2013,t0013748,NaN,Rent Change,2013-04-30,C05272,NaN,10/1/2012,...,0,0,0,770.0,300.0,0.0,NaN,NaN,0.0,0
35865,ce,NaN,9/30/2013,t0013748,NaN,Rent Change,2013-09-30,C05272,NaN,10/1/2012,...,0,0,0,800.0,300.0,0.0,NaN,NaN,0.0,0
28044,ce,NaN,11/1/2014,t0013748,NaN,Rent Change,2014-11-01,C05272,NaN,10/1/2012,...,0,0,0,824.0,300.0,0.0,NaN,NaN,0.0,1
13655,ce,NaN,10/31/2015,t0013748,NaN,Move Out,2015-10-31,C05272,NaN,10/1/2012,...,0,0,1,824.0,300.0,0.0,Move Out,NaN,0.0,0
30588,ce,NaN,4/26/2013,t0013749,NaN,Rent Change,2013-04-26,C05274,NaN,1/1/2013,...,0,0,0,0.0,320.0,0.0,NaN,NaN,0.0,0
30937,ce,NaN,4/30/2013,t0013749,NaN,Rent Change,2013-04-30,C05274,NaN,1/1/2013,...,0,0,0,880.0,320.0,0.0,NaN,NaN,0.0,0
36135,ce,NaN,10/31/2013,t0013749,NaN,Rent Change,2013-10-31,C05274,NaN,1/1/2013,...,0,0,0,1795.0,320.0,0.0,NaN,NaN,0.0,0
36483,ce,NaN,12/1/2013,t0013749,NaN,Rent Change,2013-12-01,C05274,NaN,1/1/2013,...,0,0,0,880.0,320.0,0.0,NaN,NaN,0.0,0
5616,ce,NaN,12/31/2013,t0013749,NaN,Rent Change,2013-12-31,C05274,NaN,1/1/2013,...,0,0,0,915.0,320.0,0.0,NaN,NaN,0.0,0
33811,ce,NaN,3/1/2015,t0013749,NaN,Rent Change,2015-03-01,C05274,NaN,1/1/2013,...,0,0,0,924.0,320.0,0.0,NaN,NaN,0.0,0
16267,ce,NaN,2/29/2016,t0013749,NaN,Rent Change,2016-02-29,C05274,NaN,1/1/2013,...,0,0,0,970.0,320.0,0.0,NaN,NaN,0.0,0
36928,ce,NaN,2/28/2018,t0013749,NaN,Rent Change,2018-02-28,C05274,NaN,1/1/2013,...,0,0,0,1044.0,320.0,0.0,NaN,NaN,0.0,0
30589,ce,NaN,4/26/2013,t0013750,NaN,Rent Change,2013-04-26,C05276,NaN,7/1/2012,...,0,0,0,0.0,300.0,0.0,NaN,NaN,0.0,0
30938,ce,NaN,4/30/2013,t0013750,NaN,Rent Change,2013-04-30,C05276,NaN,7/1/2012,...,0,0,0,880.0,300.0,0.0,NaN,NaN,0.0,0
35011,ce,NaN,6/30/2013,t0013750,NaN,Rent Change,2013-06-30,C05276,NaN,7/1/2012,...,0,0,0,890.0,300.0,0.0,NaN,NaN,0.0,0
20828,ce,NaN,6/30/2014,t0013750,NaN,Rent Change,2014-06-30,C05276,NaN,7/1/2012,...,0,0,0,917.0,300.0,0.0,NaN,NaN,0.0,0
7683,ce,NaN,6/30/2015,t0013750,NaN,Rent Change,2015-06-30,C05276,NaN,7/1/2012,...,0,0,0,945.0,300.0,0.0,NaN,NaN,0.0,0
21906,ce,NaN,6/30/2016,t0013750,NaN,Rent Change,2016-06-30,C05276,NaN,7/1/2012,...,0,0,0,999.0,300.0,0.0,NaN,NaN,0.0,1
63381,ce,NaN,6/30/2017,t0013750,NaN,Move Out,2017-06-30,C05276,NaN,7/1/2012,...,0,0,1,999.0,300.0,0.0,Move Out,NaN,0.0,0
30590,ce,NaN,4/26/2013,t0013751,NaN,Rent Change,2013-04-26,C05278,NaN,10/1/2012,...,0,0,0,0.0,300.0,0.0,NaN,NaN,0.0,0
30939,ce,NaN,4/30/2013,t0013751,NaN,Rent Change,2013-04-30,C05278,NaN,10/1/2012,...,0,0,0,780.0,300.0,0.0,NaN,NaN,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84853,ce,NaN,12/3/2018,t0051586,NaN,Rent Change,2018-12-03,C5322J,NaN,12/2/2018,...,0,0,6,695.0,0.0,0.0,NaN,NaN,NaN,0
88162,sh,NaN,12/28/2018,t0052261,NaN,Move In,2018-12-28,SH5770,NaN,12/15/2018,...,0,0,0,0.0,99.0,0.0,Move In,NaN,0.0,0
82569,sh,NaN,12/31/2018,t0052825,NaN,Rent Change,2018-12-31,WAIT-3TA,NaN,12/28/2018,...,0,0,6,735.0,50.0,0.0,NaN,NaN,NaN,0
87934,sh,NaN,1/7/2019,t0052825,NaN,Rent Change,2019-01-07,TH5979,NaN,12/28/2018,...,0,0,6,800.0,50.0,0.0,NaN,NaN,NaN,0
82693,mpg,NaN,12/31/2018,t0052899,NaN,Rent Change,2018-12-31,1978-10B,NaN,12/30/2018,...,0,0,6,1176.0,0.0,0.0,NaN,NaN,NaN,0
88291,mpg,NaN,1/9/2019,t0052899,NaN,Rent Change,2019-01-09,1978-10B,NaN,12/30/2018,...,0,0,2,1294.0,0.0,0.0,NaN,NaN,NaN,0
56725,mpg,NaN,4/5/2018,tl108376,NaN,Rent Change,2018-04-05,1986-05B,NaN,4/5/2018,...,0,0,6,1050.0,0.0,0.0,NaN,NaN,NaN,0
53721,mpg,NaN,4/9/2018,tl108376,NaN,Move In,2018-04-09,2006-13C,NaN,4/5/2018,...,0,0,0,1050.0,100.0,0.0,Move In,NaN,0.0,0
64996,mpg,NaN,11/15/2017,tl110367,NaN,Rent Change,2017-11-15,1968-07C,NaN,11/14/2017,...,0,0,6,1099.0,0.0,0.0,NaN,NaN,NaN,0
65008,mpg,NaN,11/15/2017,tl110367,NaN,Rent Change,2017-11-15,2006-06C,NaN,11/14/2017,...,0,0,6,1050.0,0.0,0.0,NaN,NaN,NaN,0
1639,mpg,NaN,11/27/2017,tl110367,NaN,Rent Change,2017-11-27,1968-09B,NaN,11/14/2017,...,0,0,2,1099.0,99.0,0.0,NaN,NaN,NaN,0
1650,mpg,NaN,11/27/2017,tl110367,NaN,Move In,2017-11-27,1968-09B,NaN,11/14/2017,...,0,0,0,1099.0,99.0,0.0,Move In,NaN,0.0,0
1837,mpg,NaN,5/26/2018,tl110367,NaN,Move Out,2018-05-26,1968-09B,NaN,11/14/2017,...,0,0,1,1099.0,198.0,0.0,Move Out,NaN,0.0,0
51770,fh,NaN,2/6/2018,tl115488,NaN,Rent Change,2018-02-06,1112A,NaN,2/5/2018,...,0,0,6,974.0,50.0,0.0,NaN,NaN,NaN,0
52121,mpg,NaN,1/30/2018,tl115688,NaN,Rent Change,2018-01-30,1968-09C,NaN,1/29/2018,...,0,0,6,1099.0,0.0,0.0,NaN,NaN,NaN,0
63138,mpg,NaN,3/8/2018,tl115688,NaN,Move In,2018-03-08,1968-05B,NaN,1/29/2018,...,0,0,0,1099.0,250.0,0.0,Move In,NaN,0.0,0
56385,mpg,NaN,4/21/2018,tl116411,NaN,Rent Change,2018-04-21,2030-07A,NaN,4/21/2018,...,0,0,6,1299.0,0.0,0.0,NaN,NaN,NaN,0
60157,mpg,NaN,6/4/2018,tl116411,NaN,Move In,2018-06-04,1994-07A,NaN,4/21/2018,...,0,0,0,1299.0,250.0,0.0,Move In,NaN,0.0,0
51203,fh,NaN,2/23/2018,tl117521,NaN,Rent Change,2018-02-23,4731A,NaN,2/19/2018,...,0,0,6,985.0,0.0,0.0,NaN,NaN,NaN,0
50758,fh,NaN,3/15/2018,tl117521,NaN,Rent Change,2018-03-15,1041B,NaN,2/19/2018,...,0,0,6,1000.0,99.0,0.0,NaN,NaN,NaN,0
86590,fh,NaN,4/19/2018,tl117521,NaN,Rent Change,2018-04-19,1081B,NaN,2/19/2018,...,0,0,6,1135.0,99.0,0.0,NaN,NaN,NaN,0
86592,fh,NaN,4/19/2018,tl117521,NaN,Rent Change,2018-04-19,1081B,NaN,2/19/2018,...,0,0,6,985.0,99.0,0.0,NaN,NaN,NaN,0
60024,fh,NaN,6/1/2018,tl117521,NaN,Move In,2018-06-01,1081B,NaN,2/19/2018,...,0,0,0,985.0,99.0,0.0,Move In,NaN,0.0,0
60808,mpg,NaN,4/16/2018,tl122318,NaN,Rent Change,2018-04-16,1968-07B,NaN,4/15/2018,...,0,0,6,1119.0,0.0,0.0,NaN,NaN,NaN,0
60647,mpg,NaN,5/12/2018,tl122318,NaN,Move In,2018-05-14,1986-07B,NaN,4/15/2018,...,0,0,0,1119.0,250.0,0.0,Move In,NaN,0.0,0
54243,mpg,NaN,4/17/2018,tl122655,NaN,Rent Change,2018-04-17,1966-03B,NaN,4/17/2018,...,0,0,6,1119.0,0.0,0.0,NaN,NaN,NaN,0
60621,mpg,NaN,5/11/2018,tl122655,NaN,Move In,2018-05-12,2006-11A,NaN,4/17/2018,...,0,0,0,1119.0,250.0,0.0,Move In,NaN,0.0,0
56357,mpg,NaN,4/20/2018,tl122981,NaN,Rent Change,2018-04-20,1968-07B,NaN,4/20/2018,...,0,0,6,1119.0,0.0,0.0,NaN,NaN,NaN,0
68614,fh,NaN,6/16/2018,tl127278,NaN,Rent Change,2018-06-16,1122AB,NaN,6/15/2018,...,0,0,6,1135.0,99.0,0.0,NaN,NaN,NaN,0
58930,fh,NaN,6/19/2018,tl127278,NaN,Move In,2018-06-22,1102AB,NaN,6/15/2018,...,0,0,0,1135.0,99.0,0.0,Move In,NaN,0.0,0

In [29]:
r = []
chrent = []
lrent = []
for x in range(len(sorted_df)):
    tencode = sorted_df["Tenant_Code"].iloc[x]
    prevten = sorted_df["Tenant_Code"].iloc[x-1]
    if tencode == prevten:
        rent = sorted_df["Rent"].iloc[x]
        prevrent = sorted_df["Rent"].iloc[x-1]
        changerent = rent-prevrent
        chrent.append(changerent)
    else:
        chrent.append(0)
sorted_df["chrent"]=chrent

In [30]:
sorted_df["DateMoveOut"]

30585           NaN
30934           NaN
20006           NaN
33073     1/31/2015
30875     4/30/2013
30586           NaN
30935           NaN
35442     8/11/2013
30587           NaN
30936           NaN
35865           NaN
28044           NaN
13655    10/31/2015
30588           NaN
30937           NaN
36135           NaN
36483           NaN
5616            NaN
33811           NaN
16267           NaN
36928           NaN
30589           NaN
30938           NaN
35011           NaN
20828           NaN
7683            NaN
21906           NaN
63381     6/30/2017
30590           NaN
30939           NaN
            ...
84853           NaN
88162           NaN
82569           NaN
87934           NaN
82693           NaN
88291           NaN
56725           NaN
53721           NaN
64996           NaN
65008           NaN
1639            NaN
1650            NaN
1837      5/26/2018
51770           NaN
52121           NaN
63138           NaN
56385           NaN
60157           NaN
51203           NaN
50758           NaN
86590           NaN
86592           NaN
60024           NaN
60808           NaN
60647           NaN
54243           NaN
60621           NaN
56357           NaN
68614           NaN
58930           NaN
Name: DateMoveOut, Length: 13480, dtype: object

In [31]:
for x in range(len(sorted_df)):
    event = sorted_df["Event"].iloc[x]
    prevevent = sorted_df["Event"].iloc[x-1]
    tenant = sorted_df["Tenant_Code"].iloc[x]
    prevtenant = sorted_df["Tenant_Code"].iloc[x-1]
    if tenant == prevtenant:
        if event == "Move Out":
            if prevevent =="Rent Change":
                sorted_df["DateMoveOut"].iloc[x-1] = sorted_df["DateMoveOut"].iloc[x]

In [32]:
sorted_df["DateMoveOut"]

30585           NaN
30934           NaN
20006     1/31/2015
33073     1/31/2015
30875     4/30/2013
30586           NaN
30935     8/11/2013
35442     8/11/2013
30587           NaN
30936           NaN
35865           NaN
28044    10/31/2015
13655    10/31/2015
30588           NaN
30937           NaN
36135           NaN
36483           NaN
5616            NaN
33811           NaN
16267           NaN
36928           NaN
30589           NaN
30938           NaN
35011           NaN
20828           NaN
7683            NaN
21906     6/30/2017
63381     6/30/2017
30590           NaN
30939           NaN
            ...
84853           NaN
88162           NaN
82569           NaN
87934           NaN
82693           NaN
88291           NaN
56725           NaN
53721           NaN
64996           NaN
65008           NaN
1639            NaN
1650            NaN
1837      5/26/2018
51770           NaN
52121           NaN
63138           NaN
56385           NaN
60157           NaN
51203           NaN
50758           NaN
86590           NaN
86592           NaN
60024           NaN
60808           NaN
60647           NaN
54243           NaN
60621           NaN
56357           NaN
68614           NaN
58930           NaN
Name: DateMoveOut, Length: 13480, dtype: object

In [33]:
sorted_df["DateMoveOut"]= sorted_df["DateMoveOut"].fillna(method = "bfill")

In [34]:
sorted_df["DateMoveOut"]

30585     1/31/2015
30934     1/31/2015
20006     1/31/2015
33073     1/31/2015
30875     4/30/2013
30586     8/11/2013
30935     8/11/2013
35442     8/11/2013
30587    10/31/2015
30936    10/31/2015
35865    10/31/2015
28044    10/31/2015
13655    10/31/2015
30588     6/30/2017
30937     6/30/2017
36135     6/30/2017
36483     6/30/2017
5616      6/30/2017
33811     6/30/2017
16267     6/30/2017
36928     6/30/2017
30589     6/30/2017
30938     6/30/2017
35011     6/30/2017
20828     6/30/2017
7683      6/30/2017
21906     6/30/2017
63381     6/30/2017
30590    10/18/2015
30939    10/18/2015
            ...
84853     5/26/2018
88162     5/26/2018
82569     5/26/2018
87934     5/26/2018
82693     5/26/2018
88291     5/26/2018
56725     5/26/2018
53721     5/26/2018
64996     5/26/2018
65008     5/26/2018
1639      5/26/2018
1650      5/26/2018
1837      5/26/2018
51770           NaN
52121           NaN
63138           NaN
56385           NaN
60157           NaN
51203           NaN
50758           NaN
86590           NaN
86592           NaN
60024           NaN
60808           NaN
60647           NaN
54243           NaN
60621           NaN
56357           NaN
68614           NaN
58930           NaN
Name: DateMoveOut, Length: 13480, dtype: object

In [35]:
sorted_df

,Property_Code,Ref_Property_ID,Date,Tenant_Code,Ext_Ref_Tenant_Id,Event,DateOccurred,Unit_Code,Ref_Unit_Id,DateApply,...,UnRentedEvent,Status,Rent,Deposit,Sqft,Notes,Reason,MTM,Occupancy,chrent
30585,ce,NaN,4/26/2013,t0013745,NaN,Rent Change,2013-04-26,C05266,NaN,11/9/2006,...,0,0,0.0,300.0,0.0,NaN,NaN,-1.0,0,0.0
30934,ce,NaN,4/30/2013,t0013745,NaN,Rent Change,2013-04-30,C05266,NaN,11/9/2006,...,0,0,870.0,300.0,0.0,NaN,NaN,-1.0,0,870.0
20006,ce,NaN,5/31/2014,t0013745,NaN,Rent Change,2014-05-31,C05266,NaN,11/9/2006,...,0,0,896.0,300.0,0.0,NaN,NaN,-1.0,1,26.0
33073,ce,NaN,1/31/2015,t0013745,NaN,Move Out,2015-02-02,C05266,NaN,11/9/2006,...,0,1,896.0,300.0,0.0,Move Out,NaN,-1.0,0,0.0
30875,ce,NaN,4/30/2013,t0013746,NaN,Move Out,2013-04-30,C05268,NaN,11/1/2012,...,0,1,860.0,850.0,0.0,Move Out,NaN,0.0,0,0.0
30586,ce,NaN,4/26/2013,t0013747,NaN,Rent Change,2013-04-26,C05270,NaN,8/1/2012,...,0,0,0.0,300.0,0.0,NaN,NaN,0.0,0,0.0
30935,ce,NaN,4/30/2013,t0013747,NaN,Rent Change,2013-04-30,C05270,NaN,8/1/2012,...,0,0,770.0,300.0,0.0,NaN,NaN,0.0,1,770.0
35442,ce,NaN,8/11/2013,t0013747,NaN,Move Out,2013-08-12,C05270,NaN,8/1/2012,...,0,1,770.0,300.0,0.0,Move Out,NaN,0.0,0,0.0
30587,ce,NaN,4/26/2013,t0013748,NaN,Rent Change,2013-04-26,C05272,NaN,10/1/2012,...,0,0,0.0,300.0,0.0,NaN,NaN,0.0,0,0.0
30936,ce,NaN,4/30/2013,t0013748,NaN,Rent Change,2013-04-30,C05272,NaN,10/1/2012,...,0,0,770.0,300.0,0.0,NaN,NaN,0.0,0,770.0
35865,ce,NaN,9/30/2013,t0013748,NaN,Rent Change,2013-09-30,C05272,NaN,10/1/2012,...,0,0,800.0,300.0,0.0,NaN,NaN,0.0,0,30.0
28044,ce,NaN,11/1/2014,t0013748,NaN,Rent Change,2014-11-01,C05272,NaN,10/1/2012,...,0,0,824.0,300.0,0.0,NaN,NaN,0.0,1,24.0
13655,ce,NaN,10/31/2015,t0013748,NaN,Move Out,2015-10-31,C05272,NaN,10/1/2012,...,0,1,824.0,300.0,0.0,Move Out,NaN,0.0,0,0.0
30588,ce,NaN,4/26/2013,t0013749,NaN,Rent Change,2013-04-26,C05274,NaN,1/1/2013,...,0,0,0.0,320.0,0.0,NaN,NaN,0.0,0,0.0
30937,ce,NaN,4/30/2013,t0013749,NaN,Rent Change,2013-04-30,C05274,NaN,1/1/2013,...,0,0,880.0,320.0,0.0,NaN,NaN,0.0,0,880.0
36135,ce,NaN,10/31/2013,t0013749,NaN,Rent Change,2013-10-31,C05274,NaN,1/1/2013,...,0,0,1795.0,320.0,0.0,NaN,NaN,0.0,0,915.0
36483,ce,NaN,12/1/2013,t0013749,NaN,Rent Change,2013-12-01,C05274,NaN,1/1/2013,...,0,0,880.0,320.0,0.0,NaN,NaN,0.0,0,-915.0
5616,ce,NaN,12/31/2013,t0013749,NaN,Rent Change,2013-12-31,C05274,NaN,1/1/2013,...,0,0,915.0,320.0,0.0,NaN,NaN,0.0,0,35.0
33811,ce,NaN,3/1/2015,t0013749,NaN,Rent Change,2015-03-01,C05274,NaN,1/1/2013,...,0,0,924.0,320.0,0.0,NaN,NaN,0.0,0,9.0
16267,ce,NaN,2/29/2016,t0013749,NaN,Rent Change,2016-02-29,C05274,NaN,1/1/2013,...,0,0,970.0,320.0,0.0,NaN,NaN,0.0,0,46.0
36928,ce,NaN,2/28/2018,t0013749,NaN,Rent Change,2018-02-28,C05274,NaN,1/1/2013,...,0,0,1044.0,320.0,0.0,NaN,NaN,0.0,0,74.0
30589,ce,NaN,4/26/2013,t0013750,NaN,Rent Change,2013-04-26,C05276,NaN,7/1/2012,...,0,0,0.0,300.0,0.0,NaN,NaN,0.0,0,0.0
30938,ce,NaN,4/30/2013,t0013750,NaN,Rent Change,2013-04-30,C05276,NaN,7/1/2012,...,0,0,880.0,300.0,0.0,NaN,NaN,0.0,0,880.0
35011,ce,NaN,6/30/2013,t0013750,NaN,Rent Change,2013-06-30,C05276,NaN,7/1/2012,...,0,0,890.0,300.0,0.0,NaN,NaN,0.0,0,10.0
20828,ce,NaN,6/30/2014,t0013750,NaN,Rent Change,2014-06-30,C05276,NaN,7/1/2012,...,0,0,917.0,300.0,0.0,NaN,NaN,0.0,0,27.0
7683,ce,NaN,6/30/2015,t0013750,NaN,Rent Change,2015-06-30,C05276,NaN,7/1/2012,...,0,0,945.0,300.0,0.0,NaN,NaN,0.0,0,28.0
21906,ce,NaN,6/30/2016,t0013750,NaN,Rent Change,2016-06-30,C05276,NaN,7/1/2012,...,0,0,999.0,300.0,0.0,NaN,NaN,0.0,1,54.0
63381,ce,NaN,6/30/2017,t0013750,NaN,Move Out,2017-06-30,C05276,NaN,7/1/2012,...,0,1,999.0,300.0,0.0,Move Out,NaN,0.0,0,0.0
30590,ce,NaN,4/26/2013,t0013751,NaN,Rent Change,2013-04-26,C05278,NaN,10/1/2012,...,0,0,0.0,300.0,0.0,NaN,NaN,0.0,0,0.0
30939,ce,NaN,4/30/2013,t0013751,NaN,Rent Change,2013-04-30,C05278,NaN,10/1/2012,...,0,0,780.0,300.0,0.0,NaN,NaN,0.0,0,780.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84853,ce,NaN,12/3/2018,t0051586,NaN,Rent Change,2018-12-03,C5322J,NaN,12/2/2018,...,0,6,695.0,0.0,0.0,NaN,NaN,NaN,0,0.0
88162,sh,NaN,12/28/2018,t0052261,NaN,Move In,2018-12-28,SH5770,NaN,12/15/2018,...,0,0,0.0,99.0,0.0,Move In,NaN,0.0,0,0.0
82569,sh,NaN,12/31/2018,t0052825,NaN,Rent Change,2018-12-31,WAIT-3TA,NaN,12/28/2018,...,0,6,735.0,50.0,0.0,NaN,NaN,NaN,0,0.0
87934,sh,NaN,1/7/2019,t0052825,NaN,Rent Change,2019-01-07,TH5979,NaN,12/28/2018,...,0,6,800.0,50.0,0.0,NaN,NaN,NaN,0,65.0
82693,mpg,NaN,12/31/2018,t0052899,NaN,Rent Change,2018-12-31,1978-10B,NaN,12/30/2018,...,0,6,1176.0,0.0,0.0,NaN,NaN,NaN,0,0.0
88291,mpg,NaN,1/9/2019,t0052899,NaN,Rent Change,2019-01-09,1978-10B,NaN,12/30/2018,...,0,2,1294.0,0.0,0.0,NaN,NaN,NaN,0,118.0
56725,mpg,NaN,4/5/2018,tl108376,NaN,Rent Change,2018-04-05,1986-05B,NaN,4/5/2018,...,0,6,1050.0,0.0,0.0,NaN,NaN,NaN,0,0.0
53721,mpg,NaN,4/9/2018,tl108376,NaN,Move In,2018-04-09,2006-13C,NaN,4/5/2018,...,0,0,1050.0,100.0,0.0,Move In,NaN,0.0,0,0.0
64996,mpg,NaN,11/15/2017,tl110367,NaN,Rent Change,2017-11-15,1968-07C,NaN,11/14/2017,...,0,6,1099.0,0.0,0.0,NaN,NaN,NaN,0,0.0
65008,mpg,NaN,11/15/2017,tl110367,NaN,Rent Change,2017-11-15,2006-06C,NaN,11/14/2017,...,0,6,1050.0,0.0,0.0,NaN,NaN,NaN,0,-49.0
1639,mpg,NaN,11/27/2017,tl110367,NaN,Rent Change,2017-11-27,1968-09B,NaN,11/14/2017,...,0,2,1099.0,99.0,0.0,NaN,NaN,NaN,0,49.0
1650,mpg,NaN,11/27/2017,tl110367,NaN,Move In,2017-11-27,1968-09B,NaN,11/14/2017,...,0,0,1099.0,99.0,0.0,Move In,NaN,0.0,0,0.0
1837,mpg,NaN,5/26/2018,tl110367,NaN,Move Out,2018-05-26,1968-09B,NaN,11/14/2017,...,0,1,1099.0,198.0,0.0,Move Out,NaN,0.0,0,0.0
51770,fh,NaN,2/6/2018,tl115488,NaN,Rent Change,2018-02-06,1112A,NaN,2/5/2018,...,0,6,974.0,50.0,0.0,NaN,NaN,NaN,0,0.0
52121,mpg,NaN,1/30/2018,tl115688,NaN,Rent Change,2018-01-30,1968-09C,NaN,1/29/2018,...,0,6,1099.0,0.0,0.0,NaN,NaN,NaN,0,0.0
63138,mpg,NaN,3/8/2018,tl115688,NaN,Move In,2018-03-08,1968-05B,NaN,1/29/2018,...,0,0,1099.0,250.0,0.0,Move In,NaN,0.0,0,0.0
56385,mpg,NaN,4/21/2018,tl116411,NaN,Rent Change,2018-04-21,2030-07A,NaN,4/21/2018,...,0,6,1299.0,0.0,0.0,NaN,NaN,NaN,0,0.0
60157,mpg,NaN,6/4/2018,tl116411,NaN,Move In,2018-06-04,1994-07A,NaN,4/21/2018,...,0,0,1299.0,250.0,0.0,Move In,NaN,0.0,0,0.0
51203,fh,NaN,2/23/2018,tl117521,NaN,Rent Change,2018-02-23,4731A,NaN,2/19/2018,...,0,6,985.0,0.0,0.0,NaN,NaN,NaN,0,0.0
50758,fh,NaN,3/15/2018,tl117521,NaN,Rent Change,2018-03-15,1041B,NaN,2/19/2018,...,0,6,1000.0,99.0,0.0,NaN,NaN,NaN,0,15.0
86590,fh,NaN,4/19/2018,tl117521,NaN,Rent Change,2018-04-19,1081B,NaN,2/19/2018,...,0,6,1135.0,99.0,0.0,NaN,NaN,NaN,0,135.0
86592,fh,NaN,4/19/2018,tl117521,NaN,Rent Change,2018-04-19,1081B,NaN,2/19/2018,...,0,6,985.0,99.0,0.0,NaN,NaN,NaN,0,-150.0
60024,fh,NaN,6/1/2018,tl117521,NaN,Move In,2018-06-01,1081B,NaN,2/19/2018,...,0,0,985.0,99.0,0.0,Move In,NaN,0.0,0,0.0
60808,mpg,NaN,4/16/2018,tl122318,NaN,Rent Change,2018-04-16,1968-07B,NaN,4/15/2018,...,0,6,1119.0,0.0,0.0,NaN,NaN,NaN,0,0.0
60647,mpg,NaN,5/12/2018,tl122318,NaN,Move In,2018-05-14,1986-07B,NaN,4/15/2018,...,0,0,1119.0,250.0,0.0,Move In,NaN,0.0,0,0.0
54243,mpg,NaN,4/17/2018,tl122655,NaN,Rent Change,2018-04-17,1966-03B,NaN,4/17/2018,...,0,6,1119.0,0.0,0.0,NaN,NaN,NaN,0,0.0
60621,mpg,NaN,5/11/2018,tl122655,NaN,Move In,2018-05-12,2006-11A,NaN,4/17/2018,...,0,0,1119.0,250.0,0.0,Move In,NaN,0.0,0,0.0
56357,mpg,NaN,4/20/2018,tl122981,NaN,Rent Change,2018-04-20,1968-07B,NaN,4/20/2018,...,0,6,1119.0,0.0,0.0,NaN,NaN,NaN,0,0.0
68614,fh,NaN,6/16/2018,tl127278,NaN,Rent Change,2018-06-16,1122AB,NaN,6/15/2018,...,0,6,1135.0,99.0,0.0,NaN,NaN,NaN,0,0.0
58930,fh,NaN,6/19/2018,tl127278,NaN,Move In,2018-06-22,1102AB,NaN,6/15/2018,...,0,0,1135.0,99.0,0.0,Move In,NaN,0.0,0,0.0

In [5]:
rentcsv = "Rent_Changed_Tenants.csv"
norentcsv = "Tenants_nochange.csv"

In [6]:
rent_df = pd.read_csv(rentcsv)
norent_df = pd.read_csv(norentcsv)

In [7]:
rent_df.drop(["Unnamed: 0"],axis =1)

,Property_Code,Tenant_Code,Event,DateOccurred,Unit_Code,DateMoveIn,DateMoveOut,Rent,Sqft,Length of Stay,Vacancy
0,ce,t0013745,Notice Given,2015-01-05,C05266,2006-11-09,2015-02-28,896.0,0.0,3033 days 00:00:00.000000000,0
1,ce,t0013745,Move Out,2015-02-02,C05266,2006-11-09,2015-01-31,896.0,0.0,3005 days 00:00:00.000000000,1
2,ce,t0013745,Deposit Change,2015-02-05,C05266,2006-11-09,2015-01-31,896.0,0.0,3005 days 00:00:00.000000000,0
3,ce,t0013745,Deposit Accounting,2015-02-05,C05266,2006-11-09,2015-01-31,896.0,0.0,3005 days 00:00:00.000000000,0
4,ce,t0013745,Adjust Deposit Accounting,2015-02-05,C05266,2006-11-09,2015-01-31,896.0,0.0,3005 days 00:00:00.000000000,0
5,ce,t0013745,Adjust Deposit Accounting,2015-02-10,C05266,2006-11-09,2015-01-31,896.0,0.0,3005 days 00:00:00.000000000,0
6,ce,t0013745,Deposit Change,2013-04-17,C05266,2006-11-09,NaN,870.0,0.0,NaN,0
7,ce,t0013745,Month to Month,2013-04-18,C05266,2006-11-09,NaN,870.0,0.0,NaN,0
8,ce,t0013745,Rent Change,2013-04-26,C05266,2006-11-09,NaN,0.0,0.0,NaN,0
9,ce,t0013745,Rent Change,2013-04-30,C05266,2006-11-09,NaN,870.0,0.0,NaN,0
10,ce,t0013745,120 Day Letter Sent,2014-02-21,C05266,2006-11-09,NaN,870.0,0.0,NaN,0
11,ce,t0013745,Rent Change,2014-05-31,C05266,2006-11-09,NaN,896.0,0.0,NaN,0
12,ce,t0013747,Notice Given,2013-07-30,C05270,2012-07-16,2013-08-11,770.0,0.0,391 days 00:00:00.000000000,0
13,ce,t0013747,Move Out,2013-08-12,C05270,2012-07-16,2013-08-11,770.0,0.0,391 days 00:00:00.000000000,1
14,ce,t0013747,Deposit Change,2013-08-15,C05270,2012-07-16,2013-08-11,770.0,0.0,391 days 00:00:00.000000000,0
15,ce,t0013747,Deposit Accounting,2013-08-15,C05270,2012-07-16,2013-08-11,770.0,0.0,391 days 00:00:00.000000000,0
16,ce,t0013747,Deposit Change,2013-04-17,C05270,2012-07-16,NaN,770.0,0.0,NaN,0
17,ce,t0013747,Rent Change,2013-04-26,C05270,2012-07-16,NaN,0.0,0.0,NaN,0
18,ce,t0013747,Rent Change,2013-04-30,C05270,2012-07-16,NaN,770.0,0.0,NaN,0
19,ce,t0013748,Notice Given,2015-08-03,C05272,2012-09-28,2015-10-31,824.0,0.0,1128 days 00:00:00.000000000,0
20,ce,t0013748,Move Out,2015-10-31,C05272,2012-09-28,2015-10-31,824.0,0.0,1128 days 00:00:00.000000000,1
21,ce,t0013748,Deposit Change,2015-11-13,C05272,2012-09-28,2015-10-31,824.0,0.0,1128 days 00:00:00.000000000,0
22,ce,t0013748,Deposit Accounting,2015-11-13,C05272,2012-09-28,2015-10-31,824.0,0.0,1128 days 00:00:00.000000000,0
23,ce,t0013748,Deposit Change,2013-04-17,C05272,2012-09-28,NaN,770.0,0.0,NaN,0
24,ce,t0013748,Rent Change,2013-04-26,C05272,2012-09-28,NaN,0.0,0.0,NaN,0
25,ce,t0013748,Rent Change,2013-04-30,C05272,2012-09-28,NaN,770.0,0.0,NaN,0
26,ce,t0013748,Rent Change,2013-09-30,C05272,2012-09-28,NaN,800.0,0.0,NaN,0
27,ce,t0013748,Month to Month,2013-10-01,C05272,2012-09-28,NaN,800.0,0.0,NaN,0
28,ce,t0013748,Lease Renewal,2014-08-07,C05272,2012-09-28,NaN,824.0,0.0,NaN,0
29,ce,t0013748,Lease Renewal Canceled,2014-08-07,C05272,2012-09-28,NaN,824.0,0.0,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...
40236,mpg,tl122655,Application Approved,2018-04-19,2006-11A,2018-05-10,NaN,1119.0,0.0,NaN,0
40237,mpg,tl122655,Submit Application,2018-04-17,1966-03B,2018-05-10,NaN,0.0,0.0,NaN,0
40238,mpg,tl122655,Rent Change,2018-04-17,1966-03B,2018-05-10,NaN,1119.0,0.0,NaN,0
40239,mpg,tl122655,Deposit Change,2018-04-18,1966-03B,2018-05-10,NaN,1119.0,0.0,NaN,0
40240,mpg,tl122655,Lease Signed,2018-04-19,2006-11A,2018-05-10,NaN,1119.0,0.0,NaN,0
40241,mpg,tl122655,Assign Unit (From 1966-03B to 2006-11A),2018-04-19,2006-11A,2018-05-10,NaN,1119.0,0.0,NaN,0
40242,mpg,tl122655,Adjust Move In Dates,2018-04-27,2006-11A,2018-05-11,NaN,1119.0,0.0,NaN,0
40243,mpg,tl122655,Move In,2018-05-12,2006-11A,2018-05-11,NaN,1119.0,0.0,NaN,0
40244,mpg,tl122655,Deposit Change,2018-05-14,2006-11A,2018-05-11,NaN,1119.0,0.0,NaN,0
40245,mpg,tl122655,Deposit Change,2018-06-18,2006-11A,2018-05-11,NaN,1119.0,0.0,NaN,0
40246,mpg,tl122981,Application Approved,2018-04-23,1968-07B,2018-06-04,NaN,1119.0,0.0,NaN,0
40247,mpg,tl122981,Submit Application,2018-04-20,1968-07B,2018-06-04,NaN,0.0,0.0,NaN,0
40248,mpg,tl122981,Rent Change,2018-04-20,1968-07B,2018-06-04,NaN,1119.0,0.0,NaN,0
40249,mpg,tl122981,Deposit Change,2018-04-20,1968-07B,2018-06-04,NaN,1119.0,0.0,NaN,0
40250,mpg,tl122981,Deposit Change,2018-04-23,1968-07B,2018-06-04,NaN,1119.0,0.0,NaN,0
40251,mpg,tl122981,Lease Signed,2018-04-23,1968-07B,2018-06-04,NaN,1119.0,0.0,NaN,0
40252,mpg,tl122981,Cancel Move In,2018-05-03,1968-07B,NaN,NaN,1119.0,0.0,NaN,0
40253,mpg,tl122981,Deposit Change,2018-05-09,1968-07B,NaN,NaN,1119.0,0.0,NaN,0
40254,mpg,tl122981,Deposit Accounting,2018-05-09,1968-07B,NaN,NaN,1119.0,0.0,NaN,0
40255,fh,tl127278,Application Approved,2018-06-16,1122AB,2018-06-15,NaN,1135.0,0.0,NaN,0
40256,fh,tl127278,Submit Application,2018-06-15,1035A,2018-06-15,NaN,0.0,0.0,NaN,0
40257,fh,tl127278,Deposit Change,2018-06-15,1035A,2018-06-15,NaN,0.0,0.0,NaN,0
40258,fh,tl127278,Rent Change,2018-06-16,1122AB,2018-06-15,NaN,1135.0,0.0,NaN,0
40259,fh,tl127278,Assign Unit (From 1035A to 1122AB),2018-06-16,1122AB,2018-06-15,NaN,1135.0,0.0,NaN,0
40260,fh,tl127278,Adjust Move In Dates,2018-06-22,1102AB,2018-06-19,NaN,1135.0,0.0,NaN,0
40261,fh,tl127278,Move In,2018-06-22,1102AB,2018-06-19,NaN,1135.0,0.0,NaN,0
40262,fh,tl127278,Adjust Lease End Dates,2018-06-22,1102AB,2018-06-19,NaN,1135.0,0.0,NaN,0
40263,fh,tl127278,Deposit Change,2018-06-26,1102AB,2018-06-19,NaN,1135.0,0.0,NaN,0
40264,fh,tl127278,Lease Signed,2018-06-16,1122AB,2018-06-23,NaN,1135.0,0.0,NaN,0
40265,fh,tl127278,Assign Unit (From 1122AB to 1102AB),2018-06-18,1102AB,2018-06-23,NaN,1135.0,0.0,NaN,0

In [8]:
norent_df.drop(["Unnamed: 0"], axis = 1)

,Property_Code,Tenant_Code,Event,DateOccurred,Unit_Code,DateMoveIn,DateMoveOut,Rent,Sqft,Length of Stay,Vacancy
0,ce,t0013746,Notice Given,2013-04-17,C05268,2009-10-25,2013-04-30,860.0,0.0,1283 days 00:00:00.000000000,0
1,ce,t0013746,Move Out,2013-04-30,C05268,2009-10-25,2013-04-30,860.0,0.0,1283 days 00:00:00.000000000,1
2,ce,t0013746,Deposit Change,2013-05-08,C05268,2009-10-25,2013-04-30,860.0,0.0,1283 days 00:00:00.000000000,0
3,ce,t0013746,Deposit Accounting,2013-05-08,C05268,2009-10-25,2013-04-30,860.0,0.0,1283 days 00:00:00.000000000,0
4,ce,t0013801,Transfer Unit (From C5250M to C5252A),2018-08-29,C5252A,2018-09-14,NaN,819.0,0.0,NaN,0
5,ce,t0013801,Cancel Move In,2018-09-15,C5252A,NaN,NaN,819.0,0.0,NaN,0
6,ce,t0013819,Notice Given,2013-04-17,C5254F,2012-05-12,2013-05-31,650.0,0.0,384 days 00:00:00.000000000,0
7,ce,t0013819,Move Out,2013-05-31,C5254F,2012-05-12,2013-05-31,650.0,0.0,384 days 00:00:00.000000000,1
8,ce,t0013819,Deposit Change,2013-06-10,C5254F,2012-05-12,2013-05-31,650.0,0.0,384 days 00:00:00.000000000,0
9,ce,t0013819,Deposit Accounting,2013-06-10,C5254F,2012-05-12,2013-05-31,650.0,0.0,384 days 00:00:00.000000000,0
10,ce,t0013823,Adjust Moveout Dates,2013-04-30,C5254K,2012-04-15,2013-05-01,660.0,0.0,381 days 00:00:00.000000000,0
11,ce,t0013823,Notice Given,2013-04-17,C5254K,2012-04-15,2013-04-30,660.0,0.0,380 days 00:00:00.000000000,0
12,ce,t0013823,Adjust Moveout Dates,2013-05-01,C5254K,2012-04-15,2013-04-30,660.0,0.0,380 days 00:00:00.000000000,0
13,ce,t0013823,Move Out,2013-05-06,C5254K,2012-04-15,2013-04-30,660.0,0.0,380 days 00:00:00.000000000,1
14,ce,t0013823,Deposit Change,2013-05-08,C5254K,2012-04-15,2013-04-30,660.0,0.0,380 days 00:00:00.000000000,0
15,ce,t0013823,Deposit Accounting,2013-05-08,C5254K,2012-04-15,2013-04-30,660.0,0.0,380 days 00:00:00.000000000,0
16,ce,t0013823,Adjust Deposit Accounting,2013-05-08,C5254K,2012-04-15,2013-04-30,660.0,0.0,380 days 00:00:00.000000000,0
17,ce,t0013838,Notice Given,2013-04-17,C5271B,2012-11-05,2013-04-30,560.0,0.0,176 days 00:00:00.000000000,0
18,ce,t0013838,Move Out,2013-04-30,C5271B,2012-11-05,2013-04-30,560.0,0.0,176 days 00:00:00.000000000,1
19,ce,t0013838,Deposit Change,2013-05-08,C5271B,2012-11-05,2013-04-30,560.0,0.0,176 days 00:00:00.000000000,0
20,ce,t0013838,Deposit Accounting,2013-05-08,C5271B,2012-11-05,2013-04-30,560.0,0.0,176 days 00:00:00.000000000,0
21,ce,t0013866,Adjust Moveout Dates,2013-05-14,C5303F,2012-08-24,2013-05-20,560.0,0.0,269 days 00:00:00.000000000,0
22,ce,t0013866,Adjust Moveout Dates,2013-05-17,C5303F,2012-08-24,2013-05-17,560.0,0.0,266 days 00:00:00.000000000,0
23,ce,t0013866,Move Out,2013-05-17,C5303F,2012-08-24,2013-05-17,560.0,0.0,266 days 00:00:00.000000000,1
24,ce,t0013866,Deposit Change,2013-05-30,C5303F,2012-08-24,2013-05-17,560.0,0.0,266 days 00:00:00.000000000,0
25,ce,t0013866,Deposit Accounting,2013-05-30,C5303F,2012-08-24,2013-05-17,560.0,0.0,266 days 00:00:00.000000000,0
26,ce,t0013866,Adjust Deposit Accounting,2013-05-30,C5303F,2012-08-24,2013-05-17,560.0,0.0,266 days 00:00:00.000000000,0
27,ce,t0013866,Adjust Moveout Dates,2013-05-09,C5303F,2012-08-24,2013-05-10,560.0,0.0,259 days 00:00:00.000000000,0
28,ce,t0013866,Adjust Moveout Dates,2013-05-07,C5303F,2012-08-24,2013-05-08,560.0,0.0,257 days 00:00:00.000000000,0
29,ce,t0013866,Adjust Moveout Dates,2013-05-06,C5303F,2012-08-24,2013-05-06,560.0,0.0,255 days 00:00:00.000000000,0
...,...,...,...,...,...,...,...,...,...,...,...
23838,fh,t0050573,Submit Application,2018-11-11,1026A,2018-11-11,NaN,0.0,0.0,NaN,0
23839,fh,t0050573,Application Approved,2018-11-30,1026A,2018-12-01,NaN,0.0,0.0,NaN,0
23840,fh,t0050573,Re-Apply,2018-11-30,1026A,2018-12-01,NaN,0.0,0.0,NaN,0
23841,fh,t0050573,Lease Signed,2018-11-30,1026A,2018-12-01,NaN,0.0,0.0,NaN,0
23842,fh,t0050573,Adjust Move In Dates,2018-12-13,1026A,2018-12-21,NaN,0.0,0.0,NaN,0
23843,fh,t0050573,Adjust Move In Dates,2018-12-26,1026A,2018-12-28,NaN,0.0,0.0,NaN,0
23844,fh,t0050573,Adjust Move In Dates,2019-01-08,1026A,2019-01-31,NaN,0.0,0.0,NaN,0
23845,fh,t0050573,Adjust Move In Dates,2019-01-02,1026A,2019-02-01,NaN,0.0,0.0,NaN,0
23846,fh,t0050573,Application Canceled,2018-11-27,1026A,NaN,NaN,0.0,0.0,NaN,0
23847,fh,t0050573,Deposit Accounting,2018-11-27,1026A,NaN,NaN,0.0,0.0,NaN,0
23848,fh,t0051784,Submit Application,2018-12-06,1025B,2018-12-06,NaN,0.0,0.0,NaN,0
23849,fh,t0051784,Deposit Change,2018-12-06,1025B,2018-12-06,NaN,0.0,0.0,NaN,0
23850,fh,t0051784,Application Denied,2018-12-07,1025B,2018-12-06,NaN,0.0,0.0,NaN,0
23851,fh,t0051784,Deposit Accounting,2018-12-10,1025B,2018-12-06,NaN,0.0,0.0,NaN,0
23852,fh,t0051784,Re-Apply,2019-01-03,1025B,2019-01-15,NaN,0.0,0.0,NaN,0
23853,fh,t0051784,Application Denied,2019-01-09,1025B,2019-01-15,NaN,0.0,0.0,NaN,0
23854,fh,t0051784,Deposit Accounting,2019-01-09,1025B,2019-01-15,NaN,0.0,0.0,NaN,0
23855,sh,t0052261,Submit Application,2018-12-15,SH5770,2018-12-15,NaN,0.0,0.0,NaN,0
23856,sh,t0052261,Application Approved,2018-12-15,SH5770,2018-12-28,NaN,0.0,0.0,NaN,0
23857,sh,t0052261,Deposit Change,2018-12-17,SH5770,2018-12-28,NaN,0.0,0.0,NaN,0
23858,sh,t0052261,Lease Signed,2018-12-26,SH5770,2018-12-28,NaN,0.0,0.0,NaN,0
23859,sh,t0052261,Move In,2018-12-28,SH5770,2018-12-28,NaN,0.0,0.0,NaN,0
23860,sh,t0052261,Deposit Change,2018-12-31,SH5770,2018-12-28,NaN,0.0,0.0,NaN,0
23861,fh,tl106640,Submit Application,2017-09-20,1070AS,2017-10-14,NaN,0.0,0.0,NaN,0
23862,fh,tl106640,Deposit Change,2017-09-20,1070AS,2017-10-14,NaN,0.0,0.0,NaN,0
23863,fh,tl106640,Application Denied,2017-10-02,1070AS,2017-10-14,NaN,0.0,0.0,NaN,0
23864,fh,tl106640,Deposit Accounting,2017-10-09,1070AS,2017-10-14,NaN,0.0,0.0,NaN,0
23865,ce,tl106699,Submit Application,2017-09-05,M0005A,2017-11-10,NaN,626.0,0.0,NaN,0
23866,ce,tl106699,Application Canceled,2017-09-14,M0005A,NaN,NaN,626.0,0.0,NaN,0
23867,ce,tl106699,Deposit Accounting,2017-10-09,M0005A,NaN,NaN,626.0,0.0,NaN,0

In [9]:
def clean_function(df):
    df.drop(["Unnamed: 0"], axis = 1, inplace= True)
    df.drop(["Length of Stay"], axis = 1, inplace = True)
    #drop non-necesary event
    df.drop(df[(df.Event !=  "Move In") & (df.Event !=  "Move Out") & (df.Event !=  "Rent Change")].index, inplace=True)
    #change to datetype
    df["DateOccurred"]= pd.to_datetime(df['DateOccurred'], format='%Y-%m-%d', utc=False)
    df["DateMoveOut"]= pd.to_datetime(df['DateMoveOut'], format='%Y-%m-%d', utc=False)
    #sort by tenant and date
    df = df.sort_values(["Tenant_Code","DateOccurred"])
    #change vacany column to correspond to rentchange
    for x in range(len(df)):
        event = df["Event"].iloc[x]
        prevevent = df["Event"].iloc[x-1]
        tenant = df["Tenant_Code"].iloc[x]
        prevtenant = df["Tenant_Code"].iloc[x-1]
        if tenant == prevtenant:
            if event == "Move Out":
                if prevevent =="Rent Change":
                    df["Vacancy"].iloc[x-1] = 1
    #calculate change in rent
    r = []
    chrent = []
    lrent = []
    for x in range(len(df)):
        tencode = df["Tenant_Code"].iloc[x]
        prevten = df["Tenant_Code"].iloc[x-1]
        if tencode == prevten:
            rent = df["Rent"].iloc[x]
            prevrent = df["Rent"].iloc[x-1]
            changerent = rent-prevrent
            chrent.append(changerent)
        else:
            chrent.append(0)
    df["chrent"]=chrent
    #add moveout date to associated rentchange
    for x in range(len(df)):
        event = df["Event"].iloc[x]
        prevevent = df["Event"].iloc[x-1]
        tenant = df["Tenant_Code"].iloc[x]
        prevtenant = df["Tenant_Code"].iloc[x-1]
        if tenant == prevtenant:
            if event == "Move Out":
                if prevevent =="Rent Change":
                    df["DateMoveOut"].iloc[x-1] = df["DateMoveOut"].iloc[x]
    #calculate length of stay
    df["LengthStay"]=df["DateMoveOut"]-df["DateOccurred"]
    df.drop(df[(df.Rent == 0)].index, inplace=True)
    df.drop(df[(df.Event == "Move Out")].index, inplace=True)
    df.drop(df[(df.Event == "Move In")].index, inplace =True)
    return df

In [10]:
df = clean_function(rent_df)

C:\Users\Lena\Anaconda3\envs\threesix\lib\site-packages\pandas\core\indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [11]:
df.columns

Index(['Property_Code', 'Tenant_Code', 'Event', 'DateOccurred', 'Unit_Code',
       'DateMoveIn', 'DateMoveOut', 'Rent', 'Sqft', 'Vacancy', 'chrent',
       'LengthStay'],
      dtype='object')

In [12]:
df["DateOccurred"].dtypes

dtype('<M8[ns]')

In [13]:
df

,Property_Code,Tenant_Code,Event,DateOccurred,Unit_Code,DateMoveIn,DateMoveOut,Rent,Sqft,Vacancy,chrent,LengthStay
9,ce,t0013745,Rent Change,2013-04-30,C05266,2006-11-09,NaT,870.0,0.0,0,870.0,NaT
11,ce,t0013745,Rent Change,2014-05-31,C05266,2006-11-09,2015-01-31,896.0,0.0,1,26.0,245 days
18,ce,t0013747,Rent Change,2013-04-30,C05270,2012-07-16,2013-08-11,770.0,0.0,1,770.0,103 days
25,ce,t0013748,Rent Change,2013-04-30,C05272,2012-09-28,NaT,770.0,0.0,0,770.0,NaT
26,ce,t0013748,Rent Change,2013-09-30,C05272,2012-09-28,NaT,800.0,0.0,0,30.0,NaT
31,ce,t0013748,Rent Change,2014-11-01,C05272,2012-09-28,2015-10-31,824.0,0.0,1,24.0,364 days
34,ce,t0013749,Rent Change,2013-04-30,C05274,2008-11-26,NaT,880.0,0.0,0,880.0,NaT
35,ce,t0013749,Rent Change,2013-10-31,C05274,2008-11-26,NaT,1795.0,0.0,0,915.0,NaT
36,ce,t0013749,Rent Change,2013-12-01,C05274,2008-11-26,NaT,880.0,0.0,0,-915.0,NaT
37,ce,t0013749,Rent Change,2013-12-31,C05274,2008-11-26,NaT,915.0,0.0,0,35.0,NaT
40,ce,t0013749,Rent Change,2015-03-01,C05274,2008-11-26,NaT,924.0,0.0,0,9.0,NaT
42,ce,t0013749,Rent Change,2016-02-29,C05274,2008-11-26,NaT,970.0,0.0,0,46.0,NaT
45,ce,t0013749,Rent Change,2018-02-28,C05274,2008-11-26,NaT,1044.0,0.0,0,74.0,NaT
53,ce,t0013750,Rent Change,2013-04-30,C05276,2001-07-21,NaT,880.0,0.0,0,880.0,NaT
54,ce,t0013750,Rent Change,2013-06-30,C05276,2001-07-21,NaT,890.0,0.0,0,10.0,NaT
56,ce,t0013750,Rent Change,2014-06-30,C05276,2001-07-21,NaT,917.0,0.0,0,27.0,NaT
58,ce,t0013750,Rent Change,2015-06-30,C05276,2001-07-21,NaT,945.0,0.0,0,28.0,NaT
60,ce,t0013750,Rent Change,2016-06-30,C05276,2001-07-21,2017-06-30,999.0,0.0,1,54.0,365 days
71,ce,t0013751,Rent Change,2013-04-30,C05278,2011-09-16,NaT,780.0,0.0,0,780.0,NaT
72,ce,t0013751,Rent Change,2013-09-30,C05278,2011-09-16,NaT,803.0,0.0,0,23.0,NaT
74,ce,t0013751,Rent Change,2014-01-31,C05278,2011-09-16,NaT,1606.0,0.0,0,803.0,NaT
75,ce,t0013751,Rent Change,2014-02-28,C05278,2011-09-16,NaT,803.0,0.0,0,-803.0,NaT
77,ce,t0013751,Rent Change,2015-01-01,C05278,2011-09-16,NaT,810.0,0.0,0,7.0,NaT
80,ce,t0013751,Rent Change,2015-06-30,C05278,2011-09-16,2015-10-18,834.0,0.0,1,24.0,110 days
87,ce,t0013752,Rent Change,2013-04-30,C05280,2010-04-23,NaT,780.0,0.0,0,780.0,NaT
91,ce,t0013752,Rent Change,2014-05-31,C05280,2010-04-23,NaT,803.0,0.0,0,23.0,NaT
93,ce,t0013752,Rent Change,2015-05-31,C05280,2010-04-23,NaT,827.0,0.0,0,24.0,NaT
95,ce,t0013752,Rent Change,2016-05-31,C05280,2010-04-23,2017-05-31,859.0,0.0,1,32.0,365 days
102,ce,t0013753,Rent Change,2013-04-30,C05282,2012-07-14,2013-07-31,880.0,0.0,1,880.0,92 days
111,ce,t0013754,Rent Change,2013-04-30,C05284,1986-11-26,2014-01-29,880.0,0.0,1,880.0,274 days
...,...,...,...,...,...,...,...,...,...,...,...,...
40062,mpg,t0050622,Rent Change,2018-11-12,2010-04B,2018-11-17,NaT,1100.0,0.0,0,0.0,NaT
40074,mpg,t0050773,Rent Change,2018-11-19,2036-06B,2019-01-31,NaT,1449.0,0.0,0,0.0,NaT
40085,mpg,t0050791,Rent Change,2018-11-16,2024-09B,2018-12-07,NaT,1195.0,0.0,0,0.0,NaT
40080,mpg,t0050791,Rent Change,2018-11-20,1980-07B,2018-11-30,NaT,1449.0,0.0,0,254.0,NaT
40095,fh,t0050919,Rent Change,2018-11-21,1064A,2018-11-23,NaT,1099.0,0.0,0,0.0,NaT
40098,fh,t0050919,Rent Change,2018-11-25,1064A,2018-11-23,NaT,1209.0,0.0,0,110.0,NaT
40104,sh,t0051110,Rent Change,2018-11-23,SH5946,2018-11-21,NaT,800.0,0.0,0,0.0,NaT
40107,sh,t0051110,Rent Change,2018-11-26,SH5901,2018-11-28,NaT,775.0,0.0,0,-25.0,NaT
40113,ce,t0051473,Rent Change,2018-11-30,M0005E,2018-12-08,NaT,790.0,0.0,0,0.0,NaT
40118,ce,t0051473,Rent Change,2018-11-30,M0002A,2019-01-07,NaT,760.0,0.0,0,-30.0,NaT
40124,ce,t0051586,Rent Change,2018-12-03,C5322J,2019-01-14,NaT,695.0,0.0,0,0.0,NaT
40134,sh,t0052825,Rent Change,2018-12-31,WAIT-3TA,2018-12-28,NaT,735.0,0.0,0,0.0,NaT
40137,sh,t0052825,Rent Change,2019-01-07,TH5979,2019-02-01,NaT,800.0,0.0,0,65.0,NaT
40140,mpg,t0052899,Rent Change,2018-12-31,1978-10B,2019-01-04,NaT,1176.0,0.0,0,0.0,NaT
40143,mpg,t0052899,Rent Change,2019-01-09,1978-10B,2019-01-10,NaT,1294.0,0.0,0,118.0,NaT
40149,mpg,tl108376,Rent Change,2018-04-05,1986-05B,2018-04-07,NaT,1050.0,0.0,0,0.0,NaT
40167,mpg,tl110367,Rent Change,2017-11-15,1968-07C,2017-11-27,NaT,1099.0,0.0,0,0.0,NaT
40169,mpg,tl110367,Rent Change,2017-11-15,2006-06C,2017-11-27,NaT,1050.0,0.0,0,-49.0,NaT
40174,mpg,tl110367,Rent Change,2017-11-27,1968-09B,2017-11-27,NaT,1099.0,0.0,0,49.0,NaT
40181,fh,tl115488,Rent Change,2018-02-06,1112A,2018-02-23,NaT,974.0,0.0,0,0.0,NaT
40189,mpg,tl115688,Rent Change,2018-01-30,1968-09C,2018-02-15,NaT,1099.0,0.0,0,0.0,NaT
40209,mpg,tl116411,Rent Change,2018-04-21,2030-07A,2018-06-05,NaT,1299.0,0.0,0,0.0,NaT
40218,fh,tl117521,Rent Change,2018-02-23,4731A,2018-06-02,NaT,985.0,0.0,0,0.0,NaT
40220,fh,tl117521,Rent Change,2018-03-15,1041B,2018-06-02,NaT,1000.0,0.0,0,15.0,NaT
40222,fh,tl117521,Rent Change,2018-04-19,1081B,2018-06-02,NaT,1135.0,0.0,0,135.0,NaT
40224,fh,tl117521,Rent Change,2018-04-19,1081B,2018-06-02,NaT,985.0,0.0,0,-150.0,NaT
40229,mpg,tl122318,Rent Change,2018-04-16,1968-07B,2018-05-12,NaT,1119.0,0.0,0,0.0,NaT
40238,mpg,tl122655,Rent Change,2018-04-17,1966-03B,2018-05-10,NaT,1119.0,0.0,0,0.0,NaT
40248,mpg,tl122981,Rent Change,2018-04-20,1968-07B,2018-06-04,NaT,1119.0,0.0,0,0.0,NaT
40258,fh,tl127278,Rent Change,2018-06-16,1122AB,2018-06-15,NaT,1135.0,0.0,0,0.0,NaT

In [14]:
df["Event"]

9        Rent Change
11       Rent Change
18       Rent Change
25       Rent Change
26       Rent Change
31       Rent Change
34       Rent Change
35       Rent Change
36       Rent Change
37       Rent Change
40       Rent Change
42       Rent Change
45       Rent Change
53       Rent Change
54       Rent Change
56       Rent Change
58       Rent Change
60       Rent Change
71       Rent Change
72       Rent Change
74       Rent Change
75       Rent Change
77       Rent Change
80       Rent Change
87       Rent Change
91       Rent Change
93       Rent Change
95       Rent Change
102      Rent Change
111      Rent Change
            ...
40062    Rent Change
40074    Rent Change
40085    Rent Change
40080    Rent Change
40095    Rent Change
40098    Rent Change
40104    Rent Change
40107    Rent Change
40113    Rent Change
40118    Rent Change
40124    Rent Change
40134    Rent Change
40137    Rent Change
40140    Rent Change
40143    Rent Change
40149    Rent Change
40167    Rent Change
40169    Rent Change
40174    Rent Change
40181    Rent Change
40189    Rent Change
40209    Rent Change
40218    Rent Change
40220    Rent Change
40222    Rent Change
40224    Rent Change
40229    Rent Change
40238    Rent Change
40248    Rent Change
40258    Rent Change
Name: Event, Length: 6630, dtype: object

In [15]:
rentatt = pd.read_csv("rentchange_attributes.csv")

In [16]:
df2 = clean_function(rentatt)

In [17]:
df2

,Property_Code,Tenant_Code,Event,DateOccurred,Unit_Code,DateMoveIn,DateMoveOut,Rent,Vacancy,SQFT,BedRooms,Bathroom,chrent,LengthStay
2,ce,t0013745,Rent Change,2013-04-30,C05266,2006-11-09,NaT,870.0,0,1400,3,2.5,870.0,NaT
3,ce,t0013745,Rent Change,2014-05-31,C05266,2006-11-09,2015-01-31,896.0,1,1400,3,2.5,26.0,245 days
8,ce,t0013747,Rent Change,2013-04-30,C05270,2012-07-16,2013-08-11,770.0,1,1088,2,1.5,770.0,103 days
18,ce,t0013748,Rent Change,2013-04-30,C05272,2012-09-28,NaT,770.0,0,1088,2,1.5,770.0,NaT
19,ce,t0013748,Rent Change,2013-09-30,C05272,2012-09-28,NaT,800.0,0,1088,2,1.5,30.0,NaT
20,ce,t0013748,Rent Change,2014-11-01,C05272,2012-09-28,2015-10-31,824.0,1,1088,2,1.5,24.0,364 days
27,ce,t0013749,Rent Change,2013-04-30,C05274,2008-11-26,NaT,880.0,0,1400,3,2.5,880.0,NaT
28,ce,t0013749,Rent Change,2013-10-31,C05274,2008-11-26,NaT,1795.0,0,1400,3,2.5,915.0,NaT
29,ce,t0013749,Rent Change,2013-12-01,C05274,2008-11-26,NaT,880.0,0,1400,3,2.5,-915.0,NaT
30,ce,t0013749,Rent Change,2013-12-31,C05274,2008-11-26,NaT,915.0,0,1400,3,2.5,35.0,NaT
31,ce,t0013749,Rent Change,2015-03-01,C05274,2008-11-26,NaT,924.0,0,1400,3,2.5,9.0,NaT
32,ce,t0013749,Rent Change,2016-02-29,C05274,2008-11-26,NaT,970.0,0,1400,3,2.5,46.0,NaT
33,ce,t0013749,Rent Change,2018-02-28,C05274,2008-11-26,NaT,1044.0,0,1400,3,2.5,74.0,NaT
36,ce,t0013750,Rent Change,2013-04-30,C05276,2001-07-21,NaT,880.0,0,1400,3,2.5,880.0,NaT
37,ce,t0013750,Rent Change,2013-06-30,C05276,2001-07-21,NaT,890.0,0,1400,3,2.5,10.0,NaT
38,ce,t0013750,Rent Change,2014-06-30,C05276,2001-07-21,NaT,917.0,0,1400,3,2.5,27.0,NaT
39,ce,t0013750,Rent Change,2015-06-30,C05276,2001-07-21,NaT,945.0,0,1400,3,2.5,28.0,NaT
40,ce,t0013750,Rent Change,2016-06-30,C05276,2001-07-21,2017-06-30,999.0,1,1400,3,2.5,54.0,365 days
45,ce,t0013751,Rent Change,2013-04-30,C05278,2011-09-16,NaT,780.0,0,1088,2,1.5,780.0,NaT
46,ce,t0013751,Rent Change,2013-09-30,C05278,2011-09-16,NaT,803.0,0,1088,2,1.5,23.0,NaT
47,ce,t0013751,Rent Change,2014-01-31,C05278,2011-09-16,NaT,1606.0,0,1088,2,1.5,803.0,NaT
48,ce,t0013751,Rent Change,2014-02-28,C05278,2011-09-16,NaT,803.0,0,1088,2,1.5,-803.0,NaT
49,ce,t0013751,Rent Change,2015-01-01,C05278,2011-09-16,NaT,810.0,0,1088,2,1.5,7.0,NaT
50,ce,t0013751,Rent Change,2015-06-30,C05278,2011-09-16,2015-10-18,834.0,1,1088,2,1.5,24.0,110 days
56,ce,t0013752,Rent Change,2013-04-30,C05280,2010-04-23,NaT,780.0,0,1088,2,1.5,780.0,NaT
57,ce,t0013752,Rent Change,2014-05-31,C05280,2010-04-23,NaT,803.0,0,1088,2,1.5,23.0,NaT
58,ce,t0013752,Rent Change,2015-05-31,C05280,2010-04-23,NaT,827.0,0,1088,2,1.5,24.0,NaT
59,ce,t0013752,Rent Change,2016-05-31,C05280,2010-04-23,2017-05-31,859.0,1,1088,2,1.5,32.0,365 days
65,ce,t0013753,Rent Change,2013-04-30,C05282,2012-07-14,2013-07-31,880.0,1,1400,3,2.5,880.0,92 days
70,ce,t0013754,Rent Change,2013-04-30,C05284,1986-11-26,2014-01-29,880.0,1,1400,3,2.5,880.0,274 days
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8471,mpg,t0050622,Rent Change,2018-11-12,2010-04B,2018-11-17,NaT,1100.0,0,1040,2,2.0,0.0,NaT
8703,mpg,t0050773,Rent Change,2018-11-19,2036-06B,2019-01-31,NaT,1449.0,0,1040,2,2.0,0.0,NaT
8604,mpg,t0050791,Rent Change,2018-11-16,2024-09B,2018-12-07,NaT,1195.0,0,835,1,1.0,0.0,NaT
8816,mpg,t0050791,Rent Change,2018-11-20,1980-07B,2018-11-30,NaT,1449.0,0,1040,2,2.0,254.0,NaT
8821,fh,t0050919,Rent Change,2018-11-21,1064A,2018-11-23,NaT,1099.0,0,912,2,1.0,0.0,NaT
8822,fh,t0050919,Rent Change,2018-11-25,1064A,2018-11-23,NaT,1209.0,0,912,2,1.0,110.0,NaT
4128,sh,t0051110,Rent Change,2018-11-23,SH5946,2018-11-21,NaT,800.0,0,1006,2,1.5,0.0,NaT
4555,sh,t0051110,Rent Change,2018-11-26,SH5901,2018-11-28,NaT,775.0,0,1006,2,1.5,-25.0,NaT
2852,ce,t0051473,Rent Change,2018-11-30,M0002A,2019-01-07,NaT,760.0,0,635,1,1.0,0.0,NaT
6081,ce,t0051473,Rent Change,2018-11-30,M0005E,2018-12-08,NaT,790.0,0,635,1,1.0,30.0,NaT
1461,ce,t0051586,Rent Change,2018-12-03,C5322J,2019-01-14,NaT,695.0,0,675,1,1.0,0.0,NaT
7346,sh,t0052825,Rent Change,2018-12-31,WAIT-3TA,2018-12-28,NaT,735.0,0,1006,3,NaN,0.0,NaT
4171,sh,t0052825,Rent Change,2019-01-07,TH5979,2019-02-01,NaT,800.0,0,1006,3,1.5,65.0,NaT
7933,mpg,t0052899,Rent Change,2018-12-31,1978-10B,2019-01-04,NaT,1176.0,0,895,2,2.0,0.0,NaT
7934,mpg,t0052899,Rent Change,2019-01-09,1978-10B,2019-01-10,NaT,1294.0,0,895,2,2.0,118.0,NaT
8497,mpg,tl108376,Rent Change,2018-04-05,1986-05B,2018-04-07,NaT,1050.0,0,835,1,1.0,0.0,NaT
8362,mpg,tl110367,Rent Change,2017-11-15,2006-06C,2017-11-27,NaT,1050.0,0,835,1,1.0,0.0,NaT
8823,mpg,tl110367,Rent Change,2017-11-15,1968-07C,2017-11-27,NaT,1099.0,0,835,1,1.0,49.0,NaT
8386,mpg,tl110367,Rent Change,2017-11-27,1968-09B,2017-11-27,2018-05-26,1099.0,1,835,1,1.0,0.0,180 days
7608,fh,tl115488,Rent Change,2018-02-06,1112A,2018-02-23,NaT,974.0,0,700,1,1.0,0.0,NaT
8824,mpg,tl115688,Rent Change,2018-01-30,1968-09C,2018-02-15,NaT,1099.0,0,835,1,1.0,0.0,NaT
8647,mpg,tl116411,Rent Change,2018-04-21,2030-07A,2018-06-05,NaT,1299.0,0,895,2,2.0,0.0,NaT
7804,fh,tl117521,Rent Change,2018-02-23,4731A,2018-06-02,NaT,985.0,0,912,2,1.0,0.0,NaT
8530,fh,tl117521,Rent Change,2018-03-15,1041B,2018-06-02,NaT,1000.0,0,912,2,1.0,15.0,NaT
8626,fh,tl117521,Rent Change,2018-04-19,1081B,2018-06-02,NaT,1135.0,0,912,2,1.0,135.0,NaT
8627,fh,tl117521,Rent Change,2018-04-19,1081B,2018-06-02,NaT,985.0,0,912,2,1.0,-150.0,NaT
8618,mpg,tl122318,Rent Change,2018-04-16,1968-07B,2018-05-12,NaT,1119.0,0,835,1,1.0,0.0,NaT
8645,mpg,tl122655,Rent Change,2018-04-17,1966-03B,2018-05-10,NaT,1119.0,0,1040,2,2.0,0.0,NaT
8619,mpg,tl122981,Rent Change,2018-04-20,1968-07B,2018-06-04,NaT,1119.0,0,835,1,1.0,0.0,NaT
8715,fh,tl127278,Rent Change,2018-06-16,1122AB,2018-06-15,NaT,1135.0,0,912,2,1.0,0.0,NaT

In [18]:
df2.to_csv("final.csv")

In [19]:
max(df2["SQFT"])

1400

In [20]:
min(df2["SQFT"])

0