In [1]:
import os 
import pandas as pd

In [2]:
filepath = os.path.join("Tenant_History.csv")
df_tenants = pd.read_csv(filepath, skiprows=1)
df_tenants.head(10)

,Property_Code,Ref_Property_ID,Date,Tenant_Code,Ext_Ref_Tenant_Id,Event,DateOccurred,Unit_Code,Ref_Unit_Id,DateApply,...,DateNotice,RentedEvent,UnRentedEvent,Status,Rent,Deposit,Sqft,Notes,Reason,MTM
0,sh,NaN,11/18/2016,t0031357,NaN,Deposit Change,11/22/2016,WC5956H,NaN,11/16/2016,...,NaN,0,0,2,641.0,99.0,0.0,NaN,NaN,0.0
1,ce,NaN,11/22/2016,t0031261,NaN,Deposit Change,11/22/2016,M0008A,NaN,11/3/2016,...,NaN,0,0,0,728.0,708.0,0.0,NaN,NaN,0.0
2,ce,NaN,11/18/2016,t0031367,NaN,Deposit Change,11/22/2016,M0008A,NaN,11/17/2016,...,NaN,0,0,9,728.0,50.0,0.0,NaN,NaN,0.0
3,ce,NaN,11/18/2016,t0031350,NaN,Deposit Change,11/22/2016,M0012B,NaN,11/16/2016,...,NaN,0,0,9,888.0,50.0,0.0,NaN,NaN,0.0
4,sh,NaN,11/22/2016,t0031408,NaN,Submit Application,11/22/2016,WAIT-3TA,NaN,11/22/2016,...,NaN,0,0,6,735.0,0.0,0.0,NaN,NaN,0.0
5,ce,NaN,11/22/2016,t0030981,NaN,Adjust Move In Dates,11/22/2016,C5252B,NaN,9/29/2016,...,NaN,0,0,2,708.0,99.0,0.0,NaN,NaN,0.0
6,ce,NaN,11/22/2016,t0031409,NaN,Submit Application,11/22/2016,M0005D,NaN,11/22/2016,...,NaN,0,0,6,0.0,0.0,0.0,NaN,NaN,0.0
7,ce,NaN,11/22/2016,t0031409,NaN,Application Approved,11/22/2016,M0005D,NaN,11/22/2016,...,NaN,-1,0,6,0.0,0.0,0.0,NaN,Changed Mind,0.0
8,ce,NaN,11/22/2016,t0031409,NaN,Lease Signed,11/22/2016,M0005D,NaN,11/22/2016,...,NaN,0,0,2,0.0,0.0,0.0,NaN,NaN,0.0
9,ce,NaN,11/22/2016,t0031352,NaN,Adjust Move In Dates,11/22/2016,C0007A,NaN,11/16/2016,...,NaN,0,0,2,657.0,0.0,0.0,NaN,NaN,0.0

In [3]:
move_in_df = df_tenants[df_tenants["Event"] == "Move In"]
move_out_df = df_tenants[df_tenants["Event"] == "Move Out"]

In [4]:
csv_df = pd.DataFrame(move_in_df.groupby(["Unit_Code", "Tenant_Code"]).count())
csv_df.reset_index(inplace=True)
csv_df.head()
csv_df.to_csv("unit_tenant_move_in.csv")

In [5]:
df_tenants.groupby("Event").count()

,Property_Code,Ref_Property_ID,Date,Tenant_Code,Ext_Ref_Tenant_Id,DateOccurred,Unit_Code,Ref_Unit_Id,DateApply,DateApprove,...,DateNotice,RentedEvent,UnRentedEvent,Status,Rent,Deposit,Sqft,Notes,Reason,MTM
Event,,,,,,,,,,,,,,,,,,,,,
120 Day Letter Sent,35,0,35,35,0,35,35,0,35,11,...,0,35,35,35,35,35,33,0,0,33
30 Day Letter Sent,38,0,38,38,0,38,38,0,38,1,...,0,38,38,38,38,38,38,0,0,38
60 Day Letter Sent,22,0,22,22,0,22,22,0,22,0,...,0,22,22,22,22,22,22,0,0,22
90 Day Letter Sent,18,0,18,18,0,18,18,0,18,3,...,0,18,18,18,18,18,15,0,0,15
Activity,7,0,7,7,0,7,3,0,0,0,...,0,7,7,7,7,7,7,5,0,7
Adjust Deposit Accounting,1239,0,1239,1239,0,1239,1239,0,1239,650,...,1094,1239,1239,1239,1239,1239,1239,630,0,1239
Adjust Lease End Date,336,0,336,336,0,336,336,0,336,294,...,5,336,336,336,336,336,184,0,0,336
Adjust Lease End Dates,809,0,809,809,0,809,809,0,807,680,...,0,809,809,809,809,809,809,0,0,809
Adjust Move In Dates,7793,0,7793,7793,0,7793,7793,0,7792,7668,...,3,7793,7793,7793,7793,7793,7793,0,0,7793
Adjust Moveout Dates,2906,0,2906,2906,0,2906,2906,0,2906,1921,...,2900,2906,2906,2906,2906,2906,2906,2906,45,2906
Application Approved,3790,0,3790,3790,0,3790,3790,0,3788,3790,...,0,3790,3790,3790,3790,3787,1901,0,1877,1901
Application Canceled,707,0,707,707,0,707,707,0,707,387,...,0,707,707,707,707,704,360,352,707,360
Application Denied,1320,0,1320,1320,0,1320,1320,0,1319,0,...,0,1320,1320,1320,1320,1319,482,839,1320,482
Appointment,2,0,2,2,0,2,1,0,0,0,...,0,2,2,2,2,2,2,2,0,2
Assign Unit (From 1014B to 1014D),1,0,1,1,0,1,1,0,1,0,...,0,1,1,1,1,1,1,0,0,1
Assign Unit (From 1014B to WAIT1BR1),1,0,1,1,0,1,1,0,1,0,...,0,1,1,1,1,1,1,0,0,1
Assign Unit (From 1014D to 1014D),2,0,2,2,0,2,2,0,2,0,...,0,2,2,2,2,2,2,0,0,2
Assign Unit (From 1014D to 1062D),1,0,1,1,0,1,1,0,1,1,...,0,1,1,1,1,1,1,0,0,1
Assign Unit (From 1014D to 1111D),1,0,1,1,0,1,1,0,1,1,...,0,1,1,1,1,1,1,0,0,1
Assign Unit (From 1018A to WAIT2R-1),1,0,1,1,0,1,1,0,1,0,...,0,1,1,1,1,1,1,0,0,1
Assign Unit (From 1018B to 1018A),1,0,1,1,0,1,1,0,1,0,...,0,1,1,1,1,1,1,0,0,1
Assign Unit (From 1020B to WAIT2R-2),1,0,1,1,0,1,1,0,1,0,...,0,1,1,1,1,1,1,0,0,1
Assign Unit (From 1021A to 1062B),1,0,1,1,0,1,1,0,1,0,...,0,1,1,1,1,1,1,0,0,1
Assign Unit (From 1021A to 1064A),1,0,1,1,0,1,1,0,1,0,...,0,1,1,1,1,1,1,0,0,1
Assign Unit (From 1021C to 1018D),1,0,1,1,0,1,1,0,1,1,...,0,1,1,1,1,1,1,0,0,1
Assign Unit (From 1021C to 1038A),1,0,1,1,0,1,1,0,1,1,...,0,1,1,1,1,1,1,0,0,1
Assign Unit (From 1021D to 1045D),1,0,1,1,0,1,1,0,1,0,...,0,1,1,1,1,1,1,0,0,1
Assign Unit (From 1021D to 1096A),1,0,1,1,0,1,1,0,1,1,...,0,1,1,1,1,1,1,0,0,1
Assign Unit (From 1021D to 1120C),1,0,1,1,0,1,1,0,1,0,...,0,1,1,1,1,1,1,0,0,1
Assign Unit (From 1022D to 4790C),1,0,1,1,0,1,1,0,1,1,...,0,1,1,1,1,1,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Transfer Unit (To TH5812 from WC5960L),1,0,1,1,0,1,1,0,1,0,...,1,1,1,1,1,1,1,0,1,1
Transfer Unit (To TH5819 from WC5970D),1,0,1,1,0,1,1,0,1,1,...,1,1,1,1,1,1,1,0,1,1
Transfer Unit (To TH5820 from WC5956A),1,0,1,1,0,1,1,0,1,1,...,1,1,1,1,1,1,1,0,1,1
Transfer Unit (To TH5824 from SH5821),1,0,1,1,0,1,1,0,1,1,...,1,1,1,1,1,1,1,0,1,1
Transfer Unit (To TH5831 from FT5880J),1,0,1,1,0,1,1,0,1,0,...,1,1,1,1,1,1,1,0,1,1
Transfer Unit (To TH5836 from SH5842),1,0,1,1,0,1,1,0,1,1,...,1,1,1,1,1,1,1,0,1,1
Transfer Unit (To TH5979 from WC5946G),1,0,1,1,0,1,1,0,1,1,...,1,1,1,1,1,1,1,0,1,1
Transfer Unit (To TT1185 from TT1177),1,0,1,1,0,1,1,0,1,1,...,1,1,1,1,1,1,1,0,1,1
Transfer Unit (To TT1190 from AC1081),1,0,1,1,0,1,1,0,1,1,...,1,1,1,1,1,1,1,0,1,1
Transfer Unit (To TT1190 from SH5847),1,0,1,1,0,1,1,0,1,1,...,1,1,1,1,1,1,1,0,1,1
Transfer Unit (To TT1209 from SH5920),1,0,1,1,0,1,1,0,1,1,...,1,1,1,1,1,1,1,0,1,1
Transfer Unit (To TT1218 from TH5765),1,0,1,1,0,1,1,0,1,1,...,1,1,1,1,1,1,1,0,1,1
Transfer Unit (To WC5930C from WC5930H),1,0,1,1,0,1,1,0,1,1,...,1,1,1,1,1,1,1,0,1,1
Transfer Unit (To WC5930E from SH5854),1,0,1,1,0,1,1,0,1,1,...,1,1,1,1,1,1,1,0,1,1
Transfer Unit (To WC5930E from TH5827),1,0,1,1,0,1,1,0,1,1,...,1,1,1,1,1,1,1,0,1,1
Transfer Unit (To WC5930H from SH5821),1,0,1,1,0,1,1,0,1,1,...,1,1,1,1,1,1,1,0,1,1
Transfer Unit (To WC5933E from WC5936K),1,0,1,1,0,1,1,0,1,1,...,1,1,1,1,1,1,1,0,1,1
Transfer Unit (To WC5933I from SH5904),2,0,2,2,0,2,2,0,2,2,...,2,2,2,2,2,2,2,0,2,2
Transfer Unit (To WC5933L from TH5806),1,0,1,1,0,1,1,0,1,1,...,1,1,1,1,1,1,1,0,1,1
Transfer Unit (To WC5933T from WC5946D),1,0,1,1,0,1,1,0,1,1,...,1,1,1,1,1,1,1,0,1,1
Transfer Unit (To WC5933W from TT1193),1,0,1,1,0,1,1,0,1,1,...,1,1,1,1,1,1,1,0,1,1
Transfer Unit (To WC5936C from TT1164),1,0,1,1,0,1,1,0,1,0,...,1,1,1,1,1,1,1,0,1,1
Transfer Unit (To WC5940D from TT1212),1,0,1,1,0,1,1,0,1,1,...,1,1,1,1,1,1,1,0,1,1
Transfer Unit (To WC5946C from SH5821),1,0,1,1,0,1,1,0,1,1,...,1,1,1,1,1,1,1,0,1,1
Transfer Unit (To WC5946C from SH5922),1,0,1,1,0,1,1,0,1,1,...,1,1,1,1,1,1,1,0,1,1
Transfer Unit (To WC5950B from FT5906L),1,0,1,1,0,1,1,0,1,1,...,1,1,1,1,1,1,1,0,1,1
Transfer Unit (To WC5956A from TH5803),1,0,1,1,0,1,1,0,1,0,...,1,1,1,1,1,1,1,0,1,1
Transfer Unit (To WC5956C from WC5946D),1,0,1,1,0,1,1,0,1,1,...,1,1,1,1,1,1,1,0,1,1
Transfer Unit (To WC5960E from WC5936C),1,0,1,1,0,1,1,0,1,1,...,1,1,1,1,1,1,1,0,1,1
Transfer Unit (To WC5966G from FT5862O),1,0,1,1,0,1,1,0,1,1,...,1,1,1,1,1,1,1,0,1,1

In [6]:
df_tenants.groupby(["Unit_Code", "Tenant_Code"]).count()

                       Property_Code  Ref_Property_ID  Date  \
Unit_Code Tenant_Code
1014A     t0033675                 6                0     6
1014B     t0033676                10                0    10
          t0034067                 7                0     7
          t0040392                 7                0     7
          t0040600                 6                0     6
          t0041103                 1                0     1
          t0041425                 1                0     1
          t0041459                 3                0     3
1014C     t0033677                10                0    10
          t0039372                 5                0     5
          t0039558                 9                0     9
1014D     t0033987                 5                0     5
          t0034730                15                0    15
          t0039930                 9                0     9
          t0040749                 5                0     5
          t0041425                 7                0     7
          t0043661                 4                0     4
1018A     t0033988                 4                0     4
          t0034102                 5                0     5
          t0036259                14                0    14
1018B     t0033678                 5                0     5
          t0034102                 2                0     2
1018C     t0033679                10                0    10
          t0039924                 9                0     9
1018D     t0033680                15                0    15
          t0039548                12                0    12
          t0041388                 9                0     9
1020A     t0034083                15                0    15
          t0040751                15                0    15
1020B     t0033681                 7                0     7
...                              ...              ...   ...
WC5970H   t0024672                 2                0     2
          t0024684                 2                0     2
          t0024706                20                0    19
          t0039163                10                0    10
          t0039739                 1                0     1
          t0039767                 7                0     7
          t0039891                 1                0     1
WC5970I   t0017724                 7                0     7
          t0022199                15                0    15
          t0030173                10                0    10
          t0034612                 2                0     2
          t0036374                12                0    12
          t0040188                 9                0     9
          t0040409                 6                0     6
          t0043388                 1                0     1
WC5970J   t0017725                11                0    11
          t0021907                 4                0     4
          t0021961                14                0    14
          t0025813                14                0    14
          t0030854                23                0    23
WC5970K   t0017726                13                0    13
          t0028499                 2                0     2
          t0029328                11                0    11
          t0032570                 8                0     8
WC5970L   t0019204                 3                0     3
          t0019662                 9                0     9
          t0024976                19                0    19
          t0031069                 6                0     6
          t0031084                15                0    15
          t0038251                20                0    20

                       Ext_Ref_Tenant_Id  Event  DateOccurred  Ref_Unit_Id  \
Unit_Code Tenant_Code
1014A     t0033675                     0      6             6            0
1014B     t0033676                     0     10            10            0
          t0034067                     0      7             7            0
          t0040392                     0      7             7            0
          t0040600                     0      6             6            0
          t0041103                     0      1             1            0
          t0041425                     0      1             1            0
          t0041459                     0      3             3            0
1014C     t0033677                     0     10            10            0
          t0039372                     0      5             5            0
          t0039558                     0      9             9            0
1014D     t0033987                     0      5             5            0
          t0034730                     0     15            15            0
          t0039930                     0      9             9            0
          t0040749                     0      5             5            0
          t0041425                     0      7             7            0
          t0043661                     0      4             4            0
1018A     t0033988                     0      4             4            0
          t0034102                     0      5             5            0
          t0036259                     0     14            14            0
1018B     t0033678                     0      5             5            0
          t0034102                     0      2             2            0
1018C     t0033679                     0     10            10            0
          t0039924                     0      9             9            0
1018D     t0033680                     0     15            15            0
          t0039548                     0     12            12            0
          t0041388                     0      9             9            0
1020A     t0034083                     0     15            15            0
          t0040751                     0     15            15            0
1020B     t0033681                     0      7             7            0
...                                  ...    ...           ...          ...
WC5970H   t0024672                     0      2             2            0
          t0024684                     0      2             2            0
          t0024706                     0     20            20            0
          t0039163                     0     10            10            0
          t0039739                     0      1             1            0
          t0039767                     0      7             7            0
          t0039891                     0      1             1            0
WC5970I   t0017724                     0      7             7            0
          t0022199                     0     15            15            0
          t0030173                     0     10            10            0
          t0034612                     0      2             2            0
          t0036374                     0     12            12            0
          t0040188                     0      9             9            0
          t0040409                     0      6             6            0
          t0043388                     0      1             1            0
WC5970J   t0017725                     0     11            11            0
          t0021907                     0      4             4            0
          t0021961                     0     14            14            0
          t0025813                     0     14            14            0
          t0030854                     0     23            23            0
WC5970K   t0017726                     0     13            13            0
          t0028499                     0      2             2            0
          t0029328                     0     11            11            0
          t0032570                     0      8             8            0
WC5970L   t0019204                     0      3             3            0
          t0019662                     0      9             9            0
          t0024976                     0     19            19            0
          t0031069                     0      6             6            0
          t0031084                     0     15            15            0
          t0038251                     0     20            20            0

                       DateApply  DateApprove  DateSign ...   DateNotice  \
Unit_Code Tenant_Code                                   ...
1014A     t0033675             4            0         5 ...            0
1014B     t0033676             9            0        10 ...            4
          t0034067             7            0         0 ...            0
          t0040392             7            7         4 ...            0
          t0040600             6            0         0 ...            0
          t0041103             1            0         0 ...            0
          t0041425             1            0         0 ...            0
          t0041459             3            2         1 ...            0
1014C     t0033677             9            0        10 ...            7
          t0039372             5            0         0 ...            0
          t0039558             9            9         6 ...            0
1014D     t0033987             4            0         5 ...            5
          t0034730            14           14        14 ...            4
          t0039930             8            0         9 ...            5
          t0040749             5            0         0 ...            0
          t0041425             7            2         1 ...            0
          t0043661             4            2         1 ...            0
1018A     t0033988             3            0         4 ...            0
          t0034102             5            0         2 ...            0
          t0036259            14           12        11 ...            0
1018B     t0033678             4            0         5 ...            0
          t0034102             2            0         2 ...            0
1018C     t0033679             9            0        10 ...            7
          t0039924             8            7         5 ...            1
1018D     t0033680            14            0        15 ...           11
          t0039548            12           12         9 ...            4
          t0041388             9            9         8 ...            0
1020A     t0034083            14            0        15 ...            5
          t0040751            14           13        12 ...            0
1020B     t0033681             6            0         7 ...            4
...                          ...          ...       ... ...          ...
WC5970H   t0024672             2            0         0 ...            0
          t0024684             2            0         0 ...            0
          t0024706            19           18        17 ...            4
          t0039163            10            8         2 ...            0
          t0039739             1            0         0 ...            0
          t0039767             7            5         4 ...            0
          t0039891             1            0         0 ...            0
WC5970I   t0017724             6            0         7 ...            4
          t0022199            15           14        13 ...            8
          t0030173            10            9         8 ...            5
          t0034612             2            2         2 ...            0
          t0036374            12           12        11 ...            5
          t0040188             6            6         6 ...            0
          t0040409             6            5         0 ...            0
          t0043388             1            0         0 ...            0
WC5970J   t0017725             9            0        10 ...            7
          t0021907             4            3         0 ...            0
          t0021961            13           12        12 ...            7
          t0025813            14           13        12 ...            7
          t0030854            22           21        18 ...            3
WC5970K   t0017726            12            0        13 ...            5
          t0028499             2            0         0 ...            0
          t0029328            11           10         9 ...            4
          t0032570             8            8         8 ...            0
WC5970L   t0019204             3            0         0 ...            0
          t0019662             9            8         7 ...            4
          t0024976            19           18        17 ...            9
          t0031069             6            0         0 ...            0
          t0031084            15           15        13 ...            5
          t0038251             9            7         6 ...            0

                       RentedEvent  UnRentedEvent  Status  Rent  Deposit  \
Unit_Code Tenant_Code
1014A     t0033675               6              6       6     6        6
1014B     t0033676              10             10      10    10       10
          t0034067               7              7       7     7        7
          t0040392               7              7       7     7        7
          t0040600               6              6       6     6        6
          t0041103               1              1       1     1        1
          t0041425               1              1       1     1        1
          t0041459               3              3       3     3        3
1014C     t0033677              10             10      10    10       10
          t0039372               5              5       5     5        5
          t0039558               9              9       9     9        9
1014D     t0033987               5              5       5     5        5
          t0034730              15             15      15    15       15
          t0039930               9              9       9     9        9
          t0040749               5              5       5     5        5
          t0041425               7              7       7     7        7
          t0043661               4              4       4     4        4
1018A     t0033988               4              4       4     4        4
          t0034102               5              5       5     5        5
          t0036259              14             14      14    14       14
1018B     t0033678               5              5       5     5        5
          t0034102               2              2       2     2        2
1018C     t0033679              10             10      10    10       10
          t0039924               9              9       9     9        9
1018D     t0033680              15             15      15    15       15
          t0039548              12             12      12    12       12
          t0041388               9              9       9     9        9
1020A     t0034083              15             15      15    15       15
          t0040751              15             15      15    15       15
1020B     t0033681               7              7       7     7        7
...                            ...            ...     ...   ...      ...
WC5970H   t0024672               2              2       2     2        2
          t0024684               2              2       2     2        2
          t0024706              20             20      20    20       20
          t0039163              10             10      10    10       10
          t0039739               1              1       1     1        1
          t0039767               7              7       7     7        7
          t0039891               1              1       1     1        1
WC5970I   t0017724               7              7       7     7        7
          t0022199              15             15      15    15       15
          t0030173              10             10      10    10       10
          t0034612               2              2       2     2        2
          t0036374              12             12      12    12       12
          t0040188               9              9       9     9        9
          t0040409               6              6       6     6        6
          t0043388               1              1       1     1        1
WC5970J   t0017725              11             11      11    11       11
          t0021907               4              4       4     4        4
          t0021961              14             14      14    14       14
          t0025813              14             14      14    14       14
          t0030854              23             23      23    23       23
WC5970K   t0017726              13             13      13    13       13
          t0028499               2              2       2     2        2
          t0029328              11             11      11    11       11
          t0032570               8              8       8     8        8
WC5970L   t0019204               3              3       3     3        3
          t0019662               9              9       9     9        9
          t0024976              19             19      19    19       19
          t0031069               6              6       6     6        6
          t0031084              15             15      15    15       15
          t0038251              20             20      20    20       20

                       Sqft  Notes  Reason  MTM
Unit_Code Tenant_Code
1014A     t0033675        6      0       0    6
1014B     t0033676       10      3       1   10
          t0034067        7      2       1    7
          t0040392        7      2       1    7
          t0040600        6      1       1    6
          t0041103        1      0       0    1
          t0041425        1      0       0    1
          t0041459        3      0       1    3
1014C     t0033677       10      6       0   10
          t0039372        5      1       1    5
          t0039558        9      1       0    9
1014D     t0033987        5      1       0    5
          t0034730       15      5       1   15
          t0039930        9      5       2    9
          t0040749        5      1       1    5
          t0041425        7      0       1    7
          t0043661        4      0       1    3
1018A     t0033988        4      0       0    4
          t0034102        5      2       1    5
          t0036259       14      1       1   13
1018B     t0033678        5      0       0    5
          t0034102        2      0       0    2
1018C     t0033679       10      6       0   10
          t0039924        9      2       2    6
1018D     t0033680       15     10       0   15
          t0039548       12      4       1   12
          t0041388        9      1       0    9
1020A     t0034083       15      5       1   15
          t0040751       15      1       1   15
1020B     t0033681        7      3       1    7
...                     ...    ...     ...  ...
WC5970H   t0024672        0      1       1    0
          t0024684        0      1       1    0
          t0024706       17      5       0   13
          t0039163       10      3       2   10
          t0039739        1      0       0    1
          t0039767        7      1       1    7
          t0039891        1      0       0    1
WC5970I   t0017724        7      2       0    7
          t0022199       12      6       0   11
          t0030173        7      5       0    7
          t0034612        2      0       0    2
          t0036374       12      5       1   12
          t0040188        9      4       0    9
          t0040409        6      1       2    6
          t0043388        1      0       0    1
WC5970J   t0017725       11      3       0   11
          t0021907        1      1       1    1
          t0021961       11      3       0    9

In [7]:
filepath = os.path.join("common units.csv")
df_units = pd.read_csv(filepath, skiprows=1)
df_units.head(10)

,Property_Code,Bldg_Code,Floor_Code,Unit_Code,Rental_Type,Country,Ext_Ref_Unit_Id,Ref_Property_Id,Ref_Building_Id,Ref_Floor_Id,...,Userdefined_2,Userdefined_3,Userdefined_4,Userdefined_5,Userdefined_6,Userdefined_7,Userdefined_8,Userdefined_9,Userdefined_10,Notes
0,ce,NaN,NaN,C0007A,Residential,us,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ce,NaN,NaN,C0007B,Residential,us,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ce,NaN,NaN,C0007C,Residential,us,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ce,NaN,NaN,C0007D,Residential,us,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ce,NaN,NaN,C0007E,Residential,us,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,ce,NaN,NaN,C0007F,Residential,us,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,ce,NaN,NaN,C0007G,Residential,us,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,ce,NaN,NaN,C0007H,Residential,us,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,ce,NaN,NaN,C0007J,Residential,us,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,ce,NaN,NaN,C0007K,Residential,us,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
df_units.columns.values

array(['Property_Code', 'Bldg_Code', 'Floor_Code', 'Unit_Code',
       'Rental_Type', 'Country', 'Ext_Ref_Unit_Id', 'Ref_Property_Id',
       'Ref_Building_Id', 'Ref_Floor_Id', 'Available_Date', 'Date_Ready',
       'Address_1', 'Address_2', 'Address_3', 'Address_4', 'City',
       'State', 'Zip_Code', 'Rent', 'SQFT', 'Rent_Ready', 'Exclude',
       'Unit_Type', 'Location', 'BedRooms', 'Attributes_1',
       'Attributes_2', 'Attributes_3', 'Attributes_4', 'Attributes_5',
       'Attributes_6', 'Attributes_7', 'Attributes_8', 'Attributes_9',
       'Attributes_10', 'MLA', 'Lease_Type', 'Userdefined_1',
       'Userdefined_2', 'Userdefined_3', 'Userdefined_4', 'Userdefined_5',
       'Userdefined_6', 'Userdefined_7', 'Userdefined_8', 'Userdefined_9',
       'Userdefined_10', 'Notes'], dtype=object)

In [9]:
#drop columns
df_units2 = df_units.drop(columns=['Bldg_Code', 'Floor_Code','Rental_Type', 'Country', 'Ext_Ref_Unit_Id', 'Ref_Property_Id',
       'Ref_Building_Id', 'Ref_Floor_Id','Address_1', 'Address_2', 'Address_3', 'Address_4','Unit_Type', 'Location', 'Attributes_2', 'Attributes_3', 'Attributes_4', 'Attributes_5',
       'Attributes_6', 'Attributes_7', 'Attributes_8', 'Attributes_9','Attributes_10', 'MLA', 'Lease_Type', 'Userdefined_1',
       'Userdefined_2', 'Userdefined_3', 'Userdefined_4', 'Userdefined_5','Userdefined_6', 'Userdefined_7', 'Userdefined_8', 'Userdefined_9','Userdefined_10',])
df_units2.head(10)

,Property_Code,Unit_Code,Available_Date,Date_Ready,City,State,Zip_Code,Rent,SQFT,Rent_Ready,Exclude,BedRooms,Attributes_1,Notes
0,ce,C0007A,NaN,12/25/2018,Fairfield,OH,45014,770,675,1,0,1,1.0,NaN
1,ce,C0007B,NaN,8/31/2015,Fairfield,OH,45014,770,675,1,0,1,1.0,NaN
2,ce,C0007C,NaN,6/12/2018,Fairfield,OH,45014,780,675,1,0,1,1.0,NaN
3,ce,C0007D,NaN,1/23/2017,Fairfield,OH,45014,780,675,1,0,1,1.0,NaN
4,ce,C0007E,NaN,9/3/2018,Fairfield,OH,45014,770,675,1,0,1,1.0,NaN
5,ce,C0007F,NaN,2/2/2018,Fairfield,OH,45014,685,675,1,0,1,1.0,NaN
6,ce,C0007G,NaN,10/10/2016,Fairfield,OH,45014,780,675,1,0,1,1.0,NaN
7,ce,C0007H,NaN,9/9/2017,Fairfield,OH,45014,780,675,1,0,1,1.0,NaN
8,ce,C0007J,2/3/2019,2/3/2019,Fairfield,OH,45014,790,675,0,0,1,1.0,NaN
9,ce,C0007K,NaN,5/17/2018,Fairfield,OH,45014,720,675,1,0,1,1.0,NaN

In [10]:
df_units2.dtypes

Property_Code      object
Unit_Code          object
Available_Date     object
Date_Ready         object
City               object
State              object
Zip_Code            int64
Rent                int64
SQFT                int64
Rent_Ready          int64
Exclude             int64
BedRooms            int64
Attributes_1      float64
Notes              object
dtype: object

In [11]:
df_tenants.dtypes

Property_Code         object
Ref_Property_ID      float64
Date                  object
Tenant_Code           object
Ext_Ref_Tenant_Id    float64
Event                 object
DateOccurred          object
Unit_Code             object
Ref_Unit_Id          float64
DateApply             object
DateApprove           object
DateSign              object
DateMoveIn            object
DateMoveOut           object
DateLeaseFrom         object
DateLeaseTo           object
DateNotice            object
RentedEvent            int64
UnRentedEvent          int64
Status                 int64
Rent                 float64
Deposit              float64
Sqft                 float64
Notes                 object
Reason                object
MTM                  float64
dtype: object