In [39]:
import pandas as pd 
import matplotlib.pyplot as plt
import numpy as np

In [40]:
tenants = "Tenant_History.csv"
tenants_df = pd.read_csv(tenants)
tenants_df.head()

,Property_Code,Ref_Property_ID,Date,Tenant_Code,Ext_Ref_Tenant_Id,Event,DateOccurred,Unit_Code,Ref_Unit_Id,DateApply,...,DateNotice,RentedEvent,UnRentedEvent,Status,Rent,Deposit,Sqft,Notes,Reason,MTM
0,sh,NaN,11/18/2016,t0031357,NaN,Deposit Change,11/22/2016,WC5956H,NaN,11/16/2016,...,NaN,0,0,2,641.0,99.0,0.0,NaN,NaN,0.0
1,ce,NaN,11/22/2016,t0031261,NaN,Deposit Change,11/22/2016,M0008A,NaN,11/3/2016,...,NaN,0,0,0,728.0,708.0,0.0,NaN,NaN,0.0
2,ce,NaN,11/18/2016,t0031367,NaN,Deposit Change,11/22/2016,M0008A,NaN,11/17/2016,...,NaN,0,0,9,728.0,50.0,0.0,NaN,NaN,0.0
3,ce,NaN,11/18/2016,t0031350,NaN,Deposit Change,11/22/2016,M0012B,NaN,11/16/2016,...,NaN,0,0,9,888.0,50.0,0.0,NaN,NaN,0.0
4,sh,NaN,11/22/2016,t0031408,NaN,Submit Application,11/22/2016,WAIT-3TA,NaN,11/22/2016,...,NaN,0,0,6,735.0,0.0,0.0,NaN,NaN,0.0

In [41]:
tenants_df = tenants_df.drop(columns = ["Ref_Property_ID", "Ext_Ref_Tenant_Id", "Ref_Unit_Id"])

In [42]:
rent_change = tenants_df.loc[tenants_df["Event"] == "Rent Change"]
rent_change = rent_change.groupby("Property_Code")
rent_change.head(25)

,Property_Code,Date,Tenant_Code,Event,DateOccurred,Unit_Code,DateApply,DateApprove,DateSign,DateMoveIn,...,DateNotice,RentedEvent,UnRentedEvent,Status,Rent,Deposit,Sqft,Notes,Reason,MTM
76,sh,11/28/2016,t0031330,Rent Change,11/28/2016,TT1211,11/14/2016,11/18/2016,11/19/2016,11/28/2016,...,NaN,0,0,2,995.00,22.50,0.0,NaN,NaN,0.0
114,ce,11/29/2016,t0040834,Rent Change,11/29/2016,C5252H,10/25/2016,10/25/2016,10/25/2016,12/10/2016,...,NaN,0,0,2,718.00,99.00,0.0,NaN,NaN,0.0
117,ce,11/29/2016,t0030917,Rent Change,11/29/2016,S1452E,9/20/2016,9/20/2016,NaN,12/1/2016,...,NaN,0,0,7,677.00,99.00,0.0,NaN,NaN,NaN
265,mpg,10/15/2018,t0040965,Rent Change,10/15/2018,2032-03B,10/13/2018,NaN,NaN,11/15/2018,...,NaN,0,0,6,1449.00,0.00,0.0,NaN,NaN,0.0
310,mpg,10/15/2018,t0049073,Rent Change,10/15/2018,1960-08A,10/15/2018,NaN,NaN,10/17/2018,...,NaN,0,0,6,1100.00,0.00,0.0,NaN,NaN,NaN
363,fh,10/16/2018,t0040967,Rent Change,10/16/2018,4759A,10/14/2018,10/15/2018,10/15/2018,10/15/2018,...,NaN,0,0,2,1032.00,99.00,0.0,NaN,NaN,0.0
393,fh,10/16/2018,t0040981,Rent Change,10/16/2018,1022D,10/12/2018,NaN,NaN,10/14/2018,...,NaN,0,0,6,1210.00,0.00,0.0,NaN,NaN,0.0
459,sh,10/16/2018,t0040974,Rent Change,10/16/2018,WC5970G,10/15/2018,10/16/2018,NaN,10/17/2018,...,NaN,0,0,6,675.00,0.00,0.0,NaN,NaN,0.0
495,mpg,10/16/2018,t0040989,Rent Change,10/16/2018,2002-04B,10/16/2018,NaN,NaN,10/31/2018,...,NaN,0,0,6,1100.00,0.00,0.0,NaN,NaN,0.0
499,ce,9/30/2017,t0040903,Rent Change,9/30/2017,S1500-3F,10/1/2015,10/2/2015,10/2/2015,10/29/2015,...,NaN,0,0,0,785.00,99.00,0.0,NaN,NaN,0.0
500,ce,9/30/2017,t0030719,Rent Change,9/30/2017,S1500-6L,8/29/2016,8/29/2016,8/29/2016,9/30/2016,...,NaN,0,0,0,789.00,99.00,0.0,NaN,NaN,0.0
501,ce,9/30/2017,t0030715,Rent Change,9/30/2017,S1500-7C,8/29/2016,8/29/2016,8/29/2016,10/22/2016,...,NaN,0,0,0,895.00,99.00,0.0,NaN,NaN,0.0
502,ce,9/30/2017,t0037965,Rent Change,9/30/2017,C5303D,5/1/2012,NaN,5/1/2012,3/6/2006,...,NaN,0,0,0,0.00,150.00,0.0,NaN,NaN,0.0
503,mpg,9/30/2017,t0034122,Rent Change,9/30/2017,1960-08A,11/1/2014,NaN,11/1/2014,10/1/2001,...,NaN,0,0,0,1239.00,1040.00,0.0,NaN,NaN,0.0
504,mpg,9/30/2017,t0034129,Rent Change,9/30/2017,1964-04A,10/8/2015,NaN,10/8/2015,10/9/2015,...,NaN,0,0,0,1119.00,99.00,0.0,NaN,NaN,0.0
505,mpg,9/30/2017,t0034134,Rent Change,9/30/2017,1966-03A,7/7/2015,NaN,7/7/2015,7/18/2015,...,NaN,0,0,0,1195.58,99.00,0.0,NaN,NaN,0.0
506,mpg,9/30/2017,t0034141,Rent Change,9/30/2017,1968-04A,10/19/2015,NaN,10/19/2015,10/31/2015,...,NaN,0,0,0,1101.00,895.25,0.0,NaN,NaN,0.0
507,mpg,9/30/2017,t0034143,Rent Change,9/30/2017,1968-04C,7/30/2016,NaN,7/30/2016,10/29/2016,...,NaN,0,0,0,1104.00,99.00,0.0,NaN,NaN,0.0
508,mpg,9/30/2017,t0034150,Rent Change,9/30/2017,1968-08A,9/7/2016,NaN,9/7/2016,9/30/2016,...,NaN,0,0,0,1006.00,300.00,0.0,NaN,NaN,0.0
509,mpg,9/30/2017,t0034154,Rent Change,9/30/2017,1968-10A,8/29/2016,NaN,8/29/2016,9/19/2016,...,NaN,0,0,0,1006.00,99.00,0.0,NaN,NaN,0.0
510,mpg,9/30/2017,t0034159,Rent Change,9/30/2017,1968-12B,10/29/2016,NaN,10/29/2016,10/29/2016,...,NaN,0,0,0,983.00,300.00,0.0,NaN,NaN,0.0
511,mpg,9/30/2017,t0034165,Rent Change,9/30/2017,1968-14B,10/10/2016,NaN,10/10/2016,10/28/2016,...,NaN,0,0,0,1251.00,99.00,0.0,NaN,NaN,0.0
512,mpg,9/30/2017,t0034168,Rent Change,9/30/2017,1968-15B,10/21/2016,NaN,10/21/2016,10/28/2016,...,NaN,0,0,0,1254.00,1250.00,0.0,NaN,NaN,0.0
513,mpg,9/30/2017,t0034211,Rent Change,9/30/2017,1986-05C,9/30/2016,NaN,9/30/2016,9/30/2016,...,NaN,0,0,0,1039.00,999.00,0.0,NaN,NaN,0.0
514,mpg,9/30/2017,t0034217,Rent Change,9/30/2017,1986-07C,6/12/2017,NaN,6/12/2017,7/30/2017,...,NaN,0,0,0,1099.00,250.00,0.0,NaN,NaN,0.0
515,mpg,9/30/2017,t0034228,Rent Change,9/30/2017,1986-12C,8/14/2015,NaN,8/14/2015,8/15/2015,...,NaN,0,0,0,1510.00,99.00,0.0,NaN,NaN,0.0
516,mpg,9/30/2017,t0034475,Rent Change,9/30/2017,1986-13B,8/23/2017,NaN,NaN,9/1/2017,...,NaN,0,0,0,1300.00,1400.00,0.0,NaN,NaN,0.0
517,mpg,9/30/2017,t0034250,Rent Change,9/30/2017,1996-05B,9/18/2015,NaN,9/18/2015,9/30/2015,...,NaN,0,0,0,1150.00,99.00,0.0,NaN,NaN,0.0
518,mpg,9/30/2017,t0034299,Rent Change,9/30/2017,2008-03A,9/29/2015,NaN,9/29/2015,10/3/2015,...,NaN,0,0,0,1184.00,99.00,0.0,NaN,NaN,0.0
519,fh,9/30/2017,t0034730,Rent Change,9/30/2017,1014D,8/26/2017,8/27/2017,8/27/2017,8/30/2017,...,NaN,0,0,0,899.00,99.00,0.0,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
667,ce,11/30/2016,t0027665,Rent Change,11/30/2016,M0009A,12/14/2015,12/14/2015,12/14/2015,12/26/2015,...,NaN,0,0,0,604.00,119.00,0.0,NaN,NaN,0.0
881,sh,8/3/2018,t0040449,Rent Change,8/3/2018,WAIT-3TA,8/2/2018,NaN,NaN,9/1/2018,...,NaN,0,0,6,735.00,0.00,0.0,NaN,NaN,0.0
908,sh,8/3/2018,t0040386,Rent Change,8/3/2018,WAIT-2TH,7/26/2018,7/27/2018,NaN,8/24/2018,...,NaN,0,0,6,709.00,0.00,0.0,NaN,NaN,0.0
921,sh,8/3/2018,t0043967,Rent Change,8/3/2018,FT5906D,8/3/2018,NaN,NaN,9/17/2018,...,NaN,0,0,6,650.00,0.00,0.0,NaN,NaN,NaN
960,sh,8/3/2018,t0040434,Rent Change,8/3/2018,WAIT-2TH,7/31/2018,8/1/2018,NaN,8/31/2018,...,NaN,0,0,6,709.00,0.00,0.0,NaN,NaN,0.0
962,sh,8/3/2018,t0040386,Rent Change,8/3/2018,AC1115,7/26/2018,7/27/2018,NaN,8/24/2018,...,NaN,0,0,6,1175.00,0.00,0.0,NaN,NaN,0.0
967,sh,8/3/2018,t0040442,Rent Change,8/3/2018,WC5933G,8/2/2018,8/3/2018,NaN,9/7/2018,...,NaN,0,0,6,715.00,0.00,0.0,NaN,NaN,0.0
970,sh,8/3/2018,t0043839,Rent Change,8/3/2018,WC5950E,8/1/2018,NaN,NaN,9/5/2018,...,NaN,0,0,6,720.00,0.00,0.0,NaN,NaN,NaN
977,sh,8/3/2018,t0039622,Rent Change,8/3/2018,WAIT,6/14/2018,6/15/2018,NaN,9/30/2018,...,NaN,0,0,6,0.00,-50.00,0.0,NaN,NaN,0.0
1003,sh,8/3/2018,t0040188,Rent Change,8/3/2018,WC5970I,6/24/2018,6/25/2018,7/27/2018,8/10/2018,...,NaN,0,0,2,675.00,99.00,0.0,NaN,NaN,0.0
1007,sh,8/3/2018,t0040371,Rent Change,8/3/2018,SH5817,7/23/2018,7/23/2018,NaN,8/3/2018,...,NaN,0,0,6,800.00,99.00,0.0,NaN,NaN,0.0
1015,sh,8/4/2018,t0040444,Rent Change,8/4/2018,FT5892F,8/2/2018,8/3/2018,NaN,8/31/2018,...,NaN,0,0,6,685.00,0.00,0.0,NaN,NaN,0.0
1204,mpg,7/9/2018,t0041355,Rent Change,7/9/2018,1968-11A,7/9/2018,NaN,NaN,7/11/2018,...,NaN,0,0,6,1119.00,0.00,0.0,NaN,NaN,NaN
1230,fh,7/9/2018,t0040061,Rent Change,7/9/2018,WAIT2R-2,6/12/2018,6/13/2018,NaN,NaN,...,NaN,0,0,7,1050.00,99.00,0.0,NaN,NaN,0.0
1238,mpg,7/9/2018,t0041355,Rent Change,7/9/2018,1968-03A,7/9/2018,7/9/2018,7/9/2018,7/20/2018,...,NaN,0,0,2,1050.00,0.00,0.0,NaN,NaN,NaN
1259,sh,7/10/2018,t0040228,Rent Change,7/10/2018,FT5880I,6/29/2018,6/29/2018,7/3/2018,7/20/2018,...,NaN,0,0,2,685.00,99.00,0.0,NaN,NaN,0.0
1382,sh,7/11/2018,t0040293,Rent Change,7/11/2018,WC5946D,7/11/2018,NaN,NaN,8/1/2018,...,NaN,0,0,6,720.00,0.00,0.0,NaN,NaN,0.0
1384,sh,7/11/2018,t0040171,Rent Change,7/11/2018,TH5916,6/22/2018,6/22/2018,NaN,9/10/2018,...,NaN,0,0,6,900.00,99.00,0.0,NaN,NaN,0.0
1390,sh,11/17/2017,t0037866,Rent Change,11/17/2017,WC5956G,11/17/2017,NaN,NaN,12/10/2017,...,NaN,0,0,6,675.00,0.00,0.0,NaN,NaN,0.0
1396,sh,11/17/2017,t0036328,Rent Change,11/17/2017,AC1053,9/16/2017,9/18/2017,10/9/2017,11/22/2017,...,NaN,0,0,2,1060.00,99.00,0.0,NaN,NaN,0.0
1434,sh,11/18/2017,t0037836,Rent Change,11/18/2017,TH5827,11/10/2017,11/14/2017,NaN,12/22/2017,...,NaN,0,0,6,890.00,0.00,0.0,NaN,NaN,0.0
1501,mpg,11/21/2017,t0037877,Rent Change,11/21/2017,2022-03B,11/18/2017,NaN,NaN,12/8/2017,...,NaN,0,0,6,1499.00,0.00,0.0,NaN,NaN,0.0
1520,mpg,11/21/2017,t0037874,Rent Change,11/21/2017,1986-12B,11/17/2017,11/21/2017,NaN,1/27/2018,...,NaN,0,0,6,1699.00,0.00,0.0,NaN,NaN,0.0
1599,sh,11/22/2017,t0037855,Rent Change,11/22/2017,WC5956H,11/15/2017,11/21/2017,NaN,1/18/2018,...,NaN,0,0,6,675.00,0.00,0.0,NaN,NaN,0.0
1604,sh,11/22/2017,t0037891,Rent Change,11/22/2017,AC1053,11/22/2017,NaN,NaN,11/30/2017,...,NaN,0,0,6,1060.00,0.00,0.0,NaN,NaN,0.0
1624,mpg,11/26/2017,t0037902,Rent Change,11/26/2017,1968-03A,11/25/2017,NaN,NaN,12/2/2017,...,NaN,0,0,6,1050.00,0.00,0.0,NaN,NaN,NaN
1716,sh,5/22/2018,t0036886,Rent Change,5/22/2018,TT1174,4/23/2018,4/23/2018,4/24/2018,5/15/2018,...,NaN,0,0,0,1350.00,99.00,0.0,NaN,NaN,0.0
1909,sh,5/30/2017,t0032853,Rent Change,5/30/2017,TH5981,4/21/2017,4/26/2017,5/3/2017,5/30/2017,...,NaN,0,0,2,735.00,99.00,0.0,NaN,NaN,0.0
1921,sh,5/30/2017,t0032894,Rent Change,5/30/2017,AC1099,5/30/2017,5/30/2017,NaN,7/31/2017,...,NaN,0,0,6,1195.00,99.00,0.0,NaN,NaN,0.0
1942,sh,5/30/2017,t0033124,Rent Change,5/30/2017,TT1199,5/30/2017,NaN,NaN,7/10/2017,...,NaN,0,0,6,995.00,0.00,0.0,NaN,NaN,0.0

In [43]:
sh = tenants_df.loc[tenants_df["Property_Code"] == "sh"]
sh_rent = sh.loc[sh["Event"] == "Rent Change"]
sh_rent.head(25)

,Property_Code,Date,Tenant_Code,Event,DateOccurred,Unit_Code,DateApply,DateApprove,DateSign,DateMoveIn,...,DateNotice,RentedEvent,UnRentedEvent,Status,Rent,Deposit,Sqft,Notes,Reason,MTM
76,sh,11/28/2016,t0031330,Rent Change,11/28/2016,TT1211,11/14/2016,11/18/2016,11/19/2016,11/28/2016,...,NaN,0,0,2,995.0,22.5,0.0,NaN,NaN,0.0
459,sh,10/16/2018,t0040974,Rent Change,10/16/2018,WC5970G,10/15/2018,10/16/2018,NaN,10/17/2018,...,NaN,0,0,6,675.0,0.0,0.0,NaN,NaN,0.0
881,sh,8/3/2018,t0040449,Rent Change,8/3/2018,WAIT-3TA,8/2/2018,NaN,NaN,9/1/2018,...,NaN,0,0,6,735.0,0.0,0.0,NaN,NaN,0.0
908,sh,8/3/2018,t0040386,Rent Change,8/3/2018,WAIT-2TH,7/26/2018,7/27/2018,NaN,8/24/2018,...,NaN,0,0,6,709.0,0.0,0.0,NaN,NaN,0.0
921,sh,8/3/2018,t0043967,Rent Change,8/3/2018,FT5906D,8/3/2018,NaN,NaN,9/17/2018,...,NaN,0,0,6,650.0,0.0,0.0,NaN,NaN,NaN
960,sh,8/3/2018,t0040434,Rent Change,8/3/2018,WAIT-2TH,7/31/2018,8/1/2018,NaN,8/31/2018,...,NaN,0,0,6,709.0,0.0,0.0,NaN,NaN,0.0
962,sh,8/3/2018,t0040386,Rent Change,8/3/2018,AC1115,7/26/2018,7/27/2018,NaN,8/24/2018,...,NaN,0,0,6,1175.0,0.0,0.0,NaN,NaN,0.0
967,sh,8/3/2018,t0040442,Rent Change,8/3/2018,WC5933G,8/2/2018,8/3/2018,NaN,9/7/2018,...,NaN,0,0,6,715.0,0.0,0.0,NaN,NaN,0.0
970,sh,8/3/2018,t0043839,Rent Change,8/3/2018,WC5950E,8/1/2018,NaN,NaN,9/5/2018,...,NaN,0,0,6,720.0,0.0,0.0,NaN,NaN,NaN
977,sh,8/3/2018,t0039622,Rent Change,8/3/2018,WAIT,6/14/2018,6/15/2018,NaN,9/30/2018,...,NaN,0,0,6,0.0,-50.0,0.0,NaN,NaN,0.0
1003,sh,8/3/2018,t0040188,Rent Change,8/3/2018,WC5970I,6/24/2018,6/25/2018,7/27/2018,8/10/2018,...,NaN,0,0,2,675.0,99.0,0.0,NaN,NaN,0.0
1007,sh,8/3/2018,t0040371,Rent Change,8/3/2018,SH5817,7/23/2018,7/23/2018,NaN,8/3/2018,...,NaN,0,0,6,800.0,99.0,0.0,NaN,NaN,0.0
1015,sh,8/4/2018,t0040444,Rent Change,8/4/2018,FT5892F,8/2/2018,8/3/2018,NaN,8/31/2018,...,NaN,0,0,6,685.0,0.0,0.0,NaN,NaN,0.0
1259,sh,7/10/2018,t0040228,Rent Change,7/10/2018,FT5880I,6/29/2018,6/29/2018,7/3/2018,7/20/2018,...,NaN,0,0,2,685.0,99.0,0.0,NaN,NaN,0.0
1382,sh,7/11/2018,t0040293,Rent Change,7/11/2018,WC5946D,7/11/2018,NaN,NaN,8/1/2018,...,NaN,0,0,6,720.0,0.0,0.0,NaN,NaN,0.0
1384,sh,7/11/2018,t0040171,Rent Change,7/11/2018,TH5916,6/22/2018,6/22/2018,NaN,9/10/2018,...,NaN,0,0,6,900.0,99.0,0.0,NaN,NaN,0.0
1390,sh,11/17/2017,t0037866,Rent Change,11/17/2017,WC5956G,11/17/2017,NaN,NaN,12/10/2017,...,NaN,0,0,6,675.0,0.0,0.0,NaN,NaN,0.0
1396,sh,11/17/2017,t0036328,Rent Change,11/17/2017,AC1053,9/16/2017,9/18/2017,10/9/2017,11/22/2017,...,NaN,0,0,2,1060.0,99.0,0.0,NaN,NaN,0.0
1434,sh,11/18/2017,t0037836,Rent Change,11/18/2017,TH5827,11/10/2017,11/14/2017,NaN,12/22/2017,...,NaN,0,0,6,890.0,0.0,0.0,NaN,NaN,0.0
1599,sh,11/22/2017,t0037855,Rent Change,11/22/2017,WC5956H,11/15/2017,11/21/2017,NaN,1/18/2018,...,NaN,0,0,6,675.0,0.0,0.0,NaN,NaN,0.0
1604,sh,11/22/2017,t0037891,Rent Change,11/22/2017,AC1053,11/22/2017,NaN,NaN,11/30/2017,...,NaN,0,0,6,1060.0,0.0,0.0,NaN,NaN,0.0
1716,sh,5/22/2018,t0036886,Rent Change,5/22/2018,TT1174,4/23/2018,4/23/2018,4/24/2018,5/15/2018,...,NaN,0,0,0,1350.0,99.0,0.0,NaN,NaN,0.0
1909,sh,5/30/2017,t0032853,Rent Change,5/30/2017,TH5981,4/21/2017,4/26/2017,5/3/2017,5/30/2017,...,NaN,0,0,2,735.0,99.0,0.0,NaN,NaN,0.0
1921,sh,5/30/2017,t0032894,Rent Change,5/30/2017,AC1099,5/30/2017,5/30/2017,NaN,7/31/2017,...,NaN,0,0,6,1195.0,99.0,0.0,NaN,NaN,0.0
1942,sh,5/30/2017,t0033124,Rent Change,5/30/2017,TT1199,5/30/2017,NaN,NaN,7/10/2017,...,NaN,0,0,6,995.0,0.0,0.0,NaN,NaN,0.0

In [45]:
moveout = tenants_df.dropna(subset = ["DateMoveOut"])
moveout.head(25)

,Property_Code,Date,Tenant_Code,Event,DateOccurred,Unit_Code,DateApply,DateApprove,DateSign,DateMoveIn,...,DateNotice,RentedEvent,UnRentedEvent,Status,Rent,Deposit,Sqft,Notes,Reason,MTM
13,sh,11/23/2016,t0023536,Adjust Moveout Dates,11/23/2016,TH5967,10/9/2014,10/9/2014,10/20/2014,10/24/2014,...,10/15/2016,0,0,3,721.0,99.0,0.0,Eviction,NaN,0.0
51,sh,11/28/2016,t0031031,Adjust Moveout Dates,11/28/2016,FT5880M,10/6/2016,10/7/2016,10/7/2016,10/7/2016,...,11/21/2016,0,0,4,620.0,620.0,0.0,Transfer within Community,NaN,0.0
64,sh,11/22/2016,t0024546,Notice Given,11/28/2016,WC5933V,1/26/2015,1/27/2015,1/27/2015,1/30/2015,...,11/22/2016,0,0,4,628.0,198.0,0.0,Transfer within Community,NaN,0.0
65,sh,11/22/2016,t0024546,Move Out,11/28/2016,WC5933V,1/26/2015,1/27/2015,1/27/2015,1/30/2015,...,11/22/2016,0,0,1,628.0,198.0,0.0,Move Out,NaN,0.0
66,ce,9/1/2016,t0025722,Notice Given,11/28/2016,C5252H,7/16/2015,7/21/2015,7/21/2015,8/22/2015,...,9/1/2016,0,0,4,719.0,99.0,0.0,Cannot Afford Apartment,NaN,0.0
67,ce,9/1/2016,t0014028,Notice Given,11/28/2016,S1500-4B,11/1/2012,NaN,11/1/2012,10/19/2012,...,9/1/2016,0,0,4,759.0,150.0,0.0,Transfer within Community,NaN,-1.0
68,sh,11/28/2016,t0017752,Move Out,11/28/2016,FT5880J,12/1/2013,NaN,12/1/2013,11/24/2009,...,9/20/2016,0,0,1,554.0,99.0,0.0,Move Out,NaN,0.0
69,ce,11/28/2016,t0014028,Adjust Moveout Dates,11/28/2016,S1500-4B,11/1/2012,NaN,11/1/2012,10/19/2012,...,9/1/2016,0,0,4,759.0,150.0,0.0,Transfer within Community,NaN,-1.0
70,ce,11/26/2016,t0014028,Move Out,11/28/2016,S1500-4B,11/1/2012,NaN,11/1/2012,10/19/2012,...,9/1/2016,0,0,1,759.0,150.0,0.0,Move Out,NaN,-1.0
71,ce,11/28/2016,t0026847,Adjust Moveout Dates,11/28/2016,C5305E,10/29/2015,10/29/2015,10/29/2015,11/19/2015,...,9/28/2016,0,0,4,629.0,99.0,0.0,Transfer within Community,NaN,0.0
72,ce,11/28/2016,t0026847,Adjust Moveout Dates,11/28/2016,C5305E,10/29/2015,10/29/2015,10/29/2015,11/19/2015,...,9/28/2016,0,0,4,629.0,99.0,0.0,Transfer within Community,NaN,0.0
73,ce,11/26/2016,t0026847,Move Out,11/28/2016,C5305E,10/29/2015,10/29/2015,10/29/2015,11/19/2015,...,9/28/2016,0,0,1,629.0,99.0,0.0,Move Out,NaN,0.0
74,ce,11/28/2016,t0025722,Adjust Moveout Dates,11/28/2016,C5252H,7/16/2015,7/21/2015,7/21/2015,8/22/2015,...,9/1/2016,0,0,4,719.0,99.0,0.0,Cannot Afford Apartment,NaN,0.0
75,ce,11/26/2016,t0025722,Move Out,11/28/2016,C5252H,7/16/2015,7/21/2015,7/21/2015,8/22/2015,...,9/1/2016,0,0,1,719.0,99.0,0.0,Move Out,NaN,0.0
90,sh,11/28/2016,t0024791,Notice Given,11/28/2016,WC5966A,3/7/2015,3/17/2015,4/13/2015,4/15/2015,...,11/28/2016,0,0,4,638.0,99.0,0.0,Job Transfer,NaN,0.0
97,ce,11/28/2016,t0030226,Adjust Moveout Dates,11/28/2016,C5324M,7/22/2016,7/22/2016,7/22/2016,9/9/2016,...,10/24/2016,0,0,3,674.0,674.0,0.0,Eviction,NaN,0.0
101,sh,11/28/2016,t0030721,Notice Given,11/28/2016,WC5933O,8/29/2016,9/1/2016,9/1/2016,9/10/2016,...,11/28/2016,0,0,4,641.0,198.0,0.0,Transfer within Community,NaN,0.0
102,sh,11/25/2016,t0031052,Move Out,11/28/2016,TH5765,9/9/2016,9/13/2016,9/13/2016,9/19/2016,...,10/7/2016,0,0,1,709.0,99.0,0.0,Move Out,NaN,0.0
103,sh,11/28/2016,t0028372,Notice Given,11/28/2016,WC5956I,2/3/2016,2/3/2016,2/12/2016,2/12/2016,...,11/28/2016,0,0,4,628.0,99.0,0.0,Cannot Afford Apartment,NaN,0.0
104,sh,11/28/2016,t0027683,Notice Given,11/28/2016,FT5843,12/16/2015,12/16/2015,12/31/2015,12/31/2015,...,11/28/2016,0,0,4,990.0,990.0,0.0,Cannot Afford Apartment,NaN,0.0
106,sh,11/29/2016,t0030721,Move Out,11/29/2016,WC5933O,8/29/2016,9/1/2016,9/1/2016,9/10/2016,...,11/28/2016,0,0,1,641.0,198.0,0.0,Move Out,NaN,0.0
109,sh,11/28/2016,t0031031,Move Out,11/29/2016,FT5880M,10/6/2016,10/7/2016,10/7/2016,10/7/2016,...,11/21/2016,0,0,1,620.0,620.0,0.0,Move Out,NaN,0.0
111,sh,11/28/2016,t0026789,Move Out,11/29/2016,WC5960N,10/19/2015,10/19/2015,10/31/2015,10/31/2015,...,10/3/2016,0,0,1,628.0,399.0,0.0,Move Out,NaN,0.0
128,sh,11/29/2016,t0017487,Early Termination,11/29/2016,SH5851,8/1/2013,NaN,8/1/2013,7/20/2012,...,11/29/2016,0,0,4,720.0,305.0,0.0,Need Bigger Space,NaN,0.0
138,ce,11/20/2016,t0026886,Deposit Change,11/29/2016,C5326E,11/5/2015,11/5/2015,11/5/2015,11/21/2015,...,9/20/2016,0,0,1,639.0,0.0,0.0,NaN,NaN,0.0