In [1]:
%matplotlib inline
from sklearn.neighbors import KNeighborsClassifier
import matplotlib.pyplot as plt
import pandas as pd
import os
import warnings
warnings.simplefilter('ignore')
import numpy as np
import pickle

In [2]:
rent = "final.csv"
rent_df = pd.read_csv(rent)
rent_df = rent_df.drop(["Unnamed: 0"], axis = 1)
rent_df

,Property_Code,Tenant_Code,Event,DateOccurred,Unit_Code,DateMoveIn,DateMoveOut,Rent,Vacancy,SQFT,BedRooms,Bathroom,chrent,LengthStay
0,ce,t0013745,Rent Change,2013-04-30,C05266,2006-11-09,NaN,870.0,0,1400,3,2.5,870.0,NaN
1,ce,t0013745,Rent Change,2014-05-31,C05266,2006-11-09,2015-01-31,896.0,1,1400,3,2.5,26.0,245 days 00:00:00.000000000
2,ce,t0013747,Rent Change,2013-04-30,C05270,2012-07-16,2013-08-11,770.0,1,1088,2,1.5,770.0,103 days 00:00:00.000000000
3,ce,t0013748,Rent Change,2013-04-30,C05272,2012-09-28,NaN,770.0,0,1088,2,1.5,770.0,NaN
4,ce,t0013748,Rent Change,2013-09-30,C05272,2012-09-28,NaN,800.0,0,1088,2,1.5,30.0,NaN
5,ce,t0013748,Rent Change,2014-11-01,C05272,2012-09-28,2015-10-31,824.0,1,1088,2,1.5,24.0,364 days 00:00:00.000000000
6,ce,t0013749,Rent Change,2013-04-30,C05274,2008-11-26,NaN,880.0,0,1400,3,2.5,880.0,NaN
7,ce,t0013749,Rent Change,2013-10-31,C05274,2008-11-26,NaN,1795.0,0,1400,3,2.5,915.0,NaN
8,ce,t0013749,Rent Change,2013-12-01,C05274,2008-11-26,NaN,880.0,0,1400,3,2.5,-915.0,NaN
9,ce,t0013749,Rent Change,2013-12-31,C05274,2008-11-26,NaN,915.0,0,1400,3,2.5,35.0,NaN
10,ce,t0013749,Rent Change,2015-03-01,C05274,2008-11-26,NaN,924.0,0,1400,3,2.5,9.0,NaN
11,ce,t0013749,Rent Change,2016-02-29,C05274,2008-11-26,NaN,970.0,0,1400,3,2.5,46.0,NaN
12,ce,t0013749,Rent Change,2018-02-28,C05274,2008-11-26,NaN,1044.0,0,1400,3,2.5,74.0,NaN
13,ce,t0013750,Rent Change,2013-04-30,C05276,2001-07-21,NaN,880.0,0,1400,3,2.5,880.0,NaN
14,ce,t0013750,Rent Change,2013-06-30,C05276,2001-07-21,NaN,890.0,0,1400,3,2.5,10.0,NaN
15,ce,t0013750,Rent Change,2014-06-30,C05276,2001-07-21,NaN,917.0,0,1400,3,2.5,27.0,NaN
16,ce,t0013750,Rent Change,2015-06-30,C05276,2001-07-21,NaN,945.0,0,1400,3,2.5,28.0,NaN
17,ce,t0013750,Rent Change,2016-06-30,C05276,2001-07-21,2017-06-30,999.0,1,1400,3,2.5,54.0,365 days 00:00:00.000000000
18,ce,t0013751,Rent Change,2013-04-30,C05278,2011-09-16,NaN,780.0,0,1088,2,1.5,780.0,NaN
19,ce,t0013751,Rent Change,2013-09-30,C05278,2011-09-16,NaN,803.0,0,1088,2,1.5,23.0,NaN
20,ce,t0013751,Rent Change,2014-01-31,C05278,2011-09-16,NaN,1606.0,0,1088,2,1.5,803.0,NaN
21,ce,t0013751,Rent Change,2014-02-28,C05278,2011-09-16,NaN,803.0,0,1088,2,1.5,-803.0,NaN
22,ce,t0013751,Rent Change,2015-01-01,C05278,2011-09-16,NaN,810.0,0,1088,2,1.5,7.0,NaN
23,ce,t0013751,Rent Change,2015-06-30,C05278,2011-09-16,2015-10-18,834.0,1,1088,2,1.5,24.0,110 days 00:00:00.000000000
24,ce,t0013752,Rent Change,2013-04-30,C05280,2010-04-23,NaN,780.0,0,1088,2,1.5,780.0,NaN
25,ce,t0013752,Rent Change,2014-05-31,C05280,2010-04-23,NaN,803.0,0,1088,2,1.5,23.0,NaN
26,ce,t0013752,Rent Change,2015-05-31,C05280,2010-04-23,NaN,827.0,0,1088,2,1.5,24.0,NaN
27,ce,t0013752,Rent Change,2016-05-31,C05280,2010-04-23,2017-05-31,859.0,1,1088,2,1.5,32.0,365 days 00:00:00.000000000
28,ce,t0013753,Rent Change,2013-04-30,C05282,2012-07-14,2013-07-31,880.0,1,1400,3,2.5,880.0,92 days 00:00:00.000000000
29,ce,t0013754,Rent Change,2013-04-30,C05284,1986-11-26,2014-01-29,880.0,1,1400,3,2.5,880.0,274 days 00:00:00.000000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6624,mpg,t0050622,Rent Change,2018-11-12,2010-04B,2018-11-17,NaN,1100.0,0,1040,2,2.0,0.0,NaN
6625,mpg,t0050773,Rent Change,2018-11-19,2036-06B,2019-01-31,NaN,1449.0,0,1040,2,2.0,0.0,NaN
6626,mpg,t0050791,Rent Change,2018-11-16,2024-09B,2018-12-07,NaN,1195.0,0,835,1,1.0,0.0,NaN
6627,mpg,t0050791,Rent Change,2018-11-20,1980-07B,2018-11-30,NaN,1449.0,0,1040,2,2.0,254.0,NaN
6628,fh,t0050919,Rent Change,2018-11-21,1064A,2018-11-23,NaN,1099.0,0,912,2,1.0,0.0,NaN
6629,fh,t0050919,Rent Change,2018-11-25,1064A,2018-11-23,NaN,1209.0,0,912,2,1.0,110.0,NaN
6630,sh,t0051110,Rent Change,2018-11-23,SH5946,2018-11-21,NaN,800.0,0,1006,2,1.5,0.0,NaN
6631,sh,t0051110,Rent Change,2018-11-26,SH5901,2018-11-28,NaN,775.0,0,1006,2,1.5,-25.0,NaN
6632,ce,t0051473,Rent Change,2018-11-30,M0002A,2019-01-07,NaN,760.0,0,635,1,1.0,0.0,NaN
6633,ce,t0051473,Rent Change,2018-11-30,M0005E,2018-12-08,NaN,790.0,0,635,1,1.0,30.0,NaN
6634,ce,t0051586,Rent Change,2018-12-03,C5322J,2019-01-14,NaN,695.0,0,675,1,1.0,0.0,NaN
6635,sh,t0052825,Rent Change,2018-12-31,WAIT-3TA,2018-12-28,NaN,735.0,0,1006,3,NaN,0.0,NaN
6636,sh,t0052825,Rent Change,2019-01-07,TH5979,2019-02-01,NaN,800.0,0,1006,3,1.5,65.0,NaN
6637,mpg,t0052899,Rent Change,2018-12-31,1978-10B,2019-01-04,NaN,1176.0,0,895,2,2.0,0.0,NaN
6638,mpg,t0052899,Rent Change,2019-01-09,1978-10B,2019-01-10,NaN,1294.0,0,895,2,2.0,118.0,NaN
6639,mpg,tl108376,Rent Change,2018-04-05,1986-05B,2018-04-07,NaN,1050.0,0,835,1,1.0,0.0,NaN
6640,mpg,tl110367,Rent Change,2017-11-15,2006-06C,2017-11-27,NaN,1050.0,0,835,1,1.0,0.0,NaN
6641,mpg,tl110367,Rent Change,2017-11-15,1968-07C,2017-11-27,NaN,1099.0,0,835,1,1.0,49.0,NaN
6642,mpg,tl110367,Rent Change,2017-11-27,1968-09B,2017-11-27,2018-05-26,1099.0,1,835,1,1.0,0.0,180 days 00:00:00.000000000
6643,fh,tl115488,Rent Change,2018-02-06,1112A,2018-02-23,NaN,974.0,0,700,1,1.0,0.0,NaN
6644,mpg,tl115688,Rent Change,2018-01-30,1968-09C,2018-02-15,NaN,1099.0,0,835,1,1.0,0.0,NaN
6645,mpg,tl116411,Rent Change,2018-04-21,2030-07A,2018-06-05,NaN,1299.0,0,895,2,2.0,0.0,NaN
6646,fh,tl117521,Rent Change,2018-02-23,4731A,2018-06-02,NaN,985.0,0,912,2,1.0,0.0,NaN
6647,fh,tl117521,Rent Change,2018-03-15,1041B,2018-06-02,NaN,1000.0,0,912,2,1.0,15.0,NaN
6648,fh,tl117521,Rent Change,2018-04-19,1081B,2018-06-02,NaN,1135.0,0,912,2,1.0,135.0,NaN
6649,fh,tl117521,Rent Change,2018-04-19,1081B,2018-06-02,NaN,985.0,0,912,2,1.0,-150.0,NaN
6650,mpg,tl122318,Rent Change,2018-04-16,1968-07B,2018-05-12,NaN,1119.0,0,835,1,1.0,0.0,NaN
6651,mpg,tl122655,Rent Change,2018-04-17,1966-03B,2018-05-10,NaN,1119.0,0,1040,2,2.0,0.0,NaN
6652,mpg,tl122981,Rent Change,2018-04-20,1968-07B,2018-06-04,NaN,1119.0,0,835,1,1.0,0.0,NaN
6653,fh,tl127278,Rent Change,2018-06-16,1122AB,2018-06-15,NaN,1135.0,0,912,2,1.0,0.0,NaN

In [3]:
indexNames = rent_df[rent_df["Rent"] == rent_df ["chrent"]].index
rent_df.drop(indexNames, inplace = True)
outliers = rent_df[rent_df["chrent"] >= 500].index
rent_df.drop(outliers, inplace = True)
outliers2 = rent_df[rent_df["chrent"] <= -500].index
rent_df.drop(outliers2, inplace = True)
rent_df

,Property_Code,Tenant_Code,Event,DateOccurred,Unit_Code,DateMoveIn,DateMoveOut,Rent,Vacancy,SQFT,BedRooms,Bathroom,chrent,LengthStay
1,ce,t0013745,Rent Change,2014-05-31,C05266,2006-11-09,2015-01-31,896.0,1,1400,3,2.5,26.0,245 days 00:00:00.000000000
4,ce,t0013748,Rent Change,2013-09-30,C05272,2012-09-28,NaN,800.0,0,1088,2,1.5,30.0,NaN
5,ce,t0013748,Rent Change,2014-11-01,C05272,2012-09-28,2015-10-31,824.0,1,1088,2,1.5,24.0,364 days 00:00:00.000000000
9,ce,t0013749,Rent Change,2013-12-31,C05274,2008-11-26,NaN,915.0,0,1400,3,2.5,35.0,NaN
10,ce,t0013749,Rent Change,2015-03-01,C05274,2008-11-26,NaN,924.0,0,1400,3,2.5,9.0,NaN
11,ce,t0013749,Rent Change,2016-02-29,C05274,2008-11-26,NaN,970.0,0,1400,3,2.5,46.0,NaN
12,ce,t0013749,Rent Change,2018-02-28,C05274,2008-11-26,NaN,1044.0,0,1400,3,2.5,74.0,NaN
14,ce,t0013750,Rent Change,2013-06-30,C05276,2001-07-21,NaN,890.0,0,1400,3,2.5,10.0,NaN
15,ce,t0013750,Rent Change,2014-06-30,C05276,2001-07-21,NaN,917.0,0,1400,3,2.5,27.0,NaN
16,ce,t0013750,Rent Change,2015-06-30,C05276,2001-07-21,NaN,945.0,0,1400,3,2.5,28.0,NaN
17,ce,t0013750,Rent Change,2016-06-30,C05276,2001-07-21,2017-06-30,999.0,1,1400,3,2.5,54.0,365 days 00:00:00.000000000
19,ce,t0013751,Rent Change,2013-09-30,C05278,2011-09-16,NaN,803.0,0,1088,2,1.5,23.0,NaN
22,ce,t0013751,Rent Change,2015-01-01,C05278,2011-09-16,NaN,810.0,0,1088,2,1.5,7.0,NaN
23,ce,t0013751,Rent Change,2015-06-30,C05278,2011-09-16,2015-10-18,834.0,1,1088,2,1.5,24.0,110 days 00:00:00.000000000
25,ce,t0013752,Rent Change,2014-05-31,C05280,2010-04-23,NaN,803.0,0,1088,2,1.5,23.0,NaN
26,ce,t0013752,Rent Change,2015-05-31,C05280,2010-04-23,NaN,827.0,0,1088,2,1.5,24.0,NaN
27,ce,t0013752,Rent Change,2016-05-31,C05280,2010-04-23,2017-05-31,859.0,1,1088,2,1.5,32.0,365 days 00:00:00.000000000
31,ce,t0013755,Rent Change,2013-06-30,C0003A,2010-07-29,2013-07-31,640.0,1,905,2,1.0,10.0,31 days 00:00:00.000000000
33,ce,t0013756,Rent Change,2013-09-01,C0003B,2008-09-01,NaN,660.0,0,905,2,1.0,30.0,NaN
34,ce,t0013756,Rent Change,2014-09-30,C0003B,2008-09-01,2015-08-15,680.0,1,905,2,1.0,20.0,319 days 00:00:00.000000000
36,ce,t0013757,Rent Change,2013-09-01,C0003C,2012-08-03,2014-08-31,670.0,1,905,2,1.0,30.0,364 days 00:00:00.000000000
39,ce,t0013759,Rent Change,2013-06-30,C0003E,2008-06-26,2014-06-01,650.0,1,905,2,1.0,10.0,336 days 00:00:00.000000000
41,ce,t0013760,Rent Change,2013-12-01,C0003F,2003-09-19,2014-08-25,665.0,1,905,2,1.0,25.0,267 days 00:00:00.000000000
44,ce,t0013762,Rent Change,2014-05-31,C0003H,2009-12-02,NaN,659.0,0,905,2,1.0,19.0,NaN
45,ce,t0013762,Rent Change,2015-05-31,C0003H,2009-12-02,2016-04-21,679.0,1,905,2,1.0,20.0,326 days 00:00:00.000000000
48,ce,t0013764,Rent Change,2013-10-31,C0003K,2011-08-19,2014-01-13,676.0,1,905,2,1.0,26.0,74 days 00:00:00.000000000
50,ce,t0013765,Rent Change,2013-08-01,C0003L,2012-08-01,NaN,680.0,0,905,2,1.0,30.0,NaN
51,ce,t0013765,Rent Change,2014-07-31,C0003L,2012-08-01,NaN,700.0,0,905,2,1.0,20.0,NaN
52,ce,t0013765,Rent Change,2014-09-01,C0003L,2012-08-01,NaN,710.0,0,905,2,1.0,10.0,NaN
53,ce,t0013765,Rent Change,2015-07-31,C0003L,2012-08-01,2016-07-31,720.0,1,905,2,1.0,10.0,366 days 00:00:00.000000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6624,mpg,t0050622,Rent Change,2018-11-12,2010-04B,2018-11-17,NaN,1100.0,0,1040,2,2.0,0.0,NaN
6625,mpg,t0050773,Rent Change,2018-11-19,2036-06B,2019-01-31,NaN,1449.0,0,1040,2,2.0,0.0,NaN
6626,mpg,t0050791,Rent Change,2018-11-16,2024-09B,2018-12-07,NaN,1195.0,0,835,1,1.0,0.0,NaN
6627,mpg,t0050791,Rent Change,2018-11-20,1980-07B,2018-11-30,NaN,1449.0,0,1040,2,2.0,254.0,NaN
6628,fh,t0050919,Rent Change,2018-11-21,1064A,2018-11-23,NaN,1099.0,0,912,2,1.0,0.0,NaN
6629,fh,t0050919,Rent Change,2018-11-25,1064A,2018-11-23,NaN,1209.0,0,912,2,1.0,110.0,NaN
6630,sh,t0051110,Rent Change,2018-11-23,SH5946,2018-11-21,NaN,800.0,0,1006,2,1.5,0.0,NaN
6631,sh,t0051110,Rent Change,2018-11-26,SH5901,2018-11-28,NaN,775.0,0,1006,2,1.5,-25.0,NaN
6632,ce,t0051473,Rent Change,2018-11-30,M0002A,2019-01-07,NaN,760.0,0,635,1,1.0,0.0,NaN
6633,ce,t0051473,Rent Change,2018-11-30,M0005E,2018-12-08,NaN,790.0,0,635,1,1.0,30.0,NaN
6634,ce,t0051586,Rent Change,2018-12-03,C5322J,2019-01-14,NaN,695.0,0,675,1,1.0,0.0,NaN
6635,sh,t0052825,Rent Change,2018-12-31,WAIT-3TA,2018-12-28,NaN,735.0,0,1006,3,NaN,0.0,NaN
6636,sh,t0052825,Rent Change,2019-01-07,TH5979,2019-02-01,NaN,800.0,0,1006,3,1.5,65.0,NaN
6637,mpg,t0052899,Rent Change,2018-12-31,1978-10B,2019-01-04,NaN,1176.0,0,895,2,2.0,0.0,NaN
6638,mpg,t0052899,Rent Change,2019-01-09,1978-10B,2019-01-10,NaN,1294.0,0,895,2,2.0,118.0,NaN
6639,mpg,tl108376,Rent Change,2018-04-05,1986-05B,2018-04-07,NaN,1050.0,0,835,1,1.0,0.0,NaN
6640,mpg,tl110367,Rent Change,2017-11-15,2006-06C,2017-11-27,NaN,1050.0,0,835,1,1.0,0.0,NaN
6641,mpg,tl110367,Rent Change,2017-11-15,1968-07C,2017-11-27,NaN,1099.0,0,835,1,1.0,49.0,NaN
6642,mpg,tl110367,Rent Change,2017-11-27,1968-09B,2017-11-27,2018-05-26,1099.0,1,835,1,1.0,0.0,180 days 00:00:00.000000000
6643,fh,tl115488,Rent Change,2018-02-06,1112A,2018-02-23,NaN,974.0,0,700,1,1.0,0.0,NaN
6644,mpg,tl115688,Rent Change,2018-01-30,1968-09C,2018-02-15,NaN,1099.0,0,835,1,1.0,0.0,NaN
6645,mpg,tl116411,Rent Change,2018-04-21,2030-07A,2018-06-05,NaN,1299.0,0,895,2,2.0,0.0,NaN
6646,fh,tl117521,Rent Change,2018-02-23,4731A,2018-06-02,NaN,985.0,0,912,2,1.0,0.0,NaN
6647,fh,tl117521,Rent Change,2018-03-15,1041B,2018-06-02,NaN,1000.0,0,912,2,1.0,15.0,NaN
6648,fh,tl117521,Rent Change,2018-04-19,1081B,2018-06-02,NaN,1135.0,0,912,2,1.0,135.0,NaN
6649,fh,tl117521,Rent Change,2018-04-19,1081B,2018-06-02,NaN,985.0,0,912,2,1.0,-150.0,NaN
6650,mpg,tl122318,Rent Change,2018-04-16,1968-07B,2018-05-12,NaN,1119.0,0,835,1,1.0,0.0,NaN
6651,mpg,tl122655,Rent Change,2018-04-17,1966-03B,2018-05-10,NaN,1119.0,0,1040,2,2.0,0.0,NaN
6652,mpg,tl122981,Rent Change,2018-04-20,1968-07B,2018-06-04,NaN,1119.0,0,835,1,1.0,0.0,NaN
6653,fh,tl127278,Rent Change,2018-06-16,1122AB,2018-06-15,NaN,1135.0,0,912,2,1.0,0.0,NaN

In [4]:
X = rent_df[["SQFT", "BedRooms", "Bathroom", "chrent", "Property_Code"]]
y = rent_df["Vacancy"]
print(X.shape, y.shape)

(6215, 5) (6215,)

In [5]:
data = X.copy()

data_binary_encoded = pd.get_dummies(data, columns = ["Property_Code"])
data_binary_encoded.head()

,SQFT,BedRooms,Bathroom,chrent,Property_Code_ce,Property_Code_fh,Property_Code_mpg,Property_Code_sh
1,1400,3,2.5,26.0,1,0,0,0
4,1088,2,1.5,30.0,1,0,0,0
5,1088,2,1.5,24.0,1,0,0,0
9,1400,3,2.5,35.0,1,0,0,0
10,1400,3,2.5,9.0,1,0,0,0

In [6]:
data_binary_encoded = data_binary_encoded.fillna(0)

In [7]:
data_binary_encoded.dtypes

SQFT                   int64
BedRooms               int64
Bathroom             float64
chrent               float64
Property_Code_ce       uint8
Property_Code_fh       uint8
Property_Code_mpg      uint8
Property_Code_sh       uint8
dtype: object

In [8]:
data_binary_encoded ["BedRooms"]= data_binary_encoded["BedRooms"].astype(float)
data_binary_encoded ["Property_Code_ce"]= data_binary_encoded["Property_Code_ce"].astype(float)
data_binary_encoded ["Property_Code_fh"]= data_binary_encoded["Property_Code_fh"].astype(float)
data_binary_encoded ["Property_Code_mpg"]= data_binary_encoded["Property_Code_mpg"].astype(float)
data_binary_encoded ["Property_Code_sh"]= data_binary_encoded["Property_Code_sh"].astype(float)

In [9]:
print (data_binary_encoded.shape)
print (y.shape)

(6215, 8)
(6215,)

In [10]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from keras.utils import to_categorical

X_train, X_test, y_train, y_test = train_test_split(data_binary_encoded, y, stratify=y, random_state=42)

label_encoder = LabelEncoder()
label_encoder.fit(y_train)
encoded_y_train = label_encoder.transform(y_train)
encoded_y_test = label_encoder.transform(y_test)

y_train_categorical = to_categorical(encoded_y_train)
y_test_categorical = to_categorical(encoded_y_test)

Using TensorFlow backend.

In [11]:
print(X_test.shape)
print (y_test_categorical.shape)
print (X_train.shape)

(1554, 8)
(1554, 2)
(4661, 8)

In [12]:
from keras.models import Sequential
from keras.layers import Dense
deep_model = Sequential()

deep_model.add(Dense(units=100, activation='relu', input_dim=8))
deep_model.add(Dense(units=100, activation='relu'))
deep_model.add(Dense(units=2, activation='softmax'))

In [135]:
deep_model.compile(optimizer='sgd',
                   loss='mean_squared_error',
                   metrics=['accuracy'])

deep_model.fit(
    X_train,
    y_train_categorical,
    epochs=100,
    shuffle=True,
    verbose=2
)

Epoch 1/100
 - 1s - loss: 0.2531 - acc: 0.7469
Epoch 2/100
 - 0s - loss: 0.2531 - acc: 0.7469
Epoch 3/100
 - 0s - loss: 0.2531 - acc: 0.7469
Epoch 4/100
 - 0s - loss: 0.2531 - acc: 0.7469
Epoch 5/100
 - 0s - loss: 0.2531 - acc: 0.7469
Epoch 6/100
 - 0s - loss: 0.2531 - acc: 0.7469
Epoch 7/100
 - 0s - loss: 0.2531 - acc: 0.7469
Epoch 8/100
 - 0s - loss: 0.2531 - acc: 0.7469
Epoch 9/100
 - 0s - loss: 0.2531 - acc: 0.7469
Epoch 10/100
 - 0s - loss: 0.2531 - acc: 0.7469
Epoch 11/100
 - 0s - loss: 0.2531 - acc: 0.7469
Epoch 12/100
 - 0s - loss: 0.2531 - acc: 0.7469
Epoch 13/100
 - 0s - loss: 0.2531 - acc: 0.7469
Epoch 14/100
 - 0s - loss: 0.2531 - acc: 0.7469
Epoch 15/100
 - 0s - loss: 0.2531 - acc: 0.7469
Epoch 16/100
 - 0s - loss: 0.2531 - acc: 0.7469
Epoch 17/100
 - 0s - loss: 0.2531 - acc: 0.7469
Epoch 18/100
 - 0s - loss: 0.2531 - acc: 0.7469
Epoch 19/100
 - 0s - loss: 0.2531 - acc: 0.7469
Epoch 20/100
 - 0s - loss: 0.2531 - acc: 0.7469
Epoch 21/100
 - 0s - loss: 0.2531 - acc: 0.7469
Epoch 22/100
 - 0s - loss: 0.2531 - acc: 0.7469
Epoch 23/100
 - 0s - loss: 0.2531 - acc: 0.7469
Epoch 24/100
 - 0s - loss: 0.2531 - acc: 0.7469
Epoch 25/100
 - 0s - loss: 0.2531 - acc: 0.7469
Epoch 26/100
 - 0s - loss: 0.2531 - acc: 0.7469
Epoch 27/100
 - 0s - loss: 0.2531 - acc: 0.7469
Epoch 28/100
 - 0s - loss: 0.2531 - acc: 0.7469
Epoch 29/100
 - 0s - loss: 0.2531 - acc: 0.7469
Epoch 30/100
 - 0s - loss: 0.2531 - acc: 0.7469
Epoch 31/100
 - 0s - loss: 0.2531 - acc: 0.7469
Epoch 32/100
 - 0s - loss: 0.2531 - acc: 0.7469
Epoch 33/100
 - 0s - loss: 0.2531 - acc: 0.7469
Epoch 34/100
 - 0s - loss: 0.2531 - acc: 0.7469
Epoch 35/100
 - 0s - loss: 0.2531 - acc: 0.7469
Epoch 36/100
 - 0s - loss: 0.2531 - acc: 0.7469
Epoch 37/100
 - 0s - loss: 0.2531 - acc: 0.7469
Epoch 38/100
 - 0s - loss: 0.2531 - acc: 0.7469
Epoch 39/100
 - 0s - loss: 0.2531 - acc: 0.7469
Epoch 40/100
 - 0s - loss: 0.2531 - acc: 0.7469
Epoch 41/100
 - 0s - loss: 0.2531 - acc: 0.7469
Epoch 42/100
 - 0s - loss: 0.2531 - acc: 0.7469
Epoch 43/100
 - 0s - loss: 0.2531 - acc: 0.7469
Epoch 44/100
 - 0s - loss: 0.2531 - acc: 0.7469
Epoch 45/100
 - 0s - loss: 0.2531 - acc: 0.7469
Epoch 46/100
 - 0s - loss: 0.2531 - acc: 0.7469
Epoch 47/100
 - 0s - loss: 0.2531 - acc: 0.7469
Epoch 48/100
 - 0s - loss: 0.2531 - acc: 0.7469
Epoch 49/100
 - 0s - loss: 0.2531 - acc: 0.7469
Epoch 50/100
 - 0s - loss: 0.2531 - acc: 0.7469
Epoch 51/100
 - 0s - loss: 0.2531 - acc: 0.7469
Epoch 52/100
 - 0s - loss: 0.2531 - acc: 0.7469
Epoch 53/100
 - 0s - loss: 0.2531 - acc: 0.7469
Epoch 54/100
 - 0s - loss: 0.2531 - acc: 0.7469
Epoch 55/100
 - 0s - loss: 0.2531 - acc: 0.7469
Epoch 56/100
 - 0s - loss: 0.2531 - acc: 0.7469
Epoch 57/100
 - 0s - loss: 0.2531 - acc: 0.7469
Epoch 58/100
 - 0s - loss: 0.2531 - acc: 0.7469
Epoch 59/100
 - 0s - loss: 0.2531 - acc: 0.7469
Epoch 60/100
 - 0s - loss: 0.2531 - acc: 0.7469
Epoch 61/100
 - 0s - loss: 0.2531 - acc: 0.7469
Epoch 62/100
 - 0s - loss: 0.2531 - acc: 0.7469
Epoch 63/100
 - 0s - loss: 0.2531 - acc: 0.7469
Epoch 64/100
 - 0s - loss: 0.2531 - acc: 0.7469
Epoch 65/100
 - 0s - loss: 0.2531 - acc: 0.7469
Epoch 66/100
 - 0s - loss: 0.2531 - acc: 0.7469
Epoch 67/100
 - 0s - loss: 0.2531 - acc: 0.7469
Epoch 68/100
 - 0s - loss: 0.2531 - acc: 0.7469
Epoch 69/100
 - 0s - loss: 0.2531 - acc: 0.7469
Epoch 70/100
 - 0s - loss: 0.2531 - acc: 0.7469
Epoch 71/100
 - 0s - loss: 0.2531 - acc: 0.7469
Epoch 72/100
 - 0s - loss: 0.2531 - acc: 0.7469
Epoch 73/100
 - 0s - loss: 0.2531 - acc: 0.7469
Epoch 74/100
 - 0s - loss: 0.2531 - acc: 0.7469
Epoch 75/100
 - 0s - loss: 0.2531 - acc: 0.7469
Epoch 76/100
 - 0s - loss: 0.2531 - acc: 0.7469
Epoch 77/100
 - 0s - loss: 0.2531 - acc: 0.7469
Epoch 78/100
 - 0s - loss: 0.2531 - acc: 0.7469
Epoch 79/100
 - 0s - loss: 0.2531 - acc: 0.7469
Epoch 80/100
 - 0s - loss: 0.2531 - acc: 0.7469
Epoch 81/100
 - 0s - loss: 0.2531 - acc: 0.7469
Epoch 82/100
 - 0s - loss: 0.2531 - acc: 0.7469
Epoch 83/100
 - 0s - loss: 0.2531 - acc: 0.7469
Epoch 84/100
 - 0s - loss: 0.2531 - acc: 0.7469
Epoch 85/100
 - 0s - loss: 0.2531 - acc: 0.7469
Epoch 86/100
 - 0s - loss: 0.2531 - acc: 0.7469
Epoch 87/100
 - 0s - loss: 0.2531 - acc: 0.7469
Epoch 88/100
 - 0s - loss: 0.2531 - acc: 0.7469
Epoch 89/100
 - 0s - loss: 0.2531 - acc: 0.7469
Epoch 90/100
 - 0s - loss: 0.2531 - acc: 0.7469
Epoch 91/100
 - 0s - loss: 0.2531 - acc: 0.7469
Epoch 92/100
 - 0s - loss: 0.2531 - acc: 0.7469
Epoch 93/100
 - 0s - loss: 0.2531 - acc: 0.7469
Epoch 94/100
 - 0s - loss: 0.2531 - acc: 0.7469
Epoch 95/100
 - 0s - loss: 0.2531 - acc: 0.7469
Epoch 96/100
 - 0s - loss: 0.2531 - acc: 0.7469
Epoch 97/100
 - 0s - loss: 0.2531 - acc: 0.7469
Epoch 98/100
 - 0s - loss: 0.2531 - acc: 0.7469
Epoch 99/100
 - 0s - loss: 0.2531 - acc: 0.7469
Epoch 100/100
 - 0s - loss: 0.2531 - acc: 0.7469

In [133]:
model_loss, model_accuracy = deep_model.evaluate(
    X_test, y_test_categorical, verbose=2)
print(f"Deep Neural Network - Loss: {model_loss}, Accuracy: {model_accuracy}")

Deep Neural Network - Loss: 0.2526246719160105, Accuracy: 0.7473753280839895

In [134]:
deep_predictions = deep_model.predict_classes(X_test)
deep_predictor = pd.DataFrame({"Predictions": deep_predictions, "Actual": y_test})
deep_predictor.loc[deep_predictor["Predictions"] == 1, "Predictions"] = "Vacant"
deep_predictor.loc[deep_predictor["Predictions"] == 0, "Predictions"] = "Occupied"
deep_predictor.loc[deep_predictor["Actual"] == 1, "Actual"] = "Vacant"
deep_predictor.loc[deep_predictor["Actual"] == 0, "Actual"] = "Occupied"
deep_predictor

     Predictions    Actual
370     Occupied    Vacant
1301    Occupied  Occupied
1255    Occupied  Occupied
4067    Occupied    Vacant
4772    Occupied  Occupied
3291    Occupied  Occupied
6124    Occupied  Occupied
5971    Occupied  Occupied
916     Occupied  Occupied
1253    Occupied    Vacant
2983    Occupied  Occupied
1392    Occupied  Occupied
6548    Occupied  Occupied
5165    Occupied  Occupied
4234    Occupied  Occupied
2304    Occupied  Occupied
2643    Occupied  Occupied
109     Occupied    Vacant
4112    Occupied  Occupied
6076    Occupied  Occupied
5959    Occupied  Occupied
3963    Occupied    Vacant
2955    Occupied  Occupied
3411    Occupied  Occupied
1174    Occupied  Occupied
5096    Occupied    Vacant
5354    Occupied  Occupied
6407    Occupied  Occupied
526     Occupied  Occupied
5283    Occupied  Occupied
...          ...       ...
3150    Occupied  Occupied
5322    Occupied  Occupied
206     Occupied  Occupied
2274    Occupied    Vacant
391     Occupied  Occupied
3844    Occupied    Vacant
2455    Occupied  Occupied
2913    Occupied  Occupied
4101    Occupied    Vacant
2237    Occupied  Occupied
4280    Occupied  Occupied
4816    Occupied  Occupied
2631    Occupied  Occupied
1777    Occupied  Occupied
3032    Occupied    Vacant
954     Occupied  Occupied
1409    Occupied    Vacant
5711    Occupied  Occupied
2970    Occupied  Occupied
4205    Occupied  Occupied
5008    Occupied  Occupied
4832    Occupied  Occupied
6029    Occupied  Occupied
1125    Occupied    Vacant
1694    Occupied  Occupied
3521    Occupied    Vacant
3388    Occupied  Occupied
1618    Occupied  Occupied
4621    Occupied    Vacant
3396    Occupied  Occupied

[1524 rows x 2 columns]

In [16]:
deep_model.save("logistics_deep_network.h5")

In [18]:
filename = "logisitic_depp_network.pkl"
list_pickle = open(filename, "wb")
pickle.dump(deep_model, list_pickle)
list_pickle.close()

In [20]:
deep_model.predict_classes([[[1400,3,2.5,26.0,1,0,0,0]]])

array([0], dtype=int64)

In [136]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, stratify=y)