In [17]:
%matplotlib inline
from sklearn.neighbors import KNeighborsClassifier
import matplotlib.pyplot as plt
import pandas as pd
import os
import warnings
warnings.simplefilter('ignore')
import numpy as np
import pickle

In [18]:
rent = "final.csv"
rent_df = pd.read_csv(rent)
rent_df = rent_df.drop(["Unnamed: 0"], axis = 1)
rent_df.head()

,Property_Code,Tenant_Code,Event,DateOccurred,Unit_Code,DateMoveIn,DateMoveOut,Rent,Vacancy,SQFT,BedRooms,Bathroom,chrent,LengthStay
0,ce,t0013745,Rent Change,4/30/2013,C05266,11/9/2006,NaN,870.0,0,1400,3,2.5,870.0,NaN
1,ce,t0013745,Rent Change,5/31/2014,C05266,11/9/2006,1/31/2015,896.0,1,1400,3,2.5,26.0,245 days 00:00:00.000000000
2,ce,t0013747,Rent Change,4/30/2013,C05270,7/16/2012,8/11/2013,770.0,1,1088,2,1.5,770.0,103 days 00:00:00.000000000
3,ce,t0013748,Rent Change,4/30/2013,C05272,9/28/2012,NaN,770.0,0,1088,2,1.5,770.0,NaN
4,ce,t0013748,Rent Change,9/30/2013,C05272,9/28/2012,NaN,800.0,0,1088,2,1.5,30.0,NaN

In [19]:
indexNames = rent_df[rent_df["Rent"] == rent_df ["chrent"]].index
rent_df.drop(indexNames, inplace = True)
outliers = rent_df[rent_df["chrent"] >= 500].index
rent_df.drop(outliers, inplace = True)
outliers2 = rent_df[rent_df["chrent"] <= -500].index
rent_df.drop(outliers2, inplace = True)
rent_df

,Property_Code,Tenant_Code,Event,DateOccurred,Unit_Code,DateMoveIn,DateMoveOut,Rent,Vacancy,SQFT,BedRooms,Bathroom,chrent,LengthStay
1,ce,t0013745,Rent Change,5/31/2014,C05266,11/9/2006,1/31/2015,896.0,1,1400,3,2.5,26.0,245 days 00:00:00.000000000
4,ce,t0013748,Rent Change,9/30/2013,C05272,9/28/2012,NaN,800.0,0,1088,2,1.5,30.0,NaN
5,ce,t0013748,Rent Change,11/1/2014,C05272,9/28/2012,10/31/2015,824.0,1,1088,2,1.5,24.0,364 days 00:00:00.000000000
9,ce,t0013749,Rent Change,12/31/2013,C05274,11/26/2008,NaN,915.0,0,1400,3,2.5,35.0,NaN
10,ce,t0013749,Rent Change,3/1/2015,C05274,11/26/2008,NaN,924.0,0,1400,3,2.5,9.0,NaN
11,ce,t0013749,Rent Change,2/29/2016,C05274,11/26/2008,NaN,970.0,0,1400,3,2.5,46.0,NaN
12,ce,t0013749,Rent Change,2/28/2018,C05274,11/26/2008,NaN,1044.0,0,1400,3,2.5,74.0,NaN
14,ce,t0013750,Rent Change,6/30/2013,C05276,7/21/2001,NaN,890.0,0,1400,3,2.5,10.0,NaN
15,ce,t0013750,Rent Change,6/30/2014,C05276,7/21/2001,NaN,917.0,0,1400,3,2.5,27.0,NaN
16,ce,t0013750,Rent Change,6/30/2015,C05276,7/21/2001,NaN,945.0,0,1400,3,2.5,28.0,NaN
17,ce,t0013750,Rent Change,6/30/2016,C05276,7/21/2001,6/30/2017,999.0,1,1400,3,2.5,54.0,365 days 00:00:00.000000000
19,ce,t0013751,Rent Change,9/30/2013,C05278,9/16/2011,NaN,803.0,0,1088,2,1.5,23.0,NaN
22,ce,t0013751,Rent Change,1/1/2015,C05278,9/16/2011,NaN,810.0,0,1088,2,1.5,7.0,NaN
23,ce,t0013751,Rent Change,6/30/2015,C05278,9/16/2011,10/18/2015,834.0,1,1088,2,1.5,24.0,110 days 00:00:00.000000000
25,ce,t0013752,Rent Change,5/31/2014,C05280,4/23/2010,NaN,803.0,0,1088,2,1.5,23.0,NaN
26,ce,t0013752,Rent Change,5/31/2015,C05280,4/23/2010,NaN,827.0,0,1088,2,1.5,24.0,NaN
27,ce,t0013752,Rent Change,5/31/2016,C05280,4/23/2010,5/31/2017,859.0,1,1088,2,1.5,32.0,365 days 00:00:00.000000000
31,ce,t0013755,Rent Change,6/30/2013,C0003A,7/29/2010,7/31/2013,640.0,1,905,2,1.0,10.0,31 days 00:00:00.000000000
33,ce,t0013756,Rent Change,9/1/2013,C0003B,9/1/2008,NaN,660.0,0,905,2,1.0,30.0,NaN
34,ce,t0013756,Rent Change,9/30/2014,C0003B,9/1/2008,8/15/2015,680.0,1,905,2,1.0,20.0,319 days 00:00:00.000000000
36,ce,t0013757,Rent Change,9/1/2013,C0003C,8/3/2012,8/31/2014,670.0,1,905,2,1.0,30.0,364 days 00:00:00.000000000
39,ce,t0013759,Rent Change,6/30/2013,C0003E,6/26/2008,6/1/2014,650.0,1,905,2,1.0,10.0,336 days 00:00:00.000000000
41,ce,t0013760,Rent Change,12/1/2013,C0003F,9/19/2003,8/25/2014,665.0,1,905,2,1.0,25.0,267 days 00:00:00.000000000
44,ce,t0013762,Rent Change,5/31/2014,C0003H,12/2/2009,NaN,659.0,0,905,2,1.0,19.0,NaN
45,ce,t0013762,Rent Change,5/31/2015,C0003H,12/2/2009,4/21/2016,679.0,1,905,2,1.0,20.0,326 days 00:00:00.000000000
48,ce,t0013764,Rent Change,10/31/2013,C0003K,8/19/2011,1/13/2014,676.0,1,905,2,1.0,26.0,74 days 00:00:00.000000000
50,ce,t0013765,Rent Change,8/1/2013,C0003L,8/1/2012,NaN,680.0,0,905,2,1.0,30.0,NaN
51,ce,t0013765,Rent Change,7/31/2014,C0003L,8/1/2012,NaN,700.0,0,905,2,1.0,20.0,NaN
52,ce,t0013765,Rent Change,9/1/2014,C0003L,8/1/2012,NaN,710.0,0,905,2,1.0,10.0,NaN
53,ce,t0013765,Rent Change,7/31/2015,C0003L,8/1/2012,7/31/2016,720.0,1,905,2,1.0,10.0,366 days 00:00:00.000000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6624,mpg,t0050622,Rent Change,11/12/2018,2010-04B,11/17/2018,NaN,1100.0,0,1040,2,2.0,0.0,NaN
6625,mpg,t0050773,Rent Change,11/19/2018,2036-06B,1/31/2019,NaN,1449.0,0,1040,2,2.0,0.0,NaN
6626,mpg,t0050791,Rent Change,11/16/2018,2024-09B,12/7/2018,NaN,1195.0,0,835,1,1.0,0.0,NaN
6627,mpg,t0050791,Rent Change,11/20/2018,1980-07B,11/30/2018,NaN,1449.0,0,1040,2,2.0,254.0,NaN
6628,fh,t0050919,Rent Change,11/21/2018,1064A,11/23/2018,NaN,1099.0,0,912,2,1.0,0.0,NaN
6629,fh,t0050919,Rent Change,11/25/2018,1064A,11/23/2018,NaN,1209.0,0,912,2,1.0,110.0,NaN
6630,sh,t0051110,Rent Change,11/23/2018,SH5946,11/21/2018,NaN,800.0,0,1006,2,1.5,0.0,NaN
6631,sh,t0051110,Rent Change,11/26/2018,SH5901,11/28/2018,NaN,775.0,0,1006,2,1.5,-25.0,NaN
6632,ce,t0051473,Rent Change,11/30/2018,M0002A,1/7/2019,NaN,760.0,0,635,1,1.0,0.0,NaN
6633,ce,t0051473,Rent Change,11/30/2018,M0005E,12/8/2018,NaN,790.0,0,635,1,1.0,30.0,NaN
6634,ce,t0051586,Rent Change,12/3/2018,C5322J,1/14/2019,NaN,695.0,0,675,1,1.0,0.0,NaN
6635,sh,t0052825,Rent Change,12/31/2018,WAIT-3TA,12/28/2018,NaN,735.0,0,1006,3,NaN,0.0,NaN
6636,sh,t0052825,Rent Change,1/7/2019,TH5979,2/1/2019,NaN,800.0,0,1006,3,1.5,65.0,NaN
6637,mpg,t0052899,Rent Change,12/31/2018,1978-10B,1/4/2019,NaN,1176.0,0,895,2,2.0,0.0,NaN
6638,mpg,t0052899,Rent Change,1/9/2019,1978-10B,1/10/2019,NaN,1294.0,0,895,2,2.0,118.0,NaN
6639,mpg,tl108376,Rent Change,4/5/2018,1986-05B,4/7/2018,NaN,1050.0,0,835,1,1.0,0.0,NaN
6640,mpg,tl110367,Rent Change,11/15/2017,2006-06C,11/27/2017,NaN,1050.0,0,835,1,1.0,0.0,NaN
6641,mpg,tl110367,Rent Change,11/15/2017,1968-07C,11/27/2017,NaN,1099.0,0,835,1,1.0,49.0,NaN
6642,mpg,tl110367,Rent Change,11/27/2017,1968-09B,11/27/2017,5/26/2018,1099.0,1,835,1,1.0,0.0,180 days 00:00:00.000000000
6643,fh,tl115488,Rent Change,2/6/2018,1112A,2/23/2018,NaN,974.0,0,700,1,1.0,0.0,NaN
6644,mpg,tl115688,Rent Change,1/30/2018,1968-09C,2/15/2018,NaN,1099.0,0,835,1,1.0,0.0,NaN
6645,mpg,tl116411,Rent Change,4/21/2018,2030-07A,6/5/2018,NaN,1299.0,0,895,2,2.0,0.0,NaN
6646,fh,tl117521,Rent Change,2/23/2018,4731A,6/2/2018,NaN,985.0,0,912,2,1.0,0.0,NaN
6647,fh,tl117521,Rent Change,3/15/2018,1041B,6/2/2018,NaN,1000.0,0,912,2,1.0,15.0,NaN
6648,fh,tl117521,Rent Change,4/19/2018,1081B,6/2/2018,NaN,1135.0,0,912,2,1.0,135.0,NaN
6649,fh,tl117521,Rent Change,4/19/2018,1081B,6/2/2018,NaN,985.0,0,912,2,1.0,-150.0,NaN
6650,mpg,tl122318,Rent Change,4/16/2018,1968-07B,5/12/2018,NaN,1119.0,0,835,1,1.0,0.0,NaN
6651,mpg,tl122655,Rent Change,4/17/2018,1966-03B,5/10/2018,NaN,1119.0,0,1040,2,2.0,0.0,NaN
6652,mpg,tl122981,Rent Change,4/20/2018,1968-07B,6/4/2018,NaN,1119.0,0,835,1,1.0,0.0,NaN
6653,fh,tl127278,Rent Change,6/16/2018,1122AB,6/15/2018,NaN,1135.0,0,912,2,1.0,0.0,NaN

In [20]:
X = rent_df[["SQFT", "BedRooms", "Bathroom", "chrent", "Property_Code"]]
y = rent_df["Vacancy"]
print(X.shape, y.shape)

(6215, 5) (6215,)

In [21]:
data = X.copy()

data_binary_encoded = pd.get_dummies(data, columns = ["Property_Code"])
data_binary_encoded.head()

,SQFT,BedRooms,Bathroom,chrent,Property_Code_ce,Property_Code_fh,Property_Code_mpg,Property_Code_sh
1,1400,3,2.5,26.0,1,0,0,0
4,1088,2,1.5,30.0,1,0,0,0
5,1088,2,1.5,24.0,1,0,0,0
9,1400,3,2.5,35.0,1,0,0,0
10,1400,3,2.5,9.0,1,0,0,0

In [22]:
data_binary_encoded = data_binary_encoded.fillna(0)

In [23]:
data_binary_encoded.dtypes

SQFT                   int64
BedRooms               int64
Bathroom             float64
chrent               float64
Property_Code_ce       uint8
Property_Code_fh       uint8
Property_Code_mpg      uint8
Property_Code_sh       uint8
dtype: object

In [24]:
data_binary_encoded ["BedRooms"]= data_binary_encoded["BedRooms"].astype(float)
data_binary_encoded ["Property_Code_ce"]= data_binary_encoded["Property_Code_ce"].astype(float)
data_binary_encoded ["Property_Code_fh"]= data_binary_encoded["Property_Code_fh"].astype(float)
data_binary_encoded ["Property_Code_mpg"]= data_binary_encoded["Property_Code_mpg"].astype(float)
data_binary_encoded ["Property_Code_sh"]= data_binary_encoded["Property_Code_sh"].astype(float)

In [25]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data_binary_encoded, y, stratify=y, random_state=42)

In [26]:
from sklearn import tree
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train, y_train)
clf.score(X_test, y_test)

0.7232947232947233

In [27]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=200)
rf = rf.fit(X_train, y_train)
rf.score(X_test, y_test)

0.7245817245817245

In [28]:
prediction = rf.predict(X_test)
prediction_df =pd.DataFrame({"Predictions": prediction, "Actual": y_test})
prediction_df.loc[prediction_df["Predictions"] == 1, "Predictions"] = "Vacant"
prediction_df.loc[prediction_df["Predictions"] == 0, "Predictions"] = "Occupied"
prediction_df.loc[prediction_df["Actual"] == 1, "Actual"] = "Vacant"
prediction_df.loc[prediction_df["Actual"] == 0, "Actual"] = "Occupied"
prediction_df.head()

     Predictions    Actual
2235    Occupied  Occupied
4923    Occupied  Occupied
4772    Occupied  Occupied
5085    Occupied  Occupied
3665    Occupied  Occupied

In [29]:
prediction_df.loc[prediction_df["Predictions"] == "Vacant"]

     Predictions    Actual
4429      Vacant    Vacant
4641      Vacant  Occupied
3812      Vacant    Vacant
2420      Vacant  Occupied
988       Vacant  Occupied
146       Vacant    Vacant
1333      Vacant  Occupied
2431      Vacant  Occupied
4408      Vacant    Vacant
5520      Vacant  Occupied
4498      Vacant  Occupied
1175      Vacant  Occupied
1041      Vacant  Occupied
1164      Vacant    Vacant
2322      Vacant    Vacant
387       Vacant    Vacant
4434      Vacant  Occupied
6493      Vacant  Occupied
1467      Vacant    Vacant
1987      Vacant  Occupied
2391      Vacant    Vacant
4197      Vacant  Occupied
2669      Vacant  Occupied
1675      Vacant  Occupied
1324      Vacant    Vacant
183       Vacant    Vacant
2878      Vacant  Occupied
3367      Vacant  Occupied
5968      Vacant  Occupied
4006      Vacant  Occupied
...          ...       ...
1061      Vacant  Occupied
3475      Vacant  Occupied
2893      Vacant    Vacant
5231      Vacant  Occupied
1009      Vacant  Occupied
2919      Vacant  Occupied
155       Vacant    Vacant
960       Vacant    Vacant
2458      Vacant  Occupied
4139      Vacant  Occupied
4439      Vacant  Occupied
5263      Vacant  Occupied
4175      Vacant    Vacant
2881      Vacant  Occupied
2793      Vacant  Occupied
1447      Vacant  Occupied
2940      Vacant  Occupied
3485      Vacant  Occupied
3901      Vacant    Vacant
5471      Vacant  Occupied
5707      Vacant  Occupied
4573      Vacant  Occupied
4532      Vacant  Occupied
2950      Vacant  Occupied
2721      Vacant    Vacant
3157      Vacant  Occupied
4195      Vacant    Vacant
1704      Vacant    Vacant
5259      Vacant  Occupied
3170      Vacant    Vacant

[141 rows x 2 columns]

In [30]:
feature_names = data_binary_encoded.columns
sorted(zip(rf.feature_importances_, feature_names), reverse=True)

[(0.8036964467006937, 'chrent'),
 (0.09197747691913509, 'SQFT'),
 (0.041547789430155205, 'Bathroom'),
 (0.01836821200327742, 'BedRooms'),
 (0.01479909428643259, 'Property_Code_mpg'),
 (0.013060942022781163, 'Property_Code_fh'),
 (0.009123229402043128, 'Property_Code_ce'),
 (0.007426809235481683, 'Property_Code_sh')]

In [31]:
filename = "logisitic_depp_network.pkl"
list_pickle = open(filename, "wb")
pickle.dump(rf, list_pickle)
list_pickle.close()