In [1]:
import pandas as pd 
import matplotlib.pyplot as plt
import numpy as np
from datetime import datetime

In [2]:
tenants = "data/Tenant_History.csv"
tenants_df = pd.read_csv(tenants)
tenants_df.head()

C:\Users\basis\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (1,4,8,17,18,19,20,21,22,25) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,ResTenantHistory,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
0,Property_Code,Ref_Property_ID,Date,Tenant_Code,Ext_Ref_Tenant_Id,Event,DateOccurred,Unit_Code,Ref_Unit_Id,DateApply,...,DateNotice,RentedEvent,UnRentedEvent,Status,Rent,Deposit,Sqft,Notes,Reason,MTM
1,sh,NaN,11/18/2016,t0031357,NaN,Deposit Change,11/22/2016,WC5956H,NaN,11/16/2016,...,NaN,0,0,2,641,99,0,NaN,NaN,0
2,ce,NaN,11/22/2016,t0031261,NaN,Deposit Change,11/22/2016,M0008A,NaN,11/3/2016,...,NaN,0,0,0,728,708,0,NaN,NaN,0
3,ce,NaN,11/18/2016,t0031367,NaN,Deposit Change,11/22/2016,M0008A,NaN,11/17/2016,...,NaN,0,0,9,728,50,0,NaN,NaN,0
4,ce,NaN,11/18/2016,t0031350,NaN,Deposit Change,11/22/2016,M0012B,NaN,11/16/2016,...,NaN,0,0,9,888,50,0,NaN,NaN,0

In [3]:
tenants_df = tenants_df.drop(columns = ["Ref_Property_ID", "Ext_Ref_Tenant_Id", "Ref_Unit_Id", "Date"])

KeyError: "labels ['Ref_Property_ID' 'Ext_Ref_Tenant_Id' 'Ref_Unit_Id' 'Date'] not contained in axis"

In [ ]:
tenants_df["DateOccurred"] = pd.to_datetime(tenants_df["DateOccurred"], format= '%m/%d/%Y')
tenants_df["DateApply"] = pd.to_datetime(tenants_df["DateApply"], format= '%m/%d/%Y')
tenants_df["DateApprove"] = pd.to_datetime(tenants_df["DateApprove"], format= '%m/%d/%Y')
tenants_df["DateSign"] = pd.to_datetime(tenants_df["DateSign"], format= '%m/%d/%Y')
tenants_df["DateMoveIn"] = pd.to_datetime(tenants_df["DateMoveIn"], format= '%m/%d/%Y')
tenants_df["DateMoveOut"] = pd.to_datetime(tenants_df["DateMoveOut"], format= '%m/%d/%Y')
tenants_df["DateLeaseFrom"] = pd.to_datetime(tenants_df["DateLeaseFrom"], format= '%m/%d/%Y')
tenants_df["DateLeaseTo"] = pd.to_datetime(tenants_df["DateLeaseTo"], format= '%m/%d/%Y')
tenants_df["DateNotice"] = pd.to_datetime(tenants_df["DateNotice"], format= '%m/%d/%Y')
tenants_df["Length of Stay"]= tenants_df["DateMoveOut"] - tenants_df["DateMoveIn"]
tenants_df.sort_values(by=["Unit_Code"])

In [ ]:
rent_change = tenants_df.loc[tenants_df["Event"] == "Rent Change"]
rent_change["Days to Move"] = rent_change["DateMoveOut"] - rent_change["DateOccurred"]
rent_change.sort_values(by=["Unit_Code"])

In [ ]:
sh = tenants_df.loc[tenants_df["Property_Code"] == "sh"]
sh_rent = sh.loc[sh["Event"] == "Rent Change"]
sh_rent.head()

In [ ]:
moveout = tenants_df.dropna(subset = ["DateMoveOut"])
moveout.sort_values(["DateMoveOut", "Unit_Code"])

In [ ]:
moveout_event = moveout.groupby("Event").count()
moveout_event.head()

In [ ]:
cannotafford = tenants_df.loc[tenants_df["Notes"] == "Cannot Afford Apartment"]
cannotafford_df = cannotafford.groupby("Event").count()
cannotafford_df.head(25)

In [ ]:
apt_types = "common units.csv"
apt_types_df = pd.read_csv(apt_types, header=1)
apt_types_df = apt_types_df.drop(columns = ["Bldg_Code", "Available_Date", "Floor_Code", "Country", "Ref_Property_Id", "Ext_Ref_Unit_Id", "Ref_Building_Id", "Ref_Floor_Id", "Address_2","Address_3", "Address_4", "Location", 'Attributes_2', 'Attributes_3', 'Attributes_4', 'Attributes_5',
       'Attributes_6', 'Attributes_7', 'Attributes_8', 'Attributes_9',
       'Attributes_10', 'MLA', 'Lease_Type', 'Userdefined_1', 'Userdefined_2',
       'Userdefined_3', 'Userdefined_4', 'Userdefined_5', 'Userdefined_6',
       'Userdefined_7', 'Userdefined_8', 'Userdefined_9', 'Userdefined_10'])
apt_types_df.head()

In [ ]:
moveout = moveout.dropna(subset = ["Unit_Code"])
apt_types_df = apt_types_df.dropna(subset = ["Unit_Code"])
moveout["Unit_Code"] = moveout.Unit_Code.astype(str)
apt_types_df["Unit_Code"] = apt_types_df.Unit_Code.astype(str)

In [ ]:
tenant_apt = pd.merge(moveout, apt_types_df, on = "Unit_Code", how= "inner")
tenant_apt.head()

In [ ]:
tenant_apt = tenant_apt.drop(columns = ["Address_1", "DateApply", "MTM", "RentedEvent", "UnRentedEvent", "Status", "DateApprove", "DateSign", "Rent_x", "Property_Code_y", "Exclude", "DateNotice", "Rent_Ready" , "Unit_Type", "Date_Ready"])
tenant_apt.sort_values(["DateMoveOut", "Unit_Code"])

In [ ]:
tenant_apt.to_csv("")
df.to_csv(file_name, sep='\t')_